.LS-blog.LS-defaults
    .row
        h2.sec-header.title(i18n="misc.FOLLOW_BLOG")

    .row.blog-container.clear
        a.blog.col-xs-12.col-sm-6.col-md-4(
            ng-repeat="post in vars.feeds track by post.id"
            href="{{::post.link}}"
            target="_blank"
            analytics-on="click"
            analytics-category="footer"
            analytics-event="click"
            analytics-label="blog article"
        )
            article.background(style="background:url({{::post.image}}) no-repeat;background-size:cover")
                h5.overlay-text(ng-bind="::post.title")

                h6.overlay-text(ng-bind="::post.updated")

            p.post-text
                span.blog-copy(ng-bind-html="::post.description")
                span.read-more(i18n="common.READ_MORE")

    .row
        .subscribe
            a.h5.rss(
                type="application/rss+xml"
                href="{{::vars.rssLink}}"
                analytics-on="click"
                analytics-category="footer"
                analytics-event="click"
                analytics-label="rss subscribe"
            )
                span(i18n="common.SUBSCRIBE_ACTN")
                span=' '
                span.icon-rss