div
    view-title meta.ADDYOURS_TITLE

    meta(view-head, property="og:type", content="website")
    meta(view-head, property="og:url", content="https://www.chatterplot.com/add-yourself")
    meta(view-head, property="og:title", i18n=true, content="meta.ADDYOURS_TITLE")
    meta(view-head, property="og:description", i18n=true, content="meta.ADDYOURS_DESC")
    meta(view-head, property='og:image', content='https://i.imgur.com/XYp08gj.png')

    add-yourself

    site-footer