.sub-menu-bar
    ul
        li: a.menu-link(
                ui-sref="admin.event.bulkAdd"
                ng-class="{active:$state.includes('admin.event.bulkAdd')}"
            ) Bulk Add

.adm-event.content
    .inner-content(ui-view='')