.Quick-Search
    width em(185)
    position relative
    transition width 250ms ease-in

    ////////////////////////
    ////    $Classes   /////
    ////////////////////////
    .span-txt
        $font-bold(15)
        color $blue-2-50op
        text-transform capitalize
        margin-right .5em

    /////////////////////////
    ////   $Structure   /////
    /////////////////////////

    &.focus
        width em(320)

        &.show-box
            .step-container
                display block

    /*.lang-search .autocomplete-box .twitter-typeahead */.active-term
        padding em(8) em(12) !important
        transition padding 250ms ease-in

    .lang-search /*.autocomplete-box */
        .complete .twitter-typeahead
            display inline-block !important

        .term
            display none !important

    .step-container
        display none
        absolute left
        top 100%
        background $white
        border 1px solid $cyan
        border-radius em(3)
        @extends _modal-shadow
        width 100%


    .search-type
        background $light-blue-1
        padding em($default-padding)

    /*.search-type label*/.type-opt
        display block
        padding em($default-padding) 0
        border-bottom 1px solid $gray

        &:first-child
            padding-top 0

        &:last-child
            padding-bottom 0
            border none

        /*span*/.text
            $font-title(15)

    .search-loc
        padding em($default-padding)

    .submit-search
        padding 0 em($default-padding) em($default-padding)

    /*.submit-search button*/.search
        width 100%

    &.has-lang
        ::-webkit-input-placeholder /* WebKit, Blink, Edge */
            color $blue-2

        :-moz-placeholder /* Mozilla Firefox 4 to 18 */
            color $blue-2
            opacity  1

        ::-moz-placeholder /* Mozilla Firefox 19+ */
            color $blue-2
            opacity  1

        :-ms-input-placeholder /* Internet Explorer 10-11 */
            color $blue-2