form.Quick-Search.default-form.styled(
    ng-class="{'focus': vars.focus, 'show-box': vars.showBox}"
    name="qSearch"
)
    .step-1.lang-search
        lang-complete.input.icon-search(
            data-placeholder="activities.PLACEHOLDER-SEARCH_LANGUAGE"
            data-on-add="vars.getLanguage(languageID, name)"
            data-on-focus="vars.onFocus(event)"
            data-ref="vars.langComplete"
            data-allow-all="true"
            data-show-defaults="true"
        )

    .step-container
        .step-2.search-type
            label.type-opt
                input(
                    type="radio"
                    ng-model="vars.filter.type"
                    value="events"
                )
                span.radio
                span.text.icon-group(i18n="activities.EVENTS")
            label.type-opt
                input(
                    type="radio"
                    ng-model="vars.filter.type"
                    value="teachers"
                )
                span.radio
                span.text.icon-group(i18n="activities.TEACHERS")
            label.type-opt
                input(
                    type="radio"
                    ng-model="vars.filter.type"
                    value="tandems"
                )
                span.radio
                span.text.icon-person(i18n="activities.TANDEM_PARTNERS")

        .step-3.search-loc
            .default-loc(ng-if="!vars.location.force")
                span.span-txt(i18n="common.NEAR_LOCATION")
                a.styled-link(
                    ng-bind="::vars.location.default"
                    ng-click="vars.toggleLocation()"
                )
            google-location.input-loc(
                ng-if="vars.location.force"
                data-source="vars.filter.location"
                data-required="true"
                data-placeholder="activities.PLACEHOLDER-SEARCH_CITY"
                data-name="location"
                data-on-empty="vars.invalidateSearch('coords')"
                data-on-select="vars.addLoc(location, passive)"
                data-sync-key="activitySearch"
            )


        .step-4.submit-search.center.fluffy
            button.btn-blue.search(
                i18n="common.SEARCH"
                ng-disabled="qSearch.$invalid"
                ng-click="vars.submitSearch()"
            )