.My-Actvty.pane-content
    .pane-wrapper-scroll
        view-title meta.ACTIVITIES_TITLE

        .dashboard-head(data-dash-head="user")
            h1.dashboard-head-text(i18n="activities.MY_ACTIVITIES")
            .float-btn
                a.toggle-when.btn-white.fluffy(
                    i18n="activities.PAST_ACTVTYS"
                    ng-show="My.data.whenState == 'current'"
                    ui-sref="dashboard.myActivities({state:'past',action:''})"
                    analytics-on="click"
                    analytics-category="My Activities"
                    analytics-event="click"
                    analytics-label="dashboard header: Past Activities"
                )

                a.toggle-when.btn-white.fluffy(
                    i18n="activities.CURNT_ACTVTYS"
                    ng-show="My.data.whenState == 'past'"
                    ui-sref="dashboard.myActivities({state:'current',action:''})"
                    analytics-on="click"
                    analytics-category="My Activities"
                    analytics-event="click"
                    analytics-label="dashboard header: Current Activities"
                )

        sort-list(
            data-items="My.data.activities"
            data-users="My.data.users"
            data-stack="My.data.stack"
            data-is-searching="My.data.isSearching"
        )
            div
                zero-data(data-what="myActivities")
