title-modal.profile-modal(
    data-title="profile.EDIT_DETAILS"
    data-abs-center="true"
    data-box-class="pane-edit"
    data-deactivate="profile.deactivate()"
    data-padding="true"
    data-disable-bg-close="true"
)
    ng-form.default-form.listed.styled(
        name="basic"
        ng-click="Profile.sectionSave('basic')"
    )
        .line
            .subject
                h4.text(i18n="common.NAME")
            .ffield
                input.edit-input(
                    type="text"
                    ng-model="user.fullName"
                    name="name"
                    required
                    data-i18n-attr="{placeholder: 'profile.EDIT_NAME'}"
                )

        .line
            .subject
                h4(i18n="profile.BIRTHDAY")

            .ffield
                //- dateInput Directive
                .date-input.birthday(
                    data-source="user.details.birthday"
                    data-max-year="options.age.max"
                    data-min-year="options.age.min"
                )

        .line
            .subject
                h4(i18n="profile.GENDER")

            .ffield
                .css-select.mid-width
                    select(
                        ng-model="user.details.gender"
                        ng-options="label as gender for (label, gender) in ::options.genders"
                    )

                    .icon

        .submit-row.fluffy
            button.btn-cancel(
                i18n="common.CANCEL"
                ng-click="profile.deactivate()"
            )

            button.submit-btn(
                i18n="common.SAVE"
                ng-disabled="basic.$invalid"
                ng-click="profile.save()"
            )

