/*title-modal*/.profile-modal
    .pane-edit
        width em(550)
    
    .line
        margin-bottom 1.25em
        
        &.hanging
            margin-bottom .5em

    .subject,
    .ffield
        @extends .middle-align

    .subject
        width 25%
    
    .ffield
        width 75%
    
    .mid-width
        width 35%