ng-form.req-form.default-form.styled.fluffy(name="Flow")
    legend.flow-title.center.head-19.pw-100(
        i18n="activities.DUPLICATE_NAME"
        data-name="{{::modal.vars.newEvent.name}}"
    )

        //- !DATE/TIME PICKERS
    .line(ng-class="{'hanging': modal.vars.vars.showDateEnd != true && modal.vars.vars.event.date}")
        span.subject.required
            .text(i18n="events.DATE")
        .ffield
            .popover-msg.nom.inline-block
                .popover.error(
                    data-pos="top"
                    ng-messages="basicInfo.date.$error"
                    ng-if="basicInfo.$submitted"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")

                date-picker.date-shtuff(
                    data-source="modal.vars.vars.event.date"
                    data-disable-past="true"
                    data-required="true"
                    data-format="fullDate"
                )

            span.inline-subject
                strong.inline-text(i18n="events.START_TIME")

            time-picker(
                data-source="modal.vars.vars.event.time"
                data-start-from="6"
                data-end-at="23"
                data-required="true"
                data-watch-min-time="modal.vars.vars.event.minTime"
                data-conditional="modal.vars.vars.event.date.getTime() == modal.vars.vars.event.minDate"
            )

    .line.hanging(ng-if="modal.vars.vars.showDateEnd")
        span.subject
            .text(i18n="events.END_DATE")
        .ffield
            .inline-block
                date-picker.date-shtuff(
                    data-source="modal.vars.vars.event.endDate"
                    data-disable-past="true"
                    data-min-date="modal.vars.vars.event.date"
                    data-format="fullDate"
                )

            span.inline-subject
                strong.inline-text(i18n="events.END_TIME")

            time-picker(
                data-source="modal.vars.vars.event.endTime"
                data-disable-default="true"
                data-watch-min-time="modal.vars.vars.event.time"
                data-conditional="modal.vars.vars.event.date.getTime() == modal.vars.vars.event.endDate.getTime()"
            )

    .line(ng-show="modal.vars.vars.event.date")
        span.subject
        .ffield
            label.set-line-height(for="showDateEnd")
                input(
                    type="checkbox"
                    id="showDateEnd"
                    ng-model="modal.vars.vars.showDateEnd"
                )
                span.checkbox
                span.faint-note.text(i18n="events.ADD_END_DATE")

    .submit-row
        button.btn-cancel(
            i18n="common.CANCEL"
            ng-click="modal.deactivate()"
        )

        button.btn-blue(
            i18n="common.SAVE"
            ng-disabled="modal.processing || Flow.$invalid"
            ng-click="modal.onSubmit([modal.vars, false])"
        )

        button.btn-yellow(
            i18n="events.SAVE_N_PUB"
            ng-disabled="modal.processing || Flow.$invalid"
            ng-click="modal.onSubmit([modal.vars, true])"
        )
