.fluffy
    .upload-container(
        flow-init="{target: '/admin/event/bulkAdd'}",
        flow-name="uAdmin.flow",
        flow-error="uAdmin.uploadError($message)",
        flow-file-success="uAdmin.uploadSuccess($message)"
    )
        span.btn-blue(flow-btn) Upload JSON File
        br
        span.btn-green(ng-click="uAdmin.flow.upload()") Upload!

    table
        tr(ng-repeat="file in uAdmin.flow.files")
            td {{$index + 1}}
            td {{file.name}}
            td {{file.msg}}

    .space-chunk

    .fluffy
        button.btn-white(
            ng-click="uAdmin.oneTimeButton()"
        ) One time Event
