.LS-dropdown.hidden-xs(ng-class="{'active': vars.modalActive}")
    .dd-cont.col-xs-12.col-md-11.col-lg-10
        .dd-sec
            .dd-responsive
                .dd-resp-inner
                    img.dd-img(src='/images/landing/learn-more/LearnMoreLarge-02.svg')
            .dd-text
                h3.titles(i18n-bo-variable="AB.text.dd1Actn")
                p.body-copy(i18n-bo-variable="AB.text.dd1Copy")

        .dd-sec
            .dd-text
                h3.titles(i18n-bo-variable="AB.text.dd2Actn")
                p.body-copy(i18n-bo-variable="AB.text.dd2Copy")
            .dd-responsive
                .dd-resp-inner
                    img.dd-img(src='/images/landing/learn-more/LearnMoreLarge-03.svg')
        .dd-sec
            .dd-responsive
                .dd-resp-inner
                    img.dd-img(src='/images/landing/learn-more/LearnMoreLarge-01.svg')
            .dd-text
                h3.titles(i18n-bo-variable="AB.text.dd3Actn")
                p.body-copy(i18n-bo-variable="AB.text.dd3Copy")

        .dd-close
            button.btn-white.fluffy(
                ng-click="vars.modalActive = false"
                i18n="common.CLOSE_BOX"
            )