.LS-splash
    position relative
    background $blue-1 url("/images/landing/splash/MainBG_480.jpg") no-repeat center
    background-size cover !important

    +media('sm')
        max-height none
        background $blue-1 url("/images/landing/splash/MainBG_1920.svg") no-repeat center

    .text-row
        padding-top 2em
        padding-bottom 2em

        +media('sm')
            padding-top 4em
            padding-bottom 1em

        +media('md')
            padding 4em 0

    /*h1.sec-title*/.title
        margin-bottom .75em

    /*h2*/.sub-head
        font-size em(18)

    /*.row*/.search-row
        +media('sm')
            margin 0 auto 5em

    /*.search-row */.search-btn
        +media('xs')
            float none !important 
            display block 
            
            .force-search
                width 100%
                
    .Activities.Search
        float none
        margin auto
        
        +media('grey')
            padding 0
            margin auto
            position relative
            left 0 
            bottom 0
            
            .search-select
                width 100%
                max-width 100%
                margin-bottom .5em
                
            .css-select > select 
                width 100%
                
            .space
                width 30%        
    
            .force-search .force 
                display inline-block
                position relative
                width 100%
                
            .force 
                display none
                position relative
                bottom 0
                right 0

            .force-btn
                width 100%
                margin-bottom 0
                
        +media('sm')
            .search-container
                margin auto
                border-radius em(3)
                
            .force   
                bottom em(-3) /*fixes a btn alignment tangent*/

    /*.row*/.learn-row
        padding 2em 0
        
        +media('md')
            margin-top 13em
        

    // Button on splash screen.
    /*.learn-row */.activate-btn
        text-transform capitalize
        color $dark-gray

/*
 * The dropdown that gets activated on tablet+ when learn-more is clicked
 */
.LS-dropdown
    absolute top left
    background $cyan
    width 100%
    height 100%
    padding em($default-padding)
    z-index 3
    transition transform .6s ease-in-out
    transform translateY(-100%)

    // On modal active
    &.active
        transform translateY(0)

    .dd-cont/*ainer*/
        position relative
        height 100%
        margin auto
        float none

    /*.dd-cont */.dd-sec
        position absolute
        height 40%

        +media('md')
            height 50%

        &:nth-child(1)
            left 0
            top 0

        &:nth-child(2)
            right 0
            top 50%
            transform translateY(-50%)
            text-align right

        &:nth-child(3)
            left 0
            bottom 0

    /*.dd-sec */.dd-responsive,
    /*.dd-sec */.dd-text
        @extends .middle-align

    /*.dd-sec */.dd-responsive
        width 100%
        max-width em(150)

        +media('md')
            max-width em(200)

    /*.dd-responsive */.dd-resp-inner
        padding-bottom 100%
        position relative

    /*.dd-resp-inner img*/.dd-img
        absolute top left

    /*.dd-sec */.dd-text
        margin 0 1.5em
        width 50%

    .dd-close
        absolute bottom left
        width 100%
        text-align center
        color $dark-gray

    /*.dd-copy h3*/.titles
        @extends .h2
        color $white
        margin-bottom .35em
