.LS-splash
    div(ng-include="'views/landing/sections/splash/Dropdown.html'")

    .container.center
        .row.text-row
            h2.sec-title.title.col-xs-11.col-center(i18n-bo-variable="AB.text.splashHead")
            h1.sub-head.col-xs-11.col-center(i18n-bo-variable="AB.text.splashSub")

        div(ng-if="::AB.hideSearch")
            .space-chunk
            .space-chunk

        .row.search-row(ng-if="::!AB.hideSearch")
            activity-search.filter.col-sm-12.col-md-10.col-lg-9(
                data-analytics-cat="landing"
                data-types="tandems,teachers,events"
                data-current-type="vars.type"
                data-on-search="vars.onSearch(filters, type)"
                data-force-search="true"
                data-data="vars.searchOptions"
                data-grab-location="true"
                data-jump-on-first-input="true"
            )

        .row.learn-row.fluffy.hidden-xs
            button.activate-btn.btn-white(
                i18n="common.LEARN_MORE"
                ng-click="vars.modalActive = true"
                analytics-on="click"
                analytics-category="landing"
                analytics-event="click"
                analytics-label="learn more"
            )
