.pane-content.cont.Event.Create.pane-wrapper-scroll
    view-title(i18n="{{::misc.title}}")

    .dashboard-head(data-dash-head="user")
        h1.dashboard-head-text(i18n-bo-variable="misc.title")

    //- The Learn more classes module will go here
    #classLearn

    .create-wrap(ng-hide="misc.classLearn")
        div(ng-show="!misc.hideContent")
            .steps-container
                .step-width(
                    ng-class="{'first': Create.data.currentStep == 0, 'last': Create.data.currentStep == Create.steps.length - 1}"
                )
                    a.prev-link.go-to(ng-click="Create.goTo(Create.data.currentStep - 1, true)")

                    a.step(
                        ng-repeat="step in ::Create.steps track by step.title"
                        ui-sref=".{{step.route}}"
                        ui-sref-active="active"
                        ng-class="{'accessible': step.accessible == true}"
                        eat-event-if="Create.disableStepAccessible($index, true)"
                    )
                        h3.step-title(
                            i18n-bo-variable="step.title"
                        )

                        .number-wrap
                            span.number(
                                ng-bind="::$index + 1"
                            )

                    a.next-link.go-to(ng-click="Create.goTo(Create.data.currentStep + 1, true)")

            form.default-form.styled(name="create")
                div(ui-view="eventCreate")

            .delete-sec(ng-if="::misc.edit")
                a.delete-link(
                    i18n="events.DELETE"
                    ng-click="misc.showDelete = true; misc.hideContent = true"
                )

        .delete-screen(ng-if="::misc.edit", ng-show="misc.showDelete")
            form.center.vert-center.default-form(name="delete")
                h4(i18n="events.DELETE_NOTIFY_ATTENDEES")

                textarea.msg-box.tall(
                    ng-model="misc.notifyMessage"
                    name="updateMessage"
                    ng-minlength="5"
                    required
                    data-i18n-attr="{ placeholder: 'events.PLACEHOLDER-LEAVE_MSG' }"
                )

                .fluffy
                    button.btn-cancel(
                        ng-disabled="misc.processing"
                        i18n="common.CANCEL"
                        ng-click="misc.showDelete = false; misc.hideContent = false"
                    )

                    button.btn-yellow(
                        i18n="events.DELETE_NO_MSG"
                        ng-click="Create.noWaitDelete(false)"
                    )

                    button.btn-red(
                        ng-disabled="delete.updateMessage.$invalid || misc.processing"
                        i18n="common.DELETE"
                        ng-click="Create.noWaitDelete(true)"
                    )

                br

        .update-notify-screen(ng-if="::misc.edit", ng-show="misc.showNotify")
            form.center.vert-center.fluffy.default-form(name="update")
                h4(i18n="events.NOTIFY_ATTENDEES")

                textarea.msg-box.tall(
                    ng-model="misc.notifyMessage"
                    name="updateMessage"
                    ng-minlength="5"
                    required
                    data-i18n-attr="{ placeholder: 'events.PLACEHOLDER-LEAVE_MSG' }"
                )

                .button-group
                    button.btn-cancel(
                        ng-disabled="misc.processing"
                        i18n="common.CANCEL"
                        ng-click="misc.showNotify = false; misc.hideContent = false"
                    )

                    button.btn-blue(
                        i18n="events.UPDATE_NO_NOTIFY"
                        ng-click="Create.updateAction(false)"
                    )

                    button.btn-yellow(
                        ng-disabled="update.updateMessage.$invalid || misc.processing"
                        i18n="common.UPDATE"
                        ng-click="Create.updateAction(true)"
                    )