.Profile
    .edit-sec
        display inline-block

        +media('sm')
            position relative

        textarea
            width 100%

        .display-copy
            $font-light(14)

        &.basic
            +media('sm')
                width 75%

        &.body-type
            width 100%
            min-height em(115)

        .edit-link
            vertical-align middle
            display none

    /*.avatar*/.photo:hover
        z-index 2

    .user-location
        +media('xs')
            margin-bottom .75em

    .pane-wrapper-scroll
        background $very-light-gray

    /*.pane-wrapper-scroll*/.is-me
        .visitor
            display none

        +media('sm')
            .edit-link
                display inline-block

        .edit-sec
            .no-touch &:hover
                background $white

        /*.edit-sec*/.hover-bg
            .no-touch &:hover
                background $very-light-gray

        .no-langs
            display block

        &.no-pic
            .edit-photo-dd
                display block;

    /*.pane-wrapper-scroll*/.can-teach
        .no-teach-block
            display block

        .no-teach-il-block
            display inline-block

        .teach-bar
            height auto
            padding em(12) em(40)

    .edit-link.langs
        position absolute
        right em($default-padding)
        top em($default-padding)

    /*div*/.summary
        position relative
        background $white

    /*h1*/.full-name
        padding 0

        &,
        h1,
        input
            $font-bold(22, null, 26)

        input
            padding em(5, 22)

    .ico-tandem,
    .ico-student
        position relative

        &:before
            border-radius 50%
            color $white
            text-align center
            margin 0
            width 2em
            line-height 2em

        .ttip
            position absolute
            left 0
            top 0
            width 100%
            height 100%

    .ico-tandem:before
        background $cyan

    .ico-student:before
        background $red

    /*.summary */.info
        height 100%

        +media('sm')
            min-height em($pane-layout-photo-width)
            position relative

        /*.listed li*/.list
            position relative
            margin .5em 0

            &:last-child
                margin 0

            .subject
                color $gray
                $font-bold(12)
                padding-right em(3)
                display block

            /*.subject */.text
                position absolute
                top 50%
                left 0
                transform translateY(-50%)

    .subject .learning,
    /*.languages-container */.lang
        color $blue-2-50op
        font-family $font-bold-val

    .top-right
        absolute top right
        margin 1em 1em 0 0
        z-index 1

    .line
        margin-bottom .5em

        &:last-child
            margin 0

    .lang-wrap
        +media('sm')
            width 80%

    //.bottom-right
    //    position absolute
    //    right 1em
    //    bottom 1em
    //
    //    a
    //        color $blue-2-50op
    //        $font-title(16)
    //        transition color 250ms ease-out
    //
    //        .no-touch &:hover
    //            color $blue-2

    .bottom-float
        width 100%

        +media('sm')
            width em($pane-layout-photo-content-width - $default-padding)
            position absolute
            bottom em($default-padding)
            left 0

    .subject .learning:after
        content ':'
        margin-right .5em

    .no-langs
        display none
        background $yellow-light
        text-align center
        padding em($default-padding)
        cursor pointer

        .no-touch &:hover
            text-decoration underline

    /*.languages */.all-langs
        +media('xs')
            transform translateX(-40%)

    /*.visitor*/.head-actn
        text-align center
        padding .5em
        cursor pointer
        color $blue-2-50op
        $font-title(15)
        background none
        box-shadow none
        width 100%

        .no-touch &:hover
            color $blue-2

    /*user-favorite*/.head-fave
        display block

    /*tooltip*/.title-tip
        vertical-align top
        margin-left .5em

    ////////// TEACHER //////////
    .teach-bar
        height em(4)
        background $cyan-gradient

        .teach-txt
            text-transform capitalize
            margin-right .35em

        .teach-txt,
        /*.languages-container */.lang .txt
            $font-title(19)
            color $white
            -webkit-font-smoothing antialiased

        .lang
            line-height 1em

    .no-teach-block,
    .no-teach-il-block
        display none

    ////////// BELOW HEAD ///////

    .sections
        padding em(20)

    /*.sections */.sec
        margin-bottom em(20)
        padding-bottom em(20)
        border-bottom 1px solid $mid-gray

        &:last-child
            border none

        +media('sm')
            border none
            padding em(25)

    .slight-margin
        margin-bottom 8px

.Profile-sec
    .if-edit
        display none

    &.active-edit
        .if-edit
            display block

        .edit-link
            display none

    .sec-title
        margin-bottom 1em

    .save-button-row
        text-align right
        padding-top .5em

        > div
            margin 0 0 0 1em

@require 'modals/edit/Style'
@require 'modals/editLanguages/Style'
@require 'modals/completion/Style'
@require 'modals/profilePhotoSignup/Style'
@require 'modals/paidTags/Style'
@require 'directives/editLanguageBox/Style'
@require 'directives/avatar/Style'
@require 'directives/personDetails/Style'
@require 'directives/peopleDisplay/Style'
@require 'directives/sectionInterests/Style'
@require 'directives/sectionLocation/Style'
@require 'directives/sectionTandemRequest/Style'
