.pane-content
    view-title {{::Profile.meta.name}} - Chatterplot Profile
    meta(view-head, property="og:url", content="{{::Profile.meta.canonical}}")
    meta(view-head, property="og:type", content="profile")

    meta(
        view-head
        ng-if="Profile.meta.description"
        property="og:description"
        content="{{::Profile.meta.description}}"
    )

    meta(
        view-head
        ng-if="Profile.meta.title"
        property="og:title"
        content="{{::Profile.meta.title}}"
    )

    meta(
        view-head
        ng-if="::Profile.meta.picture"
        property="og:image"
        content="{{::Profile.meta.picture}}"
    )

    .hidden(ng-if="Profile.profile.isMe()")
        .dashboard-head(data-dash-head="user")
            h1.dashboard-head-text(i18n="profile.MY_PROFILE")

            .dash-share-strip
                span(i18n="profile.SHARE_YOUR")
                =':'
                share-page(
                    data-text="{{::'meta.PROFILE_OG_TITLE' | i18n}}"
                    data-line-text="false"
                )

    section.pane-wrapper-scroll(
        ng-class="{'is-me':Profile.profile.isMe(), 'no-pic':!Profile.data.userPicture, 'can-teach':Profile.data.parts.canTeach}"
    )
        .summary.pane-layout-photo(
            data-delegate=".edit-link | Profile.editSection($event)"
        )
            .photo-sec
                //- avatar directive
                avatar.photo(
                    data-user="profile.user"
                    data-editable="true"
                )

            .content-sec.info
                .edit-sec.hover-bg.basic
                    h1.full-name.middle-align.slight-margin(ng-bind="profile.user.fullName")
                    span.ico-tandem.icon-tandem.middle-align.small-tip(
                        ng-if="::profile.user.settings.requests.tandem"
                    )
                        tooltip.ttip(
                            data-text="profile.TT-ACCPT_TNDMS"
                            data-attach="true"
                            data-pos="bottom"
                        )
                    span.ico-student.icon-apple.middle-align.small-tip.no-teach-il-block
                        tooltip.ttip(
                            data-text="profile.TT-ACCPT_STDNTS"
                            data-attach="true"
                            data-pos="bottom"
                        )
                    #editBasic.edit-link(
                        data-section="basic"
                        i18n="profile.EDIT"
                    )

                    //- Age/Gender
                    .slight-margin.light-text
                        span(ng-if="profile.user.details.gender")
                            span.gender(ng-bind="profile.options.genders[profile.user.details.gender]")
                        span(ng-if="profile.user.details.gender && profile.user.details.birthday")
                            =', '
                        span(ng-if="profile.user.details.birthday")
                            span.space.age(ng-bind="profile.options.age.get()")

                    //- userLocation directive
                    user-location.light-text(
                        data-source="profile.user.locations"
                        data-do-watch="true"
                        ng-hide="Profile.profile.isMe()"
                    )

                .top-right.hidden-xs
                    .visitor.head-actn.icon-mail.hidden-xs(
                        ng-if="!$root.size.xs && profile.user.settings.notifs.messaging.acceptAll"
                        i18n="activities.MESSAGE_ACTN"
                        ng-click="Profile.profile.messageUser()"
                        analytics-on="click"
                        analytics-category="profile"
                        analytics-event="click"
                        analytics-label="message user"
                    )

                    user-favorite.head-fave.visitor.hidden-xs(
                        data-target="{{::profile.user.userID}}"
                        data-category="profile"
                        ng-if="!$root.size.xs"
                        data-btn-class="head-actn"
                    )

                .bottom-float.edit-sec.hover-bg.languages
                    div(ng-if="profile.user.languages.length")
                        #editLanguages.langs.edit-link(
                            data-section="languages"
                            i18n="profile.EDIT"
                        )
                        .lang-wrap.list-section
                            .line
                                languages.whole-row(
                                    data-source="profile.user.languages"
                                    data-overflow-limit="3"
                                )

                            .line
                                languages.stuff(
                                    data-source="profile.user.languages"
                                    data-which="learning"
                                    data-overflow-limit="3"
                                )
                                    span.subject
                                        .learning(i18n="profile.LEARNING")
                    a.no-langs(
                        ng-if="!profile.user.languages.length"
                        data-section="languages"
                        i18n="profile.ADD_LANG_LONG"
                        ng-click="Profile.editSection($event)"
                    )

        .teach-bar
            languages.no-teach-block(
                data-source="profile.user.languages"
                data-which="teaching"
            )
                span
                    span.teach-txt(i18n="common.TEACHING")


        .sections
            section-personal.sec.can-hilite.edit-sec(
                ng-if="Profile.profile.isMe() || Profile.vars.parts.personal"
                data-source="profile.user"
                data-on-save="Profile.profile.save(updates)"
                data-default-open="Profile.profile.isMe() && !Profile.vars.parts.personal"
            )

            section-location.sec.can-hilite.edit-sec(
                ng-if="Profile.profile.isMe() || Profile.vars.parts.locations"
                data-locations="profile.user.locations"
                data-on-save="Profile.profile.save(updates)"
                data-default-open="Profile.profile.isMe() && !Profile.vars.parts.locations"
                data-is-me="Profile.profile.isMe()"
            )

            section-interests.sec.can-hilite.edit-sec(
                ng-if="Profile.profile.isMe() || Profile.vars.parts.interests"
                data-source="profile.user.interests"
                data-on-save="Profile.profile.save(updates)"
                data-default-open="Profile.profile.isMe() && !Profile.vars.parts.interests"
            )

            section-contact.sec(
                ng-if="!Profile.profile.isMe() && Profile.data.parts.contact"
                data-source="profile.user"
            )

            section-tandem-request.sec.can-hilite(
                ng-if="profile.user.settings.requests.tandem && !Profile.profile.isMe()"
                data-req-user="profile.user"
            )

            section-contact.sec(
                data-source="profile.user"
                ng-if="!profile.user.settings.requests.tandem && Profile.vars.parts.contact && !Profile.profile.isMe()"
            )
