.snug
    margin 0 !important

.thin
    padding 0 !important

.bony
    margin 0 !important
    padding 0 !important

.cta-color
    color $cta-color !important

.center
    text-align center

.cyan
    color $cyan

.white
    color $white

.gray
    color $blue-2-50op

.color-italki
    color $italki-pink
    
.font-light
    font-family $font-light-val

.inherit-link
    text-decoration underline
    cursor pointer
    color inherit

.space:before
    content ' '

/**
 * This class cancels out how twitter bootstrap centers columns
 */
[class*='col-'].col-center
    float none
    margin-left auto
    margin-right auto

a.a
    color $cyan

    .no-touch &:hover
        text-decoration underline

.styled-link,
.reverse-link
    font 1em $font-italic-val
    text-decoration underline
    cursor pointer
    color $blue-2

.inherit-link,
.styled-link,
.reverse-link
    .no-touch &:hover
        color $cyan

a.no-default
    text-decoration none
    color $blue-2

// swaps the color/hover state of the default styles
.reverse-link
    color $cyan

    .no-touch &:hover
        color $blue-2

.right-align
    text-align right

.left-align
    text-align left

.center-align
    text-align center

.hidden,
.ng-hide
    display none !important

.ng-show-active,
.show,
.block
    display block !important

.show-inline,
.inline
    display inline !important

.show-inline-block,
.inline-block
    display inline-block !important
    
.no-cap
    text-transform none !important

.cap
    text-transform capitalize !important

p.indent
    text-indent 1em

.bold-15
    $font-bold(15)

.head-19
    $font-title(19)

.clear,
.clearfix
    @extends _clearfix

.pull-right
    float right

/*tooltip*/.small-tip
    font-size .75em
    margin-left .75em

/* HIGHLIGHT */
.can-hilite
    transition background 500ms linear

    &.hilite
        background $orange-light !important

[class*="full-width"]
    width 100%

[class*="one-th-width"]
    width 100%
    display inline-block
    vertical-align middle

    +media('remove')
        width (100 / 3)%

.relative
    position relative

.top-align
    vertical-align top
    display inline-block

.middle-align
    vertical-align middle
    display inline-block

.bot-align
    vertical-align bottom
    display inline-block

.margin
    margin em($default-padding)
    
    &.more
        margin em($default-padding * 1.5)

.padded
    padding em($default-padding)
    
    &.more
        padding em($default-padding * 1.5)

.no-margin
    margin 0 !important

.no-padding
    padding 0 !important

.logged-out
    .logged-in-only
        display none !important

.logged-in
    .logged-out-only
        display none !important

.height-100
    height 100%

.pw-15
    width 15%

.pw-20
    width 20%

.pw-25
    width 25%

.pw-30
    width 30%

.pw-40
    width 40%

.pw-50
    width 50%

.pw-80
    width 80%

.pw-100
    width 100%

$carrot-height = 13
[class*="carrot-"]
    background $white
    border 1px solid $cyan

    &:before,
    &:after
        content ' '
        position absolute
        width 0
        height 0
        border solid transparent
        pointer-events: none

    &:before
        border-color rgba($cyan, 0)

    &:after
        border-color: rgba($white, 0)

.carrot-top
    &:before,
    &:after
        bottom 100%
        left 50%

    &:before
        border-width em($carrot-height)
        margin-left - em($carrot-height)
        border-bottom-color $cyan

    &:after
        border-width em($carrot-height - 1)
        margin-left - em($carrot-height - 1)
        border-bottom-color $white

.carrot-bot
    &:before,
    &:after
        top 100%
        left 50%

    &:before
        border-width em($carrot-height)
        margin-left - em($carrot-height)
        border-top-color $cyan

    &:after
        border-width em($carrot-height - 1)
        margin-left - em($carrot-height - 1)
        border-top-color $white

.edit-photo-dd
    background $white
    box-shadow 0 0 6px 1px rgba($blue-3, .75)
    position absolute
    bottom 1em
    right 1em
    text-align right
    cursor pointer

    .no-touch &
        display none

    &.active
        .dd
            display block

    /*.edit-photo #avatarEdit*/.edit-inner
        position relative
        height 100%
        padding em(8)

        &:after
            @extends [class^="icon-"]:before
            @extends .icon-camera:before
            color $blue-3
            margin 0

        &:before
            color $blue-2-50op
            margin-right .5em

        &:before,
        &:after
            display inline

        .no-touch &:hover,
        &.active
            background $blue-2

            &:before,
            &:after
                color $white

    /*.edit-inner */.dd
        display none
        z-index 1
        position absolute
        top 130%
        left 50%
        transform translateX(-50%)

.white-inset
    background $white
    box-shadow inset 0 0 10px rgba($blue-3, .4)

