.Translator
    background $light-blue-1
    position relative

    .background
        position absolute
        top 0
        left 50%
        height em(500)
        width em(801)
        z-index 0
        transform translateX(-50%)
        background url('/images/translator_thankyou/bg/800.png')
        background-repeat repeat-x !important

        +media('min-width: 801px')
            background url('/images/translator_thankyou/bg/960.png')
            width em(961)

        +media('min-width: 961px')
            background url('/images/translator_thankyou/bg/1280.png')
            width em(1281)

        +media('min-width: 1281px')
            background url('/images/translator_thankyou/bg/1920.png')
            width em(1921)

        +media('min-width: 1921')
            width 100%

    /*h1*/.headline
        margin-bottom 8px

    .page-content
        position relative
        max-width em(790)
        margin 0 auto
        padding-top em(240)
        z-index 1

    /*.box.intro */.giant-logo
        text-align center

        &:before
            color $white
            font-size em(56)
            width 2em
            height 2em
            line-height 2em
            background $cyan
            border-radius 50%
            margin .2em auto

    .sub-head
        $font-title(17)
        color $blue-2
        margin-bottom em(10, 17)

    .page-content .share
        text-align center

        /*a*/.share-btn
            color $orange
            margin-left .75em
            font-size 21px

    .box
        width 50%
        display inline-block
        vertical-align top
        color $blue-2
        margin-bottom em(20)

        .inner
            background $white
            border 1px solid $cyan
            box-shadow 0 0 6px 0 rgba($blue-3, .65)
            padding em(12)

        /*p*/.intro-text
            $font-regular(15, 14, 18)
            margin-bottom 1em

        /*h1*/.headline,
        /*h2*/.name,
        /*.cta-bar h2*/.cta-head,
        .cta-curious
            text-align center
            $font-bold(26, 14, 38)

        img
            display inline-block

        /*h5*/.nationality
            $font-regular(15)
            margin-bottom 1em

        &.translator
            text-align center

            .inner
                display block
                padding em(35) 0 em(30)

        &.share
            margin-top 2.5em

        &:nth-child(2n)
            padding-left em(10)

        &:nth-child(2n + 1)
            padding-right em(10)

        &:nth-child(2n + 4)
            margin-top - em(260)

    .cta-curious
        color $orange
        line-height 180px !important

    .cta
        position relative

        .arrow
            margin-top em(20)
            width em(66)
            height em(120)
            position absolute
            top 50%
            left 50%
            background url('/misc/oj_arrow_down.svg')
            background-size contain
            transform rotateY(180deg)

        &.even
            float right
            padding 0 0 0 em(10)
            margin-top - em(226)

            .arrow
                transform rotateY(0)

    .cta-bar
        padding em($default-padding * 2) em($default-padding) em($default-padding)
        background $white
        text-align center
        box-shadow 0 0 5px 0 rgba($blue-3, .65)


    /*.cta-bar p*/.cta-copy
        $font-title(17)
        color $blue-2
        margin .75em 0 1.25em

    .cta-faint
        color $blue-2-50op
        $font-title(17)
        margin-bottom em(10, 17)

    // control the share button colors here
    /*share-page */.page-content .share-btn
        color $cyan !important

    .create-bg-lay
        padding-top em(5)
        padding-bottom 0
