.autocomplete-box
    position relative
    color $blue-2

    .term-editor
        border 1px solid $light-blue-3
        border-radius 2px
        background $white
        cursor text

    /*.term-editor*/ .term
        display inline-block
        color $white
        padding 0 1.75em em(3) em(6)
        background $blue-2
        font 1em $font-bold-val
        position relative
        margin .4em
        cursor default

    /*.term*/ .term-remove
        cursor pointer

        .no-touch &:hover
            
            &:before
                background $cyan

        &:before
            absolute right
            top 50%
            transform translateY(-50%)
            border-radius 50%

    /*input*/.active-term
        display inline
        background none
        width auto
        height auto
        padding em(12)
        font 1em $font-regular-val
        transition width 250ms ease-in

    .term-options
        position absolute
        top 99%
        left 1%
        width 98%
        z-index 2
        border 1px solid $blue-3
        border-radius 2px

    /*.term-options*/ .term-option,
    .tt-suggestion
        display block
        padding em(8)
        font 1em $font-italic-val
        background $white
        cursor pointer

        .icon:before
            color $white
            font-size .8em
            vertical-align baseline
            margin-left .5em

        &:nth-child(even)
            background $alternate-blue
            color $blue-3

            .icon
                color $alternate-blue

    .no-touch & .tt-suggestion:hover
        background $cyan
        color $white

        .icon
            color $white
    
    /*****      LANGUAGE        *******/
    .twitter-typeahead
        vertical-align middle

    .tt-dropdown-menu
        z-index 5
        background $white
        max-height em(200)
        overflow-y scroll
        width 100%
        border 2px solid $light-blue-2
        border-radius 2px
        color $blue-2

    .tt-hint
        color $mid-gray !important

.autocomplete-box,
.single-lang
    &[class*="icon-"]
        position relative

        &:before
            @extends _icon-input

        .term-editor
            padding-left 1.5em

        .term:first-child
            margin-left 1.5em

@require 'singleLangComplete/Style'