.Activities.Search
    text-align center
    position relative
    z-index 2

    .inner-wrap
        max-width 100%

    ////////////////////
    ///// !CLASSES /////
    ////////////////////
    :before
        // make all icons align with text
        vertical-align middle

    .is-search
        display none

    .show-search
        .is-search
            display block

        .not-search
            display none

    .stylish
        color $white
        $font-title(15, 14, 35)

    .space
        margin 0 .5em

        &.first
            margin-left 1em

    .toggle
        text-decoration underline
        cursor pointer
        position relative

        .no-touch &:hover
            color $cyan

        /*span*/.text
            text-transform capitalize

    .active-term
        color $white

    .hover-field
        position absolute
        top 100%
        left 50%
        width em(275)
        transform translateX(-50%)
        padding em(8)
        background $light-blue-1
        border 1px solid $cyan
        border-radius em(3)
        @extends _modal-shadow

        [class*="icon-"]:before
            color $blue-2

        &:after
            border-bottom-color $light-blue-1

    /////////////////////
    ///// !STRUCTURE ////
    /////////////////////
    /*form*/.search-form
        position relative

    /*.search-form span*/.input-icon
        $icon-size = 18
        absolute top left
        color $blue-2-50op
        font-size em($icon-size)
        padding em($input-padding, $icon-size)

    /*.search-form input*/.name-value
        width 100%
        padding em($input-padding) em($input-padding) em($input-padding) 3em
        margin 0

    /*.search-form */.name-search
        absolute top right

        button
            margin 0
            line-height em(23, 15)

    .search-container
        padding 1em
        background $blue-2


    .toggle
        width 50%

        +media('sm')
            width auto

        .term-editor,
        .input-location
            background none
            color $cyan
            border 1px solid transparent


            placeholder($gray)

            &:focus
                color $white
                padding em($input-padding, 15)

            .no-touch &:hover
                border-color $cyan

        .input-location
            padding em($input-padding) em($input-padding * .5)

        .term
            color $cyan
            $font-regular(14, 14, 47)

    /*.search-container .inner-wrap */.search-form
        margin-bottom 1em

        .term-editor
            text-align left

    /*footer*/.filters
        text-align left

        +media('sm')
            max-height em(47)

    // Currently makes the x-axis scrollable
    ///*footer.filters */.overflow-wrap
    //    width em(1000)

    /*.filters */.search-select
        border 1px solid $cyan
        width 100%

        +media('sm')
            max-width em(175)

        &:after
            background none

        select
            padding 1em
            margin 0
            color $cyan

        .icon:before
            color $cyan

    .force
        display none
        absolute bottom right

    .force-search
        .force
            display inline-block
