.Activities.Search
    .search-container(ng-class="{'force-search': Search.forceSearch}")
        form.inner-wrap(
            ng-class="{true:'show-search', false:'hide-search'}[!!Search.vars.searchText]"
            ng-submit="vars.onSubmit()"
        )
            .search-form.default-form.fluffy.is-search
                span.icon-search.input-icon

                input.name-value(
                    name="nameValue"
                    type="text"
                    ng-model="Search.vars.filter.query"
                    placeholder="{{Search.vars.searchPlaceholder}}"
                )

                .name-search
                    button.btn-yellow(
                        ng-click="Search.manualSearch(true)"
                        i18n="common.SEARCH"
                    )

            footer.filters
                .overflow-wrap
                    .search-select.css-select.middle-align
                        select(
                            ng-model="Search.currentType"
                            ng-if="::!Search.vars.groups"
                        )
                            option(
                                ng-repeat="searchType in ::Search.vars.types"
                                value="{{::searchType.type}}"
                                i18n="activities.{{::searchType.caps}}"
                                conditional-attr="{ 'selected': searchType.type == Search.currentType }"
                            )
                        select(
                            ng-model="Search.currentGroupType"
                            ng-if="::Search.vars.groups"
                        )
                            optgroup(
                                ng-repeat="group in Search.vars.groups"
                                label="{{::group.display}}"
                            )
                                option(
                                    ng-repeat="searchType in ::Search.vars.types"
                                    value="{{::group.name}}-{{::searchType.type}}"
                                    i18n="activities.{{::searchType.caps}}"
                                    conditional-attr="{'selected': Search.currentGroupType == (group.name + '-' + searchType.type) }"
                                )
                        .icon

                    span.middle-align.stylish.space.first.not-search.hidden-xs(i18n="common.IN_LANG")

                    span.middle-align.stylish.toggle.not-search
                        single-lang-complete.input(
                            data-languages="Search.vars.filter.languages"
                            data-placeholder="activities.PLACEHOLDER-SEARCH_LANGUAGE"
                            data-on-add="Search.languageSet(languageID)"
                            data-on-remove="Search.vars.update()"
                            data-allow-all="true"
                            data-show-defaults="true"
                            data-auto-size="true"
                            data-cur-lang="Search.vars.curLang"
                        )

                    span.middle-align.stylish.space.not-search.hidden-xs(i18n="common.NEAR_LOCATION")

                    span.middle-align.stylish.toggle.not-search
                        google-location.location.input(
                            data-display-src="Search.vars.displayLocation"
                            data-on-select="Search.locationSet(location, type, passive)"
                            data-placeholder="activities.PLACEHOLDER-SEARCH_CITY"
                            data-on-empty="Search.locationUnset()"
                            data-update="Search.vars.locationUpdate"
                            data-get-cur-loc="{{::Search.grabLocation}}"
                            data-zoom-level="Search.vars.zoomLevel"
                            data-sync-key="activitySearch"
                        )

                    span.middle-align.fluffy.not-search.force
                        button.force-btn.btn-green.icon-search(ng-click="Search.manualSearch(true)")
                            span.text(i18n="common.SEARCH")
