.cefr-levels
    position relative
    z-index 1

    .s-range
        font-size em(24)
        display inline-block
        vertical-align middle
        z-index 5
    
    .display
        margin-left 1.5em