.cefr-levels
    span.s-range(class="s{{::vars.iconSkill}}e")
        span.p3
        span.p2
        span.p1
            tooltip(
                data-translate-arr="{{::vars.text}}"
                data-attach="true"
                data-pos="{{::tooltipPos}}"
            )

    span.display(ng-if="::showText")
        span(i18n-bo-variable="vars.fromText")
        span(ng-if="::vars.toText")
            =' '
            span(i18n="common.A_TO_B")
            =' '
            span(i18n-bo-variable="vars.toText")