.tz-bumper
    $padding-top = 10
    $usable-height = $subnav-height - ($padding-top * 2)

    height 100%
    background $cyan-gradient
    padding em($padding-top) em($default-padding)

    .tz-value
        margin-right .5em

    .text
        @extends .middle-align
        color $white
        font-size em($usable-height)

    .option
        margin-left 1em
        font-family $font-bold-val
        cursor pointer
        text-decoration underline
        text-transform capitalize

        .no-touch &:hover
            color $green
