.tz-bumper
    //- Will have the value appended
    span.tz-value.text

    a.text.option(
        i18n="common.YES"
        ng-click="vars.doAction()"
    )

    a.text.option(
        i18n="common.NO"
        ng-click="vars.hide()"
    )

    a.text.option(
        i18n="common.SETTINGS",
        ui-sref="{{::vars.settingsState}}"
    )

    a.text.option(
        i18n="misc.DONT_ASK_AGAIN",
        ng-click="vars.hide(true)"
    )