.footer-popup
    width 100%
    z-index 3

    +media('sm')
        absolute bottom left

    .trigger
        position absolute
        bottom 100%
        left 0
        cursor pointer
        background $white
        border-top 1px solid $cta-color-2
        border-right 1px solid $cta-color-2
        padding em(12)
        color $blue-2
        
        &.close
            display none
            z-index 4
    
    .Footer
        width 100%

        +media('sm')
            absolute top left
            transition transform 300ms ease-out

    &.active
        .Footer
            transform translateY(-100%)
        
        .trigger.close
            display block
        
        .trigger.open
            display none