sexy-datepicker
    display block

.date-picker
    display inline-block
    position relative
    
    input[type="text"]
        margin 0
        width 100%
    
    /*span*/.right-float
        position absolute
        right .5em
        top 50%
        transform translateY(-50%)
        cursor pointer
    
    sexy-datepicker
        z-index 10
        
    .date-box
        font-size 10px // <!----- Sizes entire module
        max-width em(322)
        padding em(7)
        border 1px solid $cyan
        border-radius em(3)
        background $white
        width 100%
        position absolute
        top 0
        left -.5em
        
    .year
        background $cyan-gradient
        line-height em(20)

        label
            display block
            text-align center
            color $white
            font-size em(16)
        
        .dec,
        .inc
            width em(45)
            background $cyan
    .month
        background $cyan-gradient
        line-height em(45)
        
        .dec,
        .inc
            width em(45)
            background $cyan
            cursor pointer
            
            .no-touch &:hover
                background $blue-3
            
            &:before
                margin 0
                line-height em(45, 18)
                text-align center
                font-size em(18)
                color $white
                width 100%
            
        .dec
            float left
            
            &::before
                @extends [class^="icon-"]:before
                @extends .icon-left-open:before
        .inc
            float right
            
            &::before
                @extends [class^="icon-"]:before
                @extends .icon-right-open:before
                
        label
            display block
            text-align center
            color $white
            $font-regular(30, 14, 45)

    .days
        display inline-block
        width 100%

    .days-row
        border-top 1px solid $cyan
            
    .days-cell
        background $white
        
        &.off,
        &.past
            color $blue-2-50op
            background $light-blue-1
        
        &.past
            cursor default

    .days-names
        background $blue-3
        color $white

    .days-names,
    .days-row
        display inline-block
        width 100%

    .days-names label,
    .days-cell
        display inline-block
        width 14%
        line-height em(40, 21)
        text-align center
        font-size em(21)
        color $blue-3
        cursor pointer
        padding-bottom .25em // To fix line-height offset
    
    .days-names label
        color $white

    .days-cell.selected,
    .no-touch & .days-cell:hover
        background $blue-2
        color $white
    
    .no-touch & .days-cell:hover
        background $cyan-gradient

        &.past:hover
            background $light-blue-1 !important
            color $blue-2-50op !important