ng-form(name="datepicker").date-picker.default-form.styled
    .popover-msg
        .popover.error(
            data-pos="top"
            ng-messages="datepicker.date.$error"
            ng-if="datepicker.date.$touched && datepicker.date.$invalid && required"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-REQUIRED")
        input.field(
            type="text"
            ng-model="vars.display"
            name="date"
            ng-required="required"
            ng-focus="vars.showPicker()"
            placeholder="{{ vars.placeholder }}"
        )
        span.icon-calendar.right-float(ng-click="vars.showPicker()")
        sexy-datepicker.date-box(
            data-ng-model="source"
            data-min-date="minDate"
            ng-show="vars.dateShow"
        )