.user-fav
    display inline-block

    .btn
        margin 0

    /*.is-favorite */.active-button
        display none

    .is-favorite
        &:hover
            .default
                display none

            .active-button
                display inline-block