.user-fav.fluffy
    .favorite.btn.icon-star(
        ng-if="!vars.isFavorite && $root.userID != vars.targetID"
        i18n="common.FAVORITE_ACTN"
        ng-click="vars.toggleFavorite(true)"
        ng-class="::btnClass || 'btn-yellow'"
        analytics-on="click"
        analytics-category="{{::category}}"
        analytics-event="click"
        analytics-label="Favorite"
    )

    .is-favorite(ng-if="vars.isFavorite")
        .default.btn.icon-star(
            i18n="common.FAVORITED"
            ng-class="::btnClass || 'btn-blue'"
        )

        .active-button.btn.icon-star(
            i18n="common.UNFAVORITE_ACTN"
            ng-class="::btnClass || 'btn-red'"
            ng-click="vars.toggleFavorite()"
            analytics-on="click"
            analytics-category="{{::category}}"
            analytics-event="click"
            analytics-label="Unfavorite"
        )
