.donate
    background $very-light-gray

    // shared
    .signatures
        line-height 21px

    .sig
        $font-light(19)

        &.link
            color $blue-3
            text-decoration underline

            .no-touch &:hover
                color $cyan-gradient

    // buy-us-a-drink
    .header
        position relative
        width 100%

        +media('sm')
            max-height em(400)
            overflow hidden

    .inner-spacing
        padding 2em 0 2.5em

    .pad-bot
        padding-bottom 2em

    .header-title
        text-align center
        color $white 
        position absolute
        margin-left auto
        margin-right auto
        top 12%
        font-size em(22)
        width 100%
        
        +media('md')
            font-size em(28)
             
    .header-img    
        position relative
        width 100%

        +media('sm')
            transform: translateY(-19%);

    .row-contents
        position relative
        padding-bottom .5em
        
    .box
        border-radius em(3)
        max-width em(480)
        background transparent
        padding-bottom 1em
        margin 0
            
        +media('sm')
            background $white
            padding .5em 1em
            margin 0 .5em .5em .5em
            vertical-align top
            min-height em(303) /*Makes 2 boxes even in height*/

        +media('md')
            min-height em(338)

        +media('lg')
            min-height em(382)
        
    .top-section
        margin 0 auto
        padding-bottom em(115)
        float none
        max-width em(480)
            
        +media('sm')
            padding 0 0 .5em
            float none
            max-width 100%

    .text-holder
        +media('md')
            padding-left 2em
            
    /*img*/.animation
        position absolute
        left 50%
        bottom 0
        transform translateX(-50%)
        max-width em(140)
        width 100%
        background transparent

        .img
            padding-bottom 100%
            
        span.img:before /*fixes background color on responsive images*/
            background none !important
        
        +media('sm')
            left auto
            transform none
            float left
            margin auto
            padding 1em
            position relative
            max-width 33.333%
                    
    .align
        display block
        float none

        +media('sm')
            display inline-block
            vertical-align middle
            
    .text-holder
        float left

    .subheader /* h1 */ 
        font-size em(18)
        text-align center
        margin-bottom 0
            
        +media('sm')
            text-align left
            margin-left 0
            padding-left 0

        +media('lg')
            font-size em(22)
            
    .copy
        color $blue-2
        margin-bottom .5em
        
    .col-center
        float none
        display inline-block
        text-align left
        
    .button-headers
        font-size em(18)
        text-align center
        padding .5em
        
        +media('lg')
            font-size em(22)

    .choose p
        color $blue-2
        margin .5em 0

    .btns 
        width 100%
        margin-left 0
        margin-right 0

    .amount
        width 100%
        margin .5em 0 !important
        
    .copy-scale    
        +media('md')
            font-size em(16)
            line-height em(18)
            
        +media('lg')
            font-size em(18)
            line-height em(20)

    ////////////////////
    /* SUBMITTED PAGE */
    ////////////////////
    .vert-pad
        padding 4.5em 0

        +media('sm')
            padding 9em 0

    .share-row
        text-align center
        background $white
        padding 2em 0 2.5em

    .submit-cont
        +media('grey')
            text-align center

    .share-btn
        color $white !important
        border-radius .25em
        padding .35em
        margin-left .5em !important

        &:first-child
            margin 0

        &:before
            margin-right .2em

    /*.share-row */.fb
        background $fb-blue-dark

        &:before
            margin 0

        .no-touch &:hover
            background $fb-blue

    /*.share-row */.twit
        background $twitter-blue-dark

        .no-touch &:hover
            background $twitter-blue

    /*.share-row */.goog
        background $google-red-dark

        .no-touch &:hover
            background $google-red
