.donate.submitted
    .container
        .vert-pad.center
            .row.pad-bot
                .submit-cont.col-xs-11.col-sm-10.col-md-8.col-center.center
                    img.illo.col-xs-6.col-sm-4.middle-align.col-center(src="/images/donation/thank-you.svg")
                    .text-holder.align.col-sm-8.middle-align.col-center
                        h1.subheader.padded(i18n="campaign.DONATE_THANKYOU")
                        p.copy.copy-scale(i18n="campaign.DONATE_THANKYOU_T")
                        br
                        .signatures
                            span &#8212;
                            span.space
                            a.sig.link(ui-sref="dashboard.profile.user({userID:223})") Marius
                            span ,
                            span.space
                            a.sig.link(ui-sref="dashboard.profile.user({userID:922})") Chris
                            span.space &
                            span.space
                            a.sig.link(ui-sref="dashboard.profile.user({userID:163})") Shana

            .row
                .col-xs-10.col-sm-6.col-center.share-row
                    h4.sub-head.center(i18n="landing.TELL_FRIENDS")
                    br
                    share-page(
                        data-url="self"
                        line-text="false"
                        data-text-key="campaign.DONATE_SOCIAL"
                    )

    site-footer