.Dashboard.Map.wrapper
    include ../map/MapLayout

    back-2-search

    .map-pane(
        ng-class="$root.$state.$current.data.tabClass"
    )
        .dashboard-bar.hidden-xs
            ul.dashboard-tabs.display-tabs
                li.btn-tab(
                    ng-class="{'active': $root.$state.includes('dashboard.profile')}"
                )
                    a.text(
                        i18n="common.PROFILE"
                        ui-sref="dashboard.profile.user({ userID: $root.userID })"
                        analytics-on="click"
                        analytics-category="navigation: dashboard"
                        analytics-event="click"
                        analytics-label="profile"
                    )

                li.btn-tab(
                    ng-class="{'active': $root.$state.includes('dashboard.favorites')}"
                )
                    a.text(
                        i18n="common.FAVORITES"
                        ui-sref="dashboard.favorites"
                        analytics-on="click"
                        analytics-category="navigation: dashboard"
                        analytics-event="click"
                        analytics-label="favorites"
                    )

                li.btn-tab(
                    ng-class="{'active': $root.$state.includes('dashboard.myActivities')}"
                )
                    a.text.cap(
                        i18n="activities.MY_ACTIVITIES"
                        ui-sref="dashboard.myActivities"
                        analytics-on="click"
                        analytics-category="navigation: dashboard"
                        analytics-event="click"
                        analytics-label="my activities"
                    )

                li.btn-tab(
                    if-user-permissions="CREATE_EVENT"
                    ng-class="{'active': $root.$state.includes('dashboard.eventCreate')}"
                )
                    a.text(
                        i18n="common.CREATE"
                        ui-sref="dashboard.eventCreate"
                        analytics-on="click"
                        analytics-category="navigation: dashboard"
                        analytics-event="click"
                        analytics-label="create"
                    )

            .dash-head-holder(data-dash-head="user")

        .dashboard-view.relative(ui-view="dashboard")

    footer-popup
        span.icon-comment(i18n="common.SHOW_FOOTER")
