.Zero.default.split.fluffy
    h2.cta-head

    p.copy

    .choices
        .choice.opt
            img.illo(ng-src="{{::data.choices[0].illo}}")
            .cta-button(
                ui-sref="{{::data.choices[0].button.link}}"
                ng-class="::data.choices[0].button.className"
                i18n="{{::data.choices[0].button.key}}"
            )

        .choice.opt(ng-if="::data.choices[1]")
            img.illo(ng-src="{{::data.choices[1].illo}}")
            .cta-button(
                ui-sref="{{::data.choices[1].button.link}}"
                ng-class="::data.choices[1].button.className"
                i18n="{{::data.choices[1].button.key}}"
            )
