/*.notification-wrap a*/.notification
    text-align left
    color $blue-2
    position relative
    padding em($default-padding) !important
    display block

    .no-touch &:hover
        background $light-blue-3

    &.unread
        .mark-read
            display block

    &:before
        vertical-align text-bottom

    &.icon-note:before,
    &.icon-calendar:before
        color $yellow-1

    &.icon-mail:before
        color $cyan

    &.icon-person:before,
    &.icon-tandem:before
        color $green

    /*div*/.snippet
        display inline-block
        vertical-align bottom
        color $blue-2-50op
        margin-left .5em

        &:after
            content: '…'

    .mark-read,
    .mark-dot
        border-radius 50%

    /*.span*/.mark-read
        display none
        position absolute
        transform translateY(-50%)
        top 50%
        right 1.25em
        cursor pointer
        font-size em(10)
        padding .25em

        .no-touch &:hover
            .mark-dot
                background $white

    /*.mark-read */.mark-dot
        border 1px solid $cyan
        width em(8, 10)
        height em(8, 10)
        background $cyan