.inner.Display-Settings
    ul.listed.default-form.styled
        li.list
            .subject
                span.text(i18n="settings.DISPLAY_LANGUAGE")
            .stuff
                settings-display-languages.select(
                    data-current="vars.clone"
                )

        .modal-divider

        li.list
            .subject
                span.text(i18n="settings.TIME_ZONE")
            .stuff
                settings-time-zone.select(
                    data-current="vars.clone.timeZone"
                )

        .modal-divider

        li.list
            .whole-row
                span.text(i18n="settings.UNITS")
            .line
                label(for="settingsDisplayMetric")
                    input(
                        type="radio"
                        id="settingsDisplayMetric"
                        ng-model="vars.clone.unit"
                        value="1"
                    )
                    span.radio
                    span.text
                        strong(i18n="settings.METRIC")
                        =' ('
                        span(i18n="settings.KM_M")
                        =')'
                label.left-space(for="settingsDisplayImperial")
                    input(
                        type="radio"
                        id="settingsDisplayImperial"
                        ng-model="vars.clone.unit"
                        value="2"
                    )
                    span.radio
                    span.text
                        strong(i18n="settings.IMPERIAL")
                        =' ('
                        span(i18n="settings.MILES_FT")
                        =')'

        .modal-divider

        li.list
            .whole-row
                span.text(i18n="settings.DATE")
            .line
                label(for="settingsDisplayDate1")
                    input(
                        type="radio"
                        id="settingsDisplayDate1"
                        ng-model="vars.clone.formats.date"
                        value="1"
                    )
                    span.radio
                    span.text
                        strong(i18n="common.DATE-SHORT_1")

                label.left-space(for="settingsDisplayDate2")
                    input(
                        type="radio"
                        id="settingsDisplayDate2"
                        ng-model="vars.clone.formats.date"
                        value="2"
                    )
                    span.radio
                    span.text
                        strong(i18n="common.DATE-SHORT_2")

                label.left-space(for="settingsDisplayDate3")
                    input(
                        type="radio"
                        id="settingsDisplayDate3"
                        ng-model="vars.clone.formats.date"
                        value="3"
                    )
                    span.radio
                    span.text
                        strong(i18n="common.DATE-SHORT_3")

        .modal-divider

        li.list
            .whole-row
                span.text(i18n="settings.TIME")
            .line
                label(for="settingsDisplayTime2")
                    input(
                        type="radio"
                        id="settingsDisplayTime2"
                        ng-model="vars.clone.formats.hours"
                        value="2"
                    )
                    span.radio
                    span.text
                        strong(i18n="settings.12_HOUR")

                label.left-space(for="settingsDisplayTime1")
                    input(
                        type="radio"
                        id="settingsDisplayTime1"
                        ng-model="vars.clone.formats.hours"
                        value="1"
                    )
                    span.radio
                    span.text
                        strong(i18n="settings.24_HOUR")


    .modal-divider

    .submit-row
        .save
            .save-btn.fluffy(
                i18n="common.SAVE"
                ng-click="vars.save()"
            )