.inner.email-preferences
    .sub-sec
        header.sub-head
            h3.sub-h3(i18n="settings.EMAIL_PRE_TEXT")

            .border-dot

        ul.listed.default-form.styled
            label.list
                span.subject
                    .no-cap.text(i18n="settings.EMAIL-I_SPEAK_EVENT_NOTIFICATION")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.eventsISpeak"
                    )
                    span.checkbox

            label.list
                span.subject
                    .no-cap.text(i18n="settings.EMAIL-I_LEARN_EVENT_NOTIFICATION")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.eventsILearn"
                    )
                    span.checkbox

            label.list
                span.subject
                    .no-cap.text(i18n="settings.EMAIL-ALL_LANGS_EVENT_NOTIFICATION")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.eventsAllLang"
                    )
                    span.checkbox

            label.list
                span.subject
                    .no-cap.text(i18n="settings.EMAIL-UPDATES_NEWS")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.updates"
                    )
                    span.checkbox

            label.list
                span.subject
                    .no-cap.text(i18n="settings.EMAIL-NEW_MSG")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.email.newMsg"
                    )
                    span.checkbox

    .sub-sec
        header.sub-head
            h3.sub-h3(i18n="notifications.MESSAGING")

            .border-dot

        ul.listed.default-form.styled
            label.list
                span.subject
                    .no-cap.text(i18n="settings.NOTIFS-MSG_PUBLIC")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.messaging.acceptAll"
                    )
                    span.checkbox
            label.list
                span.subject
                    .no-cap.text(i18n="settings.NOTIFS-MSG_FRIEND")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.messaging.acceptFollowing"
                    )
                    span.checkbox

    .modal-divider

    ul.listed.default-form.styled
        label.list
            span.subject
                .no-cap.text(i18n="settings.EMAIL-UNSUBSCRIBE_ALL")
            .right-align
                input(
                    type="checkbox"
                    ng-model="vars.unsub"
                    ng-change="vars.unsubAll()"
                )
                span.checkbox

    .submit-row
        .save-btn.fluffy(
            i18n="common.SAVE"
            ng-click="vars.save()"
        )