.inner.email-preferences
    .sub-sec
        header.sub-head
            h3.sub-h3(i18n="settings.AM_ACCEPTING")

            .border-dot

        ul.listed.default-form.styled
            label.list
                span.subject
                    .no-cap.text(i18n="activities.TANDEM_REQS")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.tandem"
                    )
                    span.checkbox

            label.list
                span.subject
                    span.no-cap.text.middle-align(i18n="activities.STUDENT_REQS")
                    tooltip.small-tip.middle-align(data-text="settings.TT-STUDENT_REQ")
                .right-align
                    input(
                        type="checkbox"
                        ng-model="vars.fields.teacher"
                    )
                    span.checkbox

    .submit-row
        .save-btn.fluffy(
            i18n="common.SAVE"
            ng-click="vars.save()"
        )