.email-preferences
    .subject,
    .right-align
        @extends .middle-align

    .subject
        width 80%
    
    .right-align
        width 20%
        text-align right

    /*label*/.list
        display block
    
    label[for="unsubAll"]
        font-size 1.15em

    /*header*/.sub-head
        margin-bottom .75em

        +media('remove')
            width 35%

    /*.subhead h3*/.sub-h3
        $font-bold(15)
        color $cyan
        margin-bottom .25em
