.prof-photo-signup
    background $white
    border 1px solid $orange
    padding em($default-padding)
    margin-bottom .75em

    .cta-head
        color $orange
        $font-title(20)
        margin-bottom 1em
        text-align center

    /*p*/.cta-copy
        font-size em(15)
        padding 0 1.5em