ng-form.default-form(
    name="dateInput"
    ng-init="setForm(dateInput)"
)
    .col.piece.inline-block(
        ng-repeat="piece in ::date.pieces"
        ng-class="::piece.label"
    )
        input(
            type="text"
            ng-model="piece.value"
            ng-pattern="piece.pattern"
            placeholder="{{::piece.placeholder}}"
            ng-change="date.onChange(piece)"
            name="{{piece.label}}"
            ng-required="date.partialRequired()"
        )

    input.hidden(
        type="text"
        ng-model="date.valid"
        ng-required="date.partialRequired()"
        name="valid"
    )

    .block.error
        span(
            ng-bind="date.error"
            ng-show="date.error"
        )
        span(
            i18n="profile.ERROR-INVALID_YEAR"
            ng-show="dateInput.valid.$invalid && dateInput.year.$dirty && dateInput.year.$invalid"
        )
        span(
            i18n="profile.ERROR-YEAR_TOO_LOW"
            ng-show="dateInput.valid.$invalid && dateInput.year.$dirty && date.year.value < date.year.max"
        )
        span(
            i18n="profile.ERROR-YEAR_TOO_HIGH"
            ng-show="dateInput.valid.$invalid && dateInput.year.$dirty && date.year.value > date.year.min"
        )
        span(
            i18n="profile.ERROR-INVALID_MONTH"
            ng-show="(date.month.value < date.month.min || date.month.value > date.month.max) && (dateInput.valid.$invalid && dateInput.month.$dirty)"
        )
        span(
            i18n="profile.ERROR-INVALID_DAY"
            ng-show="(date.day.value < date.day.min || date.day.value > date.day.max) && (dateInput.valid.$invalid && dateInput.day.$dirty)"
        )
