.skill-select.default-form.styled
    .css-select
        select(
            ng-model="vars.current"
            ng-change="source.level = vars.current.id"
            name="{{::name}}"
            ng-options="level as level.display for (id, level) in vars.levels track by level.id"
        )

        div(class="icon-skill-{{source.level}}")