.FR-venue
    .header
        margin-bottom em(20)

    .selected-venue
        margin-bottom em(20)
        border 1px solid $cyan
        //overflow hidden

        &.ng-enter,
        &.ng-leave
            transition .3s ease-out max-height

        &.ng-leave.ng-leave-active,
        &.ng-enter
            max-height 0

        &.ng-leave
        &.ng-enter.ng-enter-active
            max-height em(130)