form.FR-venue(
    ng-controller="FlowReqVenueCtrl as VM"
    name="Venue"
)
    header.header
        p(i18n="activities.REQUEST_VENUE_COPY")

    .selected-venue(ng-if="VM.data.selected.index")
        venues-listing(data-venue-src="VM.data.venuesArr[VM.data.selected.index].service")

    venues-select(
        data-suggested="VM.shared.suggestedVenues"
        data-venue-data="VM.data.venuesArr"
        data-selected-obj="VM.data.selected"
    )
