include ../../formLayout.jade

- var fields = { userID: { display: 'ID', readonly: 1 },      firstName: { display: 'First Name' },       lastName: { display: 'Last Name' },         email: { display: 'Email' } }

mixin editFormLayout('uAdmin', fields, 'uAdmin.users.data', '_id')