section.Profile-sec.inner-wrap.section-tandem-request
    .body-type
        h3.sec-title
            span(i18n="activities.SEND_TAND_REQ")

        p.display-copy(i18n="tandem.REQUEST_BYLINE")

        flow-request-button.add-margin(
            data-type="tandem"
            data-req-user="reqUser"
            data-sections="venue, when, message"
        )
