.Zero.hosting
    margin 0 em($default-padding) em($default-padding)
    padding-top em(45)
    position relative

    .box-1
        margin 1.5em 0 em(45)
        text-align center
    
    .head-1
        color $blue-2-50op
        margin-right 1.5em
        
    .head-2
        color $orange
        text-indent 3em
    
    /*.box-2 */.arrow
        font-size 7px
        width em(92)
        height em(111)
        position absolute
        right 50px
        top em(15)
        background url('/images/hosting/zero-data-arrow.svg') no-repeat
        background-size contain

        .no-svg &
            background url('/images/hosting/fallback/zero-data-arrow.png') no-repeat

    .quote-box
        width 100%
        background $light-blue-1
        padding 2em
        border-radius em(5)
    
    .quote-illustration
        font-size 10px
        width em(350)
        height em(390)
        margin 0 auto 1em
        background url('/images/misc/quotes/motivational_1.svg') no-repeat
        background-size contain

        .no-svg &
            background url('/images/misc/quotes/fallback/motivational_1.png') no-repeat

    .quote
        $font-bold(15)
        color $blue-2
        margin-bottom .5em

    .quote-author
        float right
        margin-right em(50)
        color $blue-2-50op
        
        &:before
            content '- '