.Zero.hosting
    .box-1
        h3.head-1.h4.inline(i18n="events.ZERO-HOSTING_CTA_1")
        h3.head-2.inline(i18n="events.ZERO-HOSTING_CTA_2")
        .arrow

    .quote-box
        .quote-illustration
        h4.quote(i18n="misc.RANDOM_QUOTE_1")
        span.quote-author(i18n="misc.RANDOM_QUOTE_1_AUTHOR")

