.modal-animation(ng-class="::modal.class")
    blank-modal(
        data-abs-center="true"
        data-box-class="mid-size"
        data-deactivate="modal.deactivate()"
        data-disable-bg-close="true"
    ) TRANSCLUDE
         