.modal-lay
    .inner-wrap
        .scroll-container
            .modal-size
                .clear.margin-bot
                    a.icon-cancel-big.close-modal.pull-right
                div(ng-transclude)

        footer-popup
            span.icon-comment(i18n="common.SHOW_FOOTER")