.Search.pane-content
    .pane-wrapper-scroll
        view-title meta.SEARCH_TITLE

        meta(
            view-head
            name="description"
            content="{{::meta.SEARCH_DESC | i18n}}"
        )

        //- .search-outer(ng-class="{'has-banner': !!Search.data.cityKey}")
        .search-outer
            activity-search.filter-search(
                data-current-type="Search.searchType"
                data-current-group="Search.searchGroup"
                data-groups="Search.searchGroups"
                data-types="{{::Search.data.types}}"
                data-on-search="Search.filterUpdate(filters)"
                data-data="Search.searchOptions[Search.searchType].opts"
                data-show-set-location="{{::Search.data.grabSearchLocation}}"
                data-sync-watch="Search.sync"
            )

        .cont
            activities-list(
                data-type="Search.searchType"
                data-options="Search.searchOptions"
                data-on-refresh="Search._onRefresh"
                data-stack="Search.stack"
                data-group="Search.searchGroup"
            )