.cloud-bg
    background $light-blue-1
    width 100%
    width 100%
    z-index 0
    background url('/images/standalone/cloud-bg.svg')
    background-repeat repeat-x !important
    
    .no-svg &
        background url('/images/standalone/fallback/cloud-bg.png')

.event-ideas
    .oj-banner
        width em(515)
        height em(92)
        margin 0 auto em(40)
        background url('/images/standalone/event-ideas/banner.svg')

        .no-svg &
            background url('/images/standalone/event-ideas/fallback/banner.png')

    h1,
    h2
        font-size em(19)
        margin-bottom em(20, 19)

    .page-content
        position relative
        max-width em(790)
        width 100%
        margin 0 auto em(40)
        background $white
        box-shadow 0 0 6px 0 rgba($blue-3, .75)
        padding em($default-padding * 2)

        li
            display list-item
            margin-left 1.5em
    
    .illustration
        width 100%
        position relative
    
    /*.illustration */.illo
        absolute top right
        margin-right em(50)
        
        &.one
            width em(211)
            height em(164)
            background url('/images/standalone/event-ideas/illo_1.svg')

        &.two
            width em(197)
            height em(215)
            background url('/images/standalone/event-ideas/illo_2.svg')

        &.three
            width em(256)
            height em(173)
            background url('/images/standalone/event-ideas/illo_3.svg')