.event-ideas.cloud-bg
    view-title Event Ideas - Chatterplot

    meta(
        view-head
        name="keywords"
        content="Language events, cultural events"
    )

    meta(
        view-head
        name="description"
        content="Need help finding ideas for language and culture events? Here are some of the things we like to do."
    )

    .space-chunk

    .oj-banner

    .page-content.clear
        h1.h3.h3 Language events

        ul
            li.text Poetry slam
            li.text Story time (choose topics prior to event)

        .illustration
            .illo.one

        ul
            li 
                span.text Game night
                ul.sub
                    li.text Taboo
                    li.text Scattergories
                    li.text Catchphrase
                    li.text Apples to Apples
                    li.text Truth or Dare Jenga! 
                    li.text Have you ever? 
                    li.text Would you rather?
                    li.text Two truths and a lie
                    li.text Nouns in a bowl
                    li.text Jeopardy
                    li.text Trivia Night! 
            li
                span.text Pecha Kucha
                ul.sub
                    li.text 20 images x 20 seconds each (5 minutes)
            li
                span.text Casual presentations (ask attendees)
                ul.sub
                    li.text On language
                    li.text On culture
                    li.text On holiday
            li
                span.text Topic Night
                ul.sub
                    li.text Print out conversation questions in English here. 
                    li.text Make everyone prepare something (bring three of your favorite expressions!)
            li.text Invite a Speaker (translator, polyglot, language specialist)
            li.text Translation practice, debates
            li
                span.text Miscellaneous
                ul.sub
                    li.text Networking
                    li.text Speed-dating

        .illustration
            .illo.two

        .space-chunk

        h2.h3 Cultural events
        ul
            li
                span.text Sports Activities and Exercise 
                ul.sub
                    li.text Camping
                    li.text Hiking 
                    li.text Bike ride
                    li.text Fruit picking
                    li.text Physical activity (rock climbing, soccer)
                    li.text Dance classes
                    li.text Sauna + Relaxation
                    li.text Scavenger Hunt
                    li.text Geocaching
            li
                span.text Food and Drink
                ul.sub
                    li.text Chaos cooking
                    li
                        span.text Cooking classes (cook a speciality from a specific country!)
                        ul.sub.sub
                            li.text How to make ceviche, sushi, Spanish tortilla, bake German bread etc.
                    li.text Wine tasting/ Cheese tasting
                    li.text Beer tasting
                    li.text Fondue night/ Raclette
                    li.text Potluck 
                    li.text Picnic
                    li.text Recipe swap! 
                    li.text Go out on the town! (brunch +flea market; dinner + movie, etc.)
            li
                span.text Entertainment
                ul.sub
                    li.text Sports event 
                    li.text Theater/ Ballet/ Philharmonic
                    li.text Movie night!

        .illustration
            .illo.three

        ul
            li
                span.text Learn something together!
                ul.sub
                    li.text Pottery class
                    li.text Jewelry-making
                    li.text Skill sharing evening 
                    li.text Knitting
                    li.text Musical instrument
                    li.text Singing/ Choir 
                    li.text New game 
            li
                span.text Holiday Specific Events
                ul.sub
                    li.text List of holidays here. 
            li
                span.text Miscellaneous 
                ul
                    li.text Music Exchange
                    li.text Puzzle night
                    li.text Museum visits 
                    li.text Excursions to nearby sites/exhibitions

        .space-chunk

        .center
            h4.h4 Create your next event and get chatting!
            br
            a.btn-yellow.plump(
                ng-click="vars.cta()"
                analytics-on="click"
                analytics-category="standalone"
                analytics-event="click"
                analytics-label="event ideas: create event/become a host"
            ) Create event

        .mid-space-chunk

    site-footer