.upload-flow
    height 100%

    .box
        width 100%
        max-width em(500)
        min-height em(500)

    .modal-inner
        min-height 100%

    .upload-container,
    .drop-zone
        min-height em(400)

    /*.upload-container */.drop-zone
        height 100%
        text-align center
        border-radius .35em
        transition background 250ms ease-in
        border 3px solid $modal-bg
        padding 3em

        &.hover
            border 3px dashed $blue-1

    /*img*/.upload-img
        display inline-block
        margin-bottom 1.25em

    .drag-msg
        $font-title(18, null, 24)
        color $blue-2

    .errors
        &.has
            margin-top 3em

        a
            @extends .styled-link

    .error-msg
        color $red

    /*.modil-divider*/.or-divide
        max-width 40%
        margin .75em auto

    .crop-container
        min-height em(400)

    /*.crop-container */.crop-controls
        margin-top .5em
        text-align center

    .ng-jcrop-thumbnail-wrapper
        display none

    /*h5*/.upload-txt
        margin 1em 0

    .uploader-progress
        margin-bottom .5em

    /*a*/.skip
        color $blue-2-50op
        $font-bold(15)
        float right
        cursor pointer