blank-modal.upload-flow(
    data-abs-center="true"
    data-box-class="box modal-style"
    data-deactivate="modal.deactivate()"
    data-padding="true"
    data-disable-bg-close="false"
    ng-class="{'hidden': Photo.modalHidden}"
)
    div(
        ng-if="::opts.introTemplate"
        ng-include="::opts.introTemplate"
    )

    .upload-container(
        flow-init="Photo.uploadConfig"
        flow-files-added="Photo.photoAdded($files[0])"
        flow-name="Photo.flow"
    )

        .crop-container(ng-if="Photo.obj.src")
            .img-crop(
                ng-jcrop="Photo.obj.src"
                data-selection="Photo.obj.coords"
            )
            .crop-controls.fluffy
                div(ng-if="!Photo.isUploading")
                    button.btn-cancel(
                        i18n="common.CANCEL"
                        ng-click="Photo.cancel()"
                    )
                    button.btn-yellow(
                        i18n="common.UPLOAD"
                        ng-click="Photo.initUpload()"
                    )
                div(ng-if="Photo.isUploading")
                    h5.upload-txt(i18n="misc.UPLOADING")

                    #uploadFlowLoader.uploader-progress(
                        data-progress-loader='#uploadFlowLoader'
                        data-listener="uploadFlowProgress"
                        data-autostart="true"
                    )

                    .button-group
                        .btn-cancel(
                            ng-click="modal.deactivate()"
                            i18n="misc.CANCEL_UPLOAD"
                        )
                        .btn-yellow(
                            ng-click="Photo.hideModal()"
                            i18n="misc.UPLOAD_IN_BG"
                        )

        .drop-zone.fluffy(
            ng-show="!Photo.obj.src"
            flow-drop
            flow-drag-enter="hover = true"
            flow-drag-leave="hover = false"
            ng-class="{'hover': hover}"
        )
            img.upload-img(src="/images/misc/photo-upload-img.svg" alt="upload a photo")

            p.drag-msg(i18n="misc.DRAG_PHOTO_HERE")

            .modal-divider.or-divide
                .text(i18n="common.OR")

            .btn-blue(
                flow-btn
                i18n="misc.PHOTO_COMP_SELECT"
            )

            .errors(ng-class="{'has': vars.error.fileType || vars.error.fileSize}")
                p.error-msg(
                    ng-show="vars.error.fileType"
                    i18n="misc.INVALID_FILE_TYPE"
                )
                p.error-msg(
                    ng-show="vars.error.fileSize"
                    i18n-html="misc.INVALID_FILE_2_BIG"
                    data-keys="float"
                    data-values="{{::vars.max.fileSize}}"
                )