.Msg
    $bald-grau = #8597A1
    $head-height = 50
    $max-width = 970
    $list-width = 300
    $content-width = $max-width - $list-width
    height 100%
    position relative
    overflow hidden

    .msg-container
        height 100%

        border 1px solid $cyan
        border-width 0 1px
        max-width em(970)
        margin 0 auto

    ////////////////////////
    ////    $Classes   /////
    ////////////////////////
    /*strong*/.bld
        font-family $font-bold-val

    /*h4*/.user-name
        @extends .middle-align
        $font-bold(14)

    /*a*/.styled-link
        .user-name
            color inherit

    /*span*/.when
        color $blue-2-50op
        $font-regular(12, 14, 18)
        float right
        text-transform capitalize

        &.larger
            font-size em(14)

    /*p*/.snippet
        color $blue-2-50op
        $font-regular(14)
        overflow ellipsis

    /////////////////////////
    ////   $Structure   /////
    /////////////////////////
    /*ul*/.msg-list
        @extends .top-align

        size unit($list-width / $max-width * 100, '%') 100%
        max-width em($list-width)
        background $very-light-gray
        overflow-x hidden

        .sec-head
            border-right 1px solid $cyan

    /*ul*/.convo-list
        min-height 90%
        min-height calc('100% - ' + em($head-height))
        height auto
        padding-bottom 4.5em

    /*.convo-list li*/.empty-convos
        text-align center
        padding 7em 3em
        font-family $font-bold-val

    /*.convo-list li*/.single
        border-bottom 1px solid $bald-grau
        border-right 1px solid $cyan

        &.unread
            background $light-blue-2

    /*.single a*/.link-single
        display block
        box-sizing border-box
        padding em(10) em(10) em(10) em(5)
        border-left em(4) solid $very-light-gray

        &.active
            margin-right -1px
            border-left em(4) solid $cyan
            background $white

    /*.link-singl */.top-strip
        margin-bottom em(7)


    /*.link-single avatar*/.photo,
    /*.link-single */.info
        @extends .top-align

    /*.single */.info
        width 75%
        width calc('100% - ' + em($img-sq-thumb + $reduced-padding))
        margin-left em($reduced-padding)

    /*section*/.convo
        @extends .top-align

        size unit($content-width / $max-width * 100, '%') 100%
        max-width em($content-width)
        overflow-x hidden

    /*header*/.sec-head
        padding em($default-padding)
        border-bottom 1px solid $cyan
        background $white
        box-shadow 0 2px 5px 1px rgba($blue-3,.25)
        position relative
        z-index 1

    /*li a*/.load-more
        display block
        padding em(20) em(10)
        text-align center
        cursor pointer
        border-right 1px solid $cyan
        border-bottom 1px solid $cyan
        font-family $font-bold-val
        background $light-blue-2

        .no-touch &:hover
            background $cyan
            color $white

    .msgs
        height 95%
        height calc('100% - ' + em($head-height + 5))// - header height

    .middle-float
        display inline-block
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        text-align center

    /*.middle-float h5*/.none-selected
        color $blue-2-50op
        margin-bottom 1em

    /*.middle-float a*/.next-convo
        font-family $font-bold-val
        cursor pointer

        .no-touch &:hover
            text-decoration underline
