.Msg
    .msg-container
        .msg-list
            header.sec-head
                strong.bld(i18n="notifications.ALL_MSGS")

            ul.convo-list
                li.empty-convos(
                    ng-if="!Interaction.hasConversations()"
                    i18n="notifications.NO_CONVOS"
                )

                li.single(
                    ng-repeat="conversation in Interaction.sortConvos() track by conversation.updated"
                    ng-init="person = Interaction.people[conversation.participants[0]]"
                    ng-class="{'unread': Interaction.isUnread(conversation)}"
                )
                    a.link-single(
                        ui-sref="pStandalone.messages.single({ msgID: conversation.msgID })"
                        ui-sref-active="active"
                    )
                        avatar.photo(
                            data-user="person"
                            data-size="thumb"
                        )
                        .info
                            .top-strip.clear
                                h4.user-name(ng-bind="::person.fullName")

                                span.when(ng-bind="conversation.fromNow")

                            p.snippet(ng-bind="conversation.snippet")

                li
                    a.load-more.icon-down-open(
                        ng-if="!vars.loadingMore && Interaction.showLoadMore()"
                        i18n="notifications.LOAD_OLD_CONVOS"
                        ng-click="Interaction.getConvos(true)"
                    )

        section.convo(ui-view="messageList")
            header.sec-head
                strong.bld(i18n="notifications.NO_SELECTED_CONVO")

            .msgs
                .msg-wrap
                    .middle-float
                        div(ng-if="Interaction.Interaction.totalConvosLen")
                            h5.none-selected(i18n="notifications.NO_SELECTED_CONVO")
                            a.next-convo(
                                i18n="notifications.VIEW_NEXT_MSG"
                                ng-click="Interaction.nextConversation()"
                            )

                        //- ZERO DATA
                        .no-convos.Zero.default(ng-if="!Interaction.Interaction.totalConvosLen")
                            h3.cta-head(i18n="notifications.ZERO_DATA_MSG_TITLE")

                            .center
                                img.zero-img(src="/images/landing/tandem/_Top-1.svg")

                                a.btn-blue.fluffy(
                                    ui-sref="activity.search.default({type:'tandems'})"
                                    i18n="activities.SEARCH_ALL_TANDEMS"
                                    analytics-on="click"
                                    analytics-category="zero data"
                                    analytics-event="click"
                                    analytics-label="messaging: search speakers"
                                )

    footer-popup
        span.icon-comment(i18n="common.SHOW_FOOTER")