.site-message
    fixed bottom left
    width 100%
    background $gray
    z-index 6

    .wrapper
        padding 1em
        text-align center
        color $white

    /*a*/.close-btn
        cursor pointer
        position absolute
        top 1em
        right 2em

        .no-touch &:hover
            color $blue-3