.listing-event
    .publish-row
        background $orange-dark
        color $white
        
        .inner-wrap
            padding 0 em($default-padding)
            line-height em($activity-sticky-height)
    
    /*.publish-row a*/.publish-event
        text-decoration underline
        color $white
        cursor pointer
        margin 0 .5em 0 1em
    
    .head
        background #F2F7F9

        .line
            margin-bottom .525em
            
            &:last-child
                margin 0
    
    // Mostly stuff below the main title
    .sub-detail
        color $blue-2
        line-height 1em
        
        .strong
            font-family $font-bold-val
    
    .line
        .icon
            width em(24)
            margin-right em(10.5)
            text-align center
            @extends .middle-align

            &:before
                color $blue-2-50op
                font-size em(22)
                margin 0

        .text
            @extends .middle-align
            max-width 65%
        
        /*.text */.line
            line-height 1.25em
    
    /*.head-left h1/h2*/.event-title
        $font-bold(20)
        color $blue-2
        padding-bottom em(15, 20)
    
    .languages
        position relative
        
    /*.lang-levels */.cefr-levels
        margin-right .75em
        cursor pointer
        
    /*.photo-sec */.photo
        display block
        padding-bottom 100%
        width 100%
        background-repeat none
        background-size contain
        position relative

        .no-svg &
            background url('/images/misc/fallback/event-placeholder.png') no-repeat
    
    .detail-wrap
        [class*="icon-"]:before
            vertical-align middle
    
    .center-location
        cursor pointer
        
        .no-touch &:hover
            color $cyan !important

    /*.line h3*/.location
        display inline
        font-size inherit
        margin-right .5em

    /*.line span*/.smaller,
    /*.line span*/.address
        $font-light(14, 14, 21)

    /*.right-head */.attending          // users attending
        span,
            $font-light(14)
            color $blue-2

        span,
        span:before
            line-height 1em
            vertical-align bottom
    
    /*.details */.body-copy
        max-height 0
        opacity 0
        margin-bottom 0
        transition all .3s ease-in

    /*.details */.cta
        absolute bottom right
        text-align right
        width 50%
    
    /*.eventry*/.expanded
        .more.info
            display none
        
        .less.info
            display inline-block
        
        .body-copy
            opacity 1
            max-height em(500)
            margin-bottom em(1.5em)
    
    .unsignup,
    .wait-list,
    .unwait-list
        display none

    /*.eventry*/.max-going:not(.im-attending)
        .signup,
        .unsignup,
        .unwait-list
            display none
        
        .wait-list
            display inline-block
        
        &.wait-listed
            .wait-list
                display none

            .unwait-list
                display inline-block
    
    /*.eventry*/.im-attending
        .signup
            display none

        .unsignup
            display inline-block
    
    .attend-select
        color $white