.LS-testimonials
    padding-top em(55)
    margin auto

    .LS-testimonials,
    .individual,
    .comment, 
    .comment-right,
    .name,
    .copy 
        padding-top em($default-padding)

    // h3
    .tm 
        text-align center
        width 60%
        margin auto  
        padding-bottom em($default-padding)
        
        +media('sm')
            width 25%
            
    .test-cntr
        margin auto 

        
    .comment-container 
        width 100% 
        margin auto 


    .image 
        color $white
        vertical-align middle 
        margin 0 
        padding em(10)
        
        +media('sm')
            float left 
            clear both 
            width 30%
            
    .oppo
        +media('sm')
            float right 
            clear both 
            width 30% 
            
    .oppo-c
        +media('sm')
            width 80%
        
    .image img 
        margin auto 


    .text 
        color #000 
        vertical-align middle
        padding em(20)
        text-align center 
        
        +media('sm')
            width 80%
            
    .occ
        padding-left 20%
        color $light-blue-3
        
    .copy
        text-align center 
