.LS-testimonials.LS-defaults
    .container
        h3.tm.center What people are saying about us.

        .test-ctnr.row
            .comment-container
                .image
                    img(src='/images/standalone/about/profile-chris.png')
                .text
                    h5.name
                        span.name Dale Minkus
                        span.occ Design
                    p.copy "Chatterplot saved my life. I was really struggling with language learning until I used the site to find the perfect tandem partner"

            .comment-container
                .image.oppo
                    img(src='/images/standalone/about/profile-shana.png')
                .text
                    h5.name
                        span.name Jade Minkus
                        span.occ Marketing
                    p.copy.oppo-c "Chatterplot saved my life. I was really struggling with language learning until I used the site to find the perfect tandem partner"


            .comment-container
                .image
                    img(src='/images/standalone/about/profile-marius.png')
                .text
                    h5.name
                        span.name Tom Minkus
                        span.occ Programmer
                    p.copy "Chatterplot saved my life. I was really struggling with language learning until I used the site to find the perfect tandem partner"
