[class*="Flow-"]
    // Classes
    .subject
        margin-bottom 1em
        font-family $font-regular-val
        line-height 1.5em

    .inline-subject
        margin 0 1em

    .inline-block
        max-width em(225)

    legend
        margin-bottom 1.25em

    // Structure
    .req-form
        width em(625)
        background $very-light-gray
        margin 0 auto
        padding em($default-padding * 2)