.cont[ng-view],
.wrapper,
section[class*="inner-"],
div[class*="inner-"]
    @extends _full-size

.site-wrap
    overflow-x hidden

html,
body
    text-size-adjust 100%
    height 100%

body
    font normal $root-font-px \/ em(16) $font-regular-val
    color $blue-2
    width 100%

//  Retina + non retina span images
span.img
    display block
    max-width 100%
    width 100%
    background-repeat no-repeat
    background-position center center
    background-size contain

img
    color $white

button
    border none

.wrapper,
[class*="-wrap"]
    position relative
    @extends _clearfix

    +media('sm')
        height 100%

.content-main
    position relative
    height 97%
    height calc('100% - ' + em($nav-height))

.has-subheader + .content-main
    $total-height = $nav-height + $subnav-height;
    height calc('100% - ' + em($total-height))

b,
strong,
.strong
    $font-bold()

i,
em,
.em
    $font-italic()

small
    line-height 1em
    font-size .8em

ul.default
    list-style inherit

    li
        display list-item
        margin-left 1.25em

input,
textarea
    font-size 1em
    box-shadow none

::-webkit-input-placeholder /* WebKit browsers */
    font italic 1em $font-italic-val

:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
    font italic 1em $font-italic-val

::-moz-placeholder /* Mozilla Firefox 19+ */
    font italic 1em $font-italic-val

:-ms-input-placeholder /* Internet Explorer 10+ */
    font italic 1em $font-italic-val

iframe
    max-width 100%

a
    text-decoration none
    text-decoration inherit

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family $font-title-val
    line-height 1.2em
    color $blue-2

    strong
        font-family $font-title-val

h1,
.h1
    font-size em(32)

h2,
.h2
    font-size em(22)

h3,
.h3
    font-size em(19)

h4,
.h4
    font-size em(17)

h5,
.h5
    font-size em(15)

h6,
.h6
    font-size em(12)

// Fuck you Avast
.aos.aos-overlay
    display none !important
    z-index -1 !important

//////////////////////////
/////  $RETINA IMG   /////
//////////////////////////
.non-retina-block
    display block !important

.non-retina-inline-block
    display inline-block !important

.non-retina-inline
    display inline !important

.retina-block,
.retina-inline-block,
.retina-inline
    display none !important


//retina images + desktop
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio : 2)
    .non-retina-block,
    .non-retina-inline-block,
    .non-retina-inline
        display none !important

    .retina-block
        display block !important

    .retina-inline-block
        display inline-block !important

    .retina-inline
        display inline !important
