.listing-event.Single
    $going-list-top = 50 // top offset of the going users list
    
    .shadow-hide
        overflow hidden

    /*span*/.space-right
        margin-right .5em
    
    .inner-head
        position relative
        padding-bottom em($default-padding)

    .content-sec
        +media('xs')
            padding 1em 1em 2em 1em
            width 100%

    .head
        position relative
        z-index 1
        box-shadow 0 2px 10px 0 rgba($cyan, .75)
        background $white

    /*h3*/.content-head
        $font-bold(19)
        margin-bottom .75em

    /*p*/.copy
        $font-light(15, 14, 20)
        margin-bottom em(25, 15)

        &:last-child
            margin 0
    
    .going-wrap
        position relative
        
    .going-margin,
    .head .bottom-right
        padding-right em($users-going-width)

        +media('xs')
            padding-right 0
            float right
            position relative 
            bottom em(-3)

    // Hidden location text
    .loc-hidden-text
        color $orange

    .bottom-right
        position absolute
        bottom 1em
        right 1em
        
    /*going-strip*/.u-going
        position absolute
        z-index 2
        top em($going-list-top)
        right 0
        display inline-block
        vertical-align top
        max-height calc('100% - ' + em($going-list-top * 2))

        +media('xs')
            float right
            position relative  
            top 1em
    
    /*.disconnect */.bottom-bar
        position relative
        top inherit
        display inline-block
        

        +media('sm')
            display block
            position absolute
            left 0
            top em($pane-layout-photo-width)

    /*.bottom-bar */.bar-elem
        @extends .middle-align
        padding em(10)
        border-radius em(3)
        border 1px solid $cyan
        background $white
        margin-right em($default-padding)
        
        &:first-child
            border-left none
            border-top-left-radius 0
            border-bottom-left-radius 0
    
    /*.bar-elem*/.back-btn
        line-height em(20)
        cursor pointer
    
    /*.bar-elem*/.share-sec
        border 1px solid $orange
        
        .text
            margin 0
            color $blue-2
            display inline-block

    .content
        position relative
        padding em(60) em(40) em(40)
        max-width 90%
        max-width calc('100% - ' + em($users-going-width))

        +media('xs')
            padding 1.5em 1em
            float left
            max-width 100%

    .ding
        margin-bottom 2em

        &:last-child
            margin 0

    .top-right
        absolute top right
        padding em($default-padding)

        :before
            @extends .middle-align

    .head-actn
        $font-bold(15, 14, 22.5)
        color $blue-2-50op
        cursor pointer

        .no-touch &:hover
            color $blue-2

    .back-button
        cursor pointer
        color $blue-2-50op
        font-family $font-title-val
        float right
        padding .5em
        text-align right
        
        .no-touch &:hover
            color $blue-2
    
    /*.css-select */.attend-select
        box-shadow -1px 1px 3px .05px rgba($blue-3, .5)
        
        select
            box-shadow none
