.avatar-like
    position relative
    max-width 100%

    &[data-size="default"]
        width em(150)
        height em(150)

    .img-wrapper
        width 100%

    /*.img-wrapper*/.thumb
        max-width em($img-sq-thumb)
        max-height em($img-sq-thumb) // needed for IE

    /*.img-wrapper*/.default
        max-width em($img-sz-default)
        max-height em($img-sz-default) // needed for IE

    .no-touch &.editable:hover
        .edit-photo-dd
            display block