.avatar.avatar-like(ng-class="{'editable': vars.editable}")
    .avatar-inner
        div(class="img-wrapper {{::viewModel.size}}")
            //- img will be added here dynamically

        .edit-photo-dd.hidden-xs(
            ng-if="vars.editable"
            ng-class="{'active': vars.showEdit}"
        )
            #avatarEdit.edit-inner.icon-pencil(
                ng-click="vars.showEdit = !vars.showEdit"
            )
                dd-layout-1.dd(
                    data-show-cancel="true"
                    data-show-variable="vars.showEdit"
                    data-trigger-id="avatarEdit"
                )
                    li(
                        i18n="misc.UPLOAD_PHOTO"
                        ng-click="viewModel.uploadPhoto()"
                    )
                    li(
                        ng-if="viewModel.hasPhoto && vars.canRemove"
                        i18n="common.REMOVE"
                        ng-click="viewModel.removePhoto()"
                    )
