.notif-display

    .mid-size
        max-width em(500)

    /*notification*/.li
        background $white

        &:nth-child(odd)
            background $light-blue-1

    /*a*/.load-more
        border-top 1px solid $blue-2-50op
        font em(15) \/ em(36, 15) $font-bold-val !important
        color $blue-3
        display block
        text-align center
        cursor pointer
        background $white

        .no-touch &:hover
            background $cyan
