title-modal.notif-display.notifications-modal(
    data-title="notifications.NOTIFICATIONS"
    data-abs-center="true"
    data-deactivate="vars.deactivate()"
    data-box-class="mid-size"
)
    ul.notifications
        notification.li(
            ng-repeat="note in vars.notifications.sorted track by note.nID"
            data-data="note"
        )

        a.load-more(
            ng-if="!vars.notifications.allLoaded()"
            i18n="activities.LOAD_MORE"
            ng-click="vars.loadMore()"
        )