.single-lang
    .autocomplete-box
        .term
            display block
            background none
            color $blue-2
            padding 0 0 0 1em
            line-height unit($default-input-height, 'px')

    .term
        absolute top left !important
        font-family $font-regular-val
        margin 0

    .term-remove
        display none

    &.shrink
        .term
        .active-term
            padding-left .5em
            padding-right .5em
            margin 0
