.single-lang
    lang-complete(
        data-icon="{{::icon}}"
        data-langs="vars.langs"
        data-exclude="vars.exclude"
        data-placeholder="{{::vars.placeholder}}"
        data-required="vars.required"
        data-on-add="vars.onAdd(languageID, name)"
        data-on-remove="vars.onRemove()"
        data-disabled="disabled"
        data-on-focus="vars.onFocus(event, languages)"
        data-on-blur="vars.onBlur(event)"
        data-ref="ref"
        data-allow-all="{{::allowAll}}"
        data-show-defaults="{{::showDefaults}}"
        name="{{::vars.fieldName}}"
    )