.chat-windows
    fixed bottom
    max-width 100%
    z-index 3
    padding 0 1em

    +media('sm')
        right em(50)
        padding 0

    .window
        max-width 100%
        width em(350)
        padding em($default-padding)
        background $light-blue-1
        border 1px solid $cyan
        border-bottom none
        box-shadow 0 0 6px 1px rgba($blue-3, .5)
        display inline-block
        vertical-align bottom

        +media('sm')
            margin-left em($default-padding)

    /*.window textarea*/.chat-text
        width 100%
        min-height em(105)

    .avatar
        max-width em(26)
        max-height em(26)
        margin-right em(10)

    /*h3*/.to-name
        $font-bold(14)
        color $blue-3

        .no-touch &:hover
            text-decoration underline

    .controls
        margin-bottom em($default-padding)

    .minimize
        cursor pointer
        max-width em(280)

        .controls
            margin 0

        .minim-hide
            display none

        .minim-show
            visibility visible
            height auto

    /*.controls */.to-section
        float left

    /*.controls */.btns
        position absolute
        top 1em
        right 1em

    /*.btns */.ctrl
        display inline-block
        vertical-align middle
        cursor pointer
        padding .5em

        &:before
            margin 0

        .no-touch &:hover
            color $cyan

    /*button*/.chat-send
        float right

    .minim-show
        visibility hidden
        height 0

    .sent
        display none
        padding 1em 0
        text-align center

    /*.sent */.border-dot
        margin 1.5em 0

    /*.sent */.convo-link
        font-family $font-regular-val

        .no-touch &:hover
            text-decoration underline

    .msg-sent
        .unsent
            display none

        .sent
            display block