section.chat-windows.logged-in-only(
    delegate=".minimize | chat.toggleMinimize($event, key); .close | chat.closeWindow(key); .msg-form | chat.send(talk) | submit"
)
    .inner
        article.window.clear(
            ng-repeat="(key, talk) in chat.talks"
            id="chat-{{::key}}"
            ng-class="{'msg-sent': !!talk.msgID}"
        )
            .controls.clear
                .to-section
                    avatar.middle-align(
                        data-user="talk.to[0]"
                        data-size="thumb"
                    )
                    a.to-name.middle-align.minim-hide(
                        ng-bind="::talk.to[0].fullName"
                        ui-sref="dashboard.profile.user({userID: talk.to[0].userID})"
                    )
                    a.to-name.middle-align.minim-show(ng-bind="::talk.to[0].fullName")

                .btns
                    .ctrl.minimize.icon-minus.minim-hide
                    .ctrl.close.icon-cancel-big

            .unsent
                form.msg-form.default-form.fat.minim-hide
                    textarea.chat-text(
                        ng-model="talk.message"
                        data-i18n-attr="{placeholder: 'activities.TT-CHAT_WINDOW'}"
                    )

                    button.chat-send.btn-blue(
                        i18n="common.SEND"
                        ng-disabled="!talk.message.length"
                    )
            .sent
                h3.sent-title(i18n="activities.MSG_SENT")

                .border-dot

                a.h4.convo-link.close(
                    i18n="activities.GO_2_CONVO"
                    ui-sref="pStandalone.messages.single({ msgID: talk.msgID })"
                )