.Sort.List.Display(
    delegate=".info | vars.toggleShow(Activity); .signup | vars.toggleAttending(Activity.eID, true); .unsignup | vars.toggleAttending(Activity.eID); .edit-event | vars.editEvent(Activity.eID); .publish-event | vars.publish(Activity)"
    id="{{::vars.ownID}}"
)
    //- What to show when there's no data
    //- Will have a zero-data-directive appended to it
    .no-activities(ng-show="(!vars.items || !vars.items.length) && !vars.searching")

    .loader(ng-show="vars.searching")
        div(inline-loader="true")

    table.activities-group.taper-attach(
        ng-repeat="Group in vars.items"
        id="sticky-group-{{::Group[0].eID}}"
    )
        thead
            tr.group-head.taper-bar
                th.taper-inner
                    span.taper-display(ng-bind="Group[0].date")

        tbody
            
            tr(
                class="Listing can-hilite {{Event.alternate}}"
                ng-repeat="Event in Group track by Event.eID"
                ng-class="{'active': Event.state.active}"
                id="eventRow-{{::Event.eID}}"
            )
                td
                    activity-listing(
                        data-type="event"
                        data-data="Event"
                        data-listing="true"
                        data-handler="methods"
                    )

    .load-more(
        ng-click="vars.loadMore()"
        ng-if="vars.showLoadMore && !vars.searching"
        analytics-on="click"
        analytics-category="search"
        analytics-event="click"
        analytics-label="event: load more"
    )
        .load-bar
            span.h3.load-text(i18n="activities.LOAD_MORE")
