.foot-seo
    margin 2em 0
    display none

    +media('sm')
        display block

    .links-col
        float left
        margin-right 3em
        line-height 1em

        &:last-child
            margin 0

    .head,
    .li
        $font-bold(15, 14, 30)

    /*.links-col li*/.head
        margin-bottom .5em

    /*.links-col a*/.li
        display block
        text-decoration none

    .fb-widget
        float right

    .link
        .no-touch &:hover
            color $white
