.foot-seo.clear
    ul.locs.links-col(ng-repeat="section in ::vars.sections")
        li.head(
            ng-class="::section"
            i18n="{{::vars.getHeadKey(section)}}"
        )

        a.li.link(
            ng-repeat="link in vars[section] track by link.link"
            ng-bind="::link.text"
            href="{{::link.link}}"
            analytics-on="click"
            analytics-category="footer"
            analytics-event="click"
            analytics-label="{{::link.label || vars.linkToLabel(link.link)}}"
        )

    .fb-widget.hidden-sm
        .fb-page(
            data-href='https://www.facebook.com/chatterplot'
            data-width='400'
            data-height='300'
            data-small-header='false'
            data-adapt-container-width='false'
            data-hide-cover='false'
            data-show-facepile='true'
            data-show-posts='true'
        )
