$color-warning = #FF8C00
$color-success = $green
$color-info    = #696969
$color-error   = $red

.yap-bar
    width 80%
    position fixed
    bottom 5%
    left 10%
    z-index 6
    color $white

.yap-message
    margin-top .5em
    padding 1em
    border-radius 2px
    box-shadow 0 0 6px 1px rgba($blue-3, .5)
    cursor pointer
    position relative

    .no-touch &:hover
        box-shadow 0 0 6px 2px rgba($blue-3, .6)

        .close-box
            color $blue-2

    .message-icon:before,
    .close-box
        font-size 2em
        position absolute
        top 50%
        transform translateY(-50%)

    .message-icon
        padding-left 3.15em

        &:before
            @extends [class^="icon-"]:before
            margin 0
            left .75em

    .close-box
        right .5em

        &:before
            margin 0

    .title
        font-size 1.25em
        margin-bottom .5em
        color $white

.yap-success
    background $color-success

    .message-icon:before
        @extends .icon-check:before

.yap-warning
    background $color-warning

    .message-icon:before
        font-size 1.85em
        @extends .icon-alert:before

.yap-info
    background $color-info

    .message-icon:before
        font-size 1.65em
        @extends .icon-comment:before

.yap-error
    background $color-error

    .message-icon:before
        font-size 1.55em
        @extends .icon-cancel-big:before

/********* !Animations ***********/
.yap-animation
    &.ng-enter
        transition .5s ease-in opacity, .5s ease-in transform

    &.ng-move,
    &.ng-leave
        transition .3s ease-in opacity, .3s ease-in transform

    &.ng-leave.ng-leave-active,
    &.ng-enter
        opacity 0
        transform translateY(5em)

    &.ng-leave
    &.ng-enter.ng-enter-active
        opacity 1
        transform translateY(0)