.map-control.move-search.default-form(
    ng-init="Control.name = 'moveSearch'"
    ng-show="!!Control.instance.currentSet.moveSearch && Control.vars.enabled"
)
    div(
        ng-if="!!Control.instance.currentSet.moveSearch"
        ng-init="Control.moveSearchInit()"
    )

        label.control-button.styled(
            for="mapMoveSearch"
            ng-show="Control.vars.autoSearch || !Control.vars.mapMoveCb"
        )
            input(
                type="checkbox"
                id="mapMoveSearch"
                ng-model="Control.vars.autoSearch"
            )
            span.checkbox
            span.text(i18n="activities.MAP_MOVE_SEARCH")

        a.control-button(
            ng-show="!Control.vars.autoSearch && Control.vars.mapMoveCb"
            i18n="activities.MAP_UPDATE_SEARCH"
            ng-click="Control.manualMapRefresh()"
            analytics-on="click"
            analytics-category="maps"
            analytics-event="click"
            analytics-label="update map view"
        )