ui-gmap-google-map
    display block

ui-gmap-google-map,
.angular-google-map,
.angular-google-map-container
    @extends _full-fit

$map-pane-border = 1

// !FIX-CALC
.map-container
    width calc('100% - ' + em($map-pane-width + $map-pane-border))
    display inline-block
    vertical-align top
    height 100%

    +media('xs')
        width 100%
        height 42vh

    +media('iphone-xs')
        height em(100) // for iphones that don't support v-units

    .window-container
        .lh
            line-height 1.5em


.map-pane
    position relative
    width em($map-pane-width + $map-pane-border) // add 1 to adjust for border-left
    max-width 100%
    display inline-block
    vertical-align top
    height 100%
    border-left 1px solid $cyan
    box-shadow -1px 0 6px 0 rgba($cyan, .65)
    
    .pane-content
        height 100%
    
    .pane-wrapper-scroll
        overflow-y scroll

.map-control
    position relative

    .control-button
        display block
        padding em(8) em(8) em(7)
        background $white
        margin em(8)
        color $blue-2
        box-shadow 0 0 5px 0 rgba($blue-3, .65)
        cursor pointer
        
        .no-touch &:hover
            background $cyan
            color $white
    
    :before
        margin 0

    &.plus-minus
        :before
            font-size 16px
            line-height em(18, 16)
            width em(18, 16)
            
    &.locate
        :before
            font-size 18px
            line-height em(18, 18)
            width em(18, 18)
    
    &.move-search
        font-size 12px

.map-back-pos
    cursor pointer
    position absolute
    top 1em
    right em($map-pane-width + 14)

.map-back-button
    padding em($default-padding)
    border 1px solid $cyan
    background rgba($white, .7)

    .no-touch &:hover
        background $white

.map-cluster div
    transition font-size 200ms ease-in, color 200ms ease-in

    .no-touch &:hover
        font-size 13px !important
        color $blue-2 !important
        text-shadow 0 0 10px $white

.window
    $carrot-height = 13
    $font-regular(14, 14, 16)

    /*a*/.close-window
        position absolute
        right .5em
        top .5em
        cursor pointer

        &:before
            margin 0
    
    .window-container
        background $white
        border 1px solid $cyan
        border-radius .25em
        width em($map-marker-window-width)
        padding 1em
        opacity 0
        transition opacity 250ms ease-out
        
        &:before,
        &:after
            content ' '
            top 99%
            left 50%
            position absolute
            width 0
            height 0
            border solid transparent
            pointer-events: none

        &:before
            border-color rgba(4, 48, 74, 0)
            border-top-color $cyan
            border-width em($carrot-height)
            margin-left - em($carrot-height)

        &:after
            border-color: rgba(255, 255, 255, 0)
            border-top-color: $white
            border-width: em($carrot-height - 1)
            margin-left: - em($carrot-height - 1)

        &.appear
            opacity .9
    