.Activity.Map.wrapper
    include MapLayout

    a.map-back-button.map-back-pos.icon-back(
        i18n="common.GO_BACK"
        ng-click="$root.goBack()"
    )

    .map-pane(ui-view="map")

    footer-popup
        span.icon-comment(i18n="common.SHOW_FOOTER")