.share-page
    display inline-block
    
    .text
        @extends .middle-align
        color $blue-2-50op
        $font-bold(15, 18)
        margin-bottom .5em

        &:after
            content ':'
    
    .shares
        margin-left em(5)

    /*.shares */.share-btn
        cursor pointer
        font-size em(18)
        color $cyan
        margin-left em(5, 18)

        .no-touch &:hover
            color $blue-3
        
        &:last-child:before
            margin 0
    
    .fb
        color $fb-blue

    .twit
        color $twitter-blue

    .goog
        color $google-red