.share.share-page
    .text.middle-align(
        ng-if="::vars.shareType"
        i18n-bo-variable="vars.shareType"
    )

    //- Buttons are bound as delegates in the directive instead of using multiple ng-clicks
    .middle-align.shares
        span.share-btn.icon-facebook.fb(data-what="facebook")

        span.share-btn.icon-twitter.twit(data-what="twitter")

        span.share-btn.icon-gplus.goog(data-what="google")
