.explain-modal.teacher
    /*header */.oj-banner
        background url('/images/landing/teacher/modal/banner.svg') no-repeat
        width em(515)
        height em(109)
        margin .75em auto 1em

        .no-svg
            background url('/images/landing/teacher/modal/fallback/banner.png') no-repeat