blank-modal.explain-modal-lay(
    abs-center="true"
    box-class="default-modal teacher explain-modal"
    deactivate="modal.deactivate('teacher')"
    padding="true"
)
    header
        .oj-banner

    .content-wrapper
        p.copy(i18n="teacher.TEACHER-INTRO_COPY")

        h2.subline(i18n="teacher.TEACHER-SUBLINE_1")

        p.copy(i18n="teacher.TEACHER-COPY_1")

        h2.subline(i18n="teacher.TEACHER-SUBLINE_2")

        p.copy(i18n="teacher.TEACHER-COPY_2")

        h3.center.subline(i18n="landing.FEATURE_COMING_SOON")