.sub-menu-bar
    ul
        li: a.menu-link(
                ui-sref="admin.users.edit"
                ui-sref-active="active"
            ) Edit/View Users
        li: a.menu-link(
                ui-sref="admin.users.add"
                ui-sref-active="active"
            ) Add User
        //- li: a.menu-link(
        //-         ui-sref="admin.users.invite"
        //-         ui-sref-active="active"
        //-     ) Invite Users

.adm-users.content
    .inner-content(ui-view='')