.adm-users
    /*table*/.ls-table
        th
            width 12%

        // Edit
        th:nth-child(2),
        td:nth-child(2)
            width calc('12% - 32px')

        // userID
        th:nth-child(3),
        td:nth-child(3)
            width 5%

        // userID
        th:nth-child(6),
        td:nth-child(6)
            width 15%

    /*table*/.ls-inner-table
        td
            width 12.5%
            padding .5em