.autocomplete-box(ng-class="::{'icon-comment': icon}")
    .popover-msg
        .popover.error(
            data-pos="top"
            ng-if="vars.required && vars.$touched"
        )
            span.form-error(i18n="auth.ERROR-REQUIRED")

        .term-editor.field
            span.term(ng-repeat="lang in langs track by lang.languageID")
                span.text(i18n="{{::vars.getLangKey(lang)}}")
                span.term-remove.icon-cancel

            input.active-term.reset(
                type="text"
                name="{{::vars.fieldName}}"
                ng-model="Autocomplete.term"
                placeholder="{{Autocomplete.placeholder}}"
                ng-required="vars.required"
                ng-disabled="vars.disabled"
            )