ng-form.default-form.styled.fluffy(
    name="Get"
    ng-init="modal.class = 'event-modal'"
)
    legend.block.title.head-19.center(i18n="events.WRITE_MSG_ATTENDEES")

    textarea.massive-box(
        data-i18n-attr="{placeholder: 'activities.TT-CHAT_WINDOW'}"
        ng-model="modal.vars.message"
        required
    )

    .submit-row
        button.btn-cancel(
            i18n="common.CANCEL"
            ng-click="modal.deactivate()"
        )

        button.btn-yellow(
            i18n="common.SEND"
            ng-disabled="Get.$invalid || modal.processing"
            ng-click="modal.onSubmit()"
        )