.Verified.wrapper(ng-init="Email.initVerifiedRedirect()")
    view-title Account Verified
    .content-modal.default-modal.content.center
        h1
            span.cyan(i18n="landing.THANKS_CONFIRMING")
            br

        p.message(i18n="landing.REDIRECTED")

        br

        .fluffy.continue-box
            a.btn-green(
                i18n="common.CONTINUE"
                ng-click="Email.upgradeSocket()"
            )

        .emblem.db