section.section-contact.inner-wrap
    h3.sec-title
        span(i18n="profile.MESSAGING")

    div(ng-if="section.show")
        p.display(
            ng-bind="::section.noAcceptMsg"
            ng-if="!source.settings.notifs.messaging.acceptAll"
        )

        .stuff(ng-if="source.settings.notifs.messaging.acceptAll")
            .btn-yellow.fluffy(
                i18n="notifications.SEND_BOB_MSG"
                data-person="{{::source.firstName}}"
                ng-click="section.messageUser()"
            )

