.LS-regions
    padding-top 3em

    +media('sm')
        padding-bottom em(10)

    +media('md')
        padding-bottom 3em

    /*h2.sec-header*/.title
        margin-bottom 1em
        color $gray

    .regions
        +media('md')
            text-align center 

    .regions-col
        // hide the other columns in mobile if a user shrinks from desktop -> tablet
        & ~ .regions-col
            display none

        +media('md')
            display inline-block !important
            width 33.33%
            vertical-align top 

            // This is some hacky math we do to get each row using all of the available left/right space
            &:first-child
                padding-right em(13.5)

            &:nth-child(2)
                padding 0 em(7)

            &:last-child
                padding-left em(13.5)

    .region
        position relative

        /*h4*/.lang-name
            position absolute
            top 50%
            left 50%
            transform translateX(-50%)
            font-size em(24)
            color $light-gray
            
        .bg-img
            width 100%
            background-size cover

            +media('md')
                margin-bottom em(20)
                
        .bg-overlay
            absolute top left
            background-color $blue-2
            width 100%
            height 100%
            display block 
            opacity 0
            transition opacity 250ms ease-out

        .bg-overlay:hover 
            opacity .4
