.LS-regions.LS-defaults
    .container
        .row.center
            h2.sec-header.title.col-xs-12(i18n-bo-variable="AB.text.regionsHead")

        .row.regions
            .regions-col.center(ng-repeat="regionColumn in ::colArray")
                .region.center(ng-repeat="region in ::regionColumn")
                        .bg-img
                            responsive-image(
                                data-img-base="{{::region.image}}"
                                data-img-size="region-{{region.size}}"
                                data-static-path="{{::regionData.path}}"
                                data-static-type="{{::regionData.mime}}"
                            )
                            a.bg-overlay(
                                href='{{::region.href}}'
                                analytics-on="click"
                                analytics-category="landing"
                                analytics-event="click"
                                analytics-label="{{::region.lang.toLowerCase()}}; image"
                            )
                            h4.lang-name(i18n="languages.{{::region.lang}}")
