.paid-tag-cont
    .modal-lay
        padding-bottom 15em

    .blank-modal
        margin-bottom 20em

    .close-modal
        display none

.paid-tags
    width em(600)

    ////// Class
    .brick
        margin-bottom em(10)

    ////// Structure
    /*header*/.header-bg
        @extends _dark-blue-gradient
        text-align center

    /*.header-bg h3*/.title
        color $white
        $font-title(16, null, 40)

    .inner-c
        padding em($default-padding * 2)

    /*p*/.intro
        padding-bottom em(20)
        font-size em(16)

    .btn-paid
        font-size em(14)

    .sample-listing
        position absolute
        left 50%
        transform translateX(-50%)
        bottom -15em
        width em(575)
        box-shadow 0 0 3px $white

    /*.word-bank*/.pay-select
        margin-bottom em(25)

    .pay-box
        width 40%
        margin 0 auto
        padding em($default-padding)
        text-align center

    .cart-total
        $font-regular(18)

    .dolla
        $font-title(9)

    .price
        $font-title(16)

    .paypal
        opacity .5

    &.added-to-cart
        .paypal
            cursor pointer
            opacity 1

    .medallion
        width 30%
        position absolute
        bottom -29em
        left 50%
        margin-left -15%

