.paid-tags(
    ng-controller="PaidTagsCtrl as vm"
    ng-class="{'added-to-cart': vm.hasSelected}"
)
    header.header-bg
        h3.title(i18n="campaignTags.TAG_PRICE")

    .inner-c(ng-show="!vm.data.validated")
        p.intro(i18n="campaignTags.TAG_BE_SEARCHED")

        form.pay-select.word-bank(
            name="Tags"
            delegate=".btn-paid | vm.valClicked(obj)"
        )
            label.btn-paid.selectable.word(ng-repeat="obj in ::vm.data.tags track by obj.key")
                input.hidden(
                    type="checkbox"
                    name="{{::obj.key}}"
                    value="{{::obj.value}}"
                    ng-model="obj.selected"
                )
                .display
                    .icon
                    .txt(i18n="{{::obj.text}}")

        .center
            .pay-box.white-inset.middle-align
                .brick
                    h4.cart-total(i18n="common.TOTAL_CART")

                .price-display.brick
                    span.top-align.dolla $
                    span.top-align.price(ng-bind="vm.toPrice()")

                .paypal.brick(ng-click="vm.validate()")
                    img(
                        src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png"
                        alt="Buy now with PayPal"
                    )

                .btn-white.fat(
                    i18n="common.NO_THANKS"
                    ng-click="modal.deactivate()"
                    analytics-on="click"
                    analytics-category="acquisition"
                    analytics-event="click"
                    analytics-label="validation: tags: no thanks"
                )

            img.medallion.middle-align(src="/images/misc/medallion/first_100.svg")

    .inner-c(ng-show="vm.data.validated")
        h4 Thanks for your feedback! We're working on this idea right now. If you have any tips, feel free to <a href="{{::vm.data.feedbackUrl}}" class="styled-link"><strong>leave feedback</strong></a>!

        .mid-space-chunk

        .center
            button.btn-yellow.fat(
                ng-click="modal.deactivate()"
            ) Continue to Profile

    .sample-listing
        img.list-img(src="/images/profile/sample_listing.svg")
