/************************/
/*****    !COLORS   *****/
/************************/
$white = #fff
$black = #000
$alternate-blue = #ECF8FD
$light-blue-1 = #e5f4fc
$light-blue-2 = #ccebf6
$light-blue-3 = #9ccee3
$white-blue-gradient-dark-pre = #E2F8FF
$white-blue-gradient-dark-post = #9AD1E6
$cyan = #5fb8e8
$cyan-gradient = #0083c2
$cyan-gradient-dark-pre = #3BA6D9
$cyan-gradient-dark-post = #006799
$blue-1 = #4BB8E4
$blue-2 = #04304A
$blue-2-50op = #8097a3
$blue-3 = #0D1728
$blue-fade = #567f99 // For disabled + placeholder text
$light-red = #E14F50
$red = #e61d36
$red-gradient = #b31f24
$red-gradient-dark-pre = #C7192F
$red-gradient-dark-post = #910715
$green = #56b38e
$green-vibrant = #27c481
$green-gradient-pre = #21db69
$green-gradient = #268f60
$green-gradient-dark-pre = #2da870
$green-gradient-dark-post = #1f754f
$yellow-light = #fff9c4
$yellow-1 = #f7bc3a
$orange = #ff831d
$orange-light = #f7bc3a
$orange-dark = #e67100
$very-light-gray = #F9FAFA
$light-gray = #DEE3E3
$mid-gray = #D3D3D3
$gray = $blue-2-50op
$dark-gray = #333

//////// Misc Colors
$lime = #15D994

$color-display = $red

$modal-bg = $light-blue-1

/************************/
/***** !SOCIAL MEDIA ****/
/************************/
$fb-blue = #3B5999
$fb-blue-hover = lighten($fb-blue, 20%)
$google-red = #dd4b39
$google-red-hover = lighten($google-red, 10%)
$linkedin-blue = #007bb6
$linkedin-blue-hover = lighten($linkedin-blue, 10%)
$twitter-blue = #33CCFF
$twitter-blue-hover = lighten($twitter-blue, 20%)

$fb-blue-dark = #4D68A1
$google-red-dark = #DD4D3B
$twitter-blue-dark = #5EA9DD
$linkedin-blue-dark = #0177B0

$italki-pink = #E2177B


/************************/
/*****  !GRADIENTS   ****/
/************************/
_white-blue-gradient
    background $light-blue-2
    background linear-gradient(-180deg, $white 0%, $light-blue-2 100%)

_white-blue-gradient-hover
    background $white-blue-gradient-dark-post
    background linear-gradient(50deg, $white-blue-gradient-dark-post 0%, $white-blue-gradient-dark-pre 100%)


_blue-gradient
    background $cyan-gradient
    background linear-gradient(-100deg, $cyan 0%, $cyan-gradient 100%)

_blue-gradient-hover
    background $cyan-gradient-dark-post
    background linear-gradient(15deg, $cyan-gradient-dark-post 0%, $cyan-gradient-dark-pre 100%)

_dark-blue-gradient
    background $blue-2
    background linear-gradient(-100deg, $blue-3 0%, $blue-2 100%)

_red-gradient
    background $red-gradient
    background linear-gradient(-100deg, $red 0%, $red-gradient 100%)

_red-gradient-hover
    background $red-gradient-dark-post
    background linear-gradient(115deg, $red-gradient-dark-post 0%, $red-gradient-dark-pre 100%)

_green-gradient
    background $green-gradient
    background linear-gradient(15deg, $green-gradient 0%, $green-vibrant 100%)

_green-gradient-hover
    background $green-gradient-dark-post
    background linear-gradient(15deg, $green-gradient-dark-post 0%, $green-gradient-dark-pre 100%)

_yellow-gradient
    background $orange-dark
    background linear-gradient(-330deg, $orange-dark 0%, $orange-light 100%)

_yellow-gradient-hover
    background $orange-dark
    background linear-gradient(-330deg, darken($orange-dark, 15%) 0%, darken($orange-light, 15%) 100%)

_fbGradient
    background $fb-blue
    background linear-gradient(-100deg, $fb-blue-hover 0%, $fb-blue 100%)

_googleGradient
    background $google-red
    background linear-gradient(-100deg, $google-red 0%, $google-red-hover 100%)

_linkedinGradient
    background $linkedin-blue
    background linear-gradient(-100deg, $linkedin-blue 0%, $linkedin-blue-hover 100%)

_blackOpaqGradient
    background rgba(0, 0, 0, .65)
    background linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .65) 100%)

// $light = #fff; // $white
// $stable = #e5f4fc; // $light-blue-1
// $positive = #ff831d; // $orange
// $calm = #4BB8E4; // $blue-1
// $balanced = #56b38e; // $green
// $energized = #5fb8e8; // $cyan
// $assertive = #e61d36; // $red
// $royal = #04304A; // $blue-2
// $dark = #0D1728; // $blue-3
//
// $ionicons-font-path = 'm/assets/fonts/ionicons';
//
// $font-family-sans-serif = $font-regular-val;
// $font-family-light-sans-serif = $font-light-val;
// $font-family-serif = $font-alt-bold-val;
// $font-family-monospace = 'monospace';
// $font-family-base = $font-family-sans-serif;
// $font-size-base = $root-font-size;
// $font-size-large = 18px;
// $font-size-small = 11px;
// $line-height-base = 1.42857;
