@font-face
    font-family 'Aller Bold'
    src url(s('%sfonts/aller/aller-bold.eot', unquote(cdnBase)))
    src url(s('%sfonts/aller/aller-bold.eot?#iefix', unquote(cdnBase))) format('embedded-opentype'),
        url(s('%sfonts/aller/aller-bold.woff', unquote(cdnBase))) format('woff'),
        url(s('%sfonts/aller/aller-bold.ttf', unquote(cdnBase))) format('truetype'),
        url(s('%sfonts/aller/aller-bold.svg#allerbold', unquote(cdnBase))) format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Aller Bold Italic'
    src url(s('%sfonts/aller/aller-bold-italic.eot', unquote(cdnBase)))
    src url(s('%sfonts/aller/aller-bold-italic.eot?#iefix', unquote(cdnBase))) format('embedded-opentype'),
        url(s('%sfonts/aller/aller-bold-italic.woff', unquote(cdnBase))) format('woff'),
        url(s('%sfonts/aller/aller-bold-italic.ttf', unquote(cdnBase))) format('truetype'),
        url(s('%sfonts/aller/aller-bold-italic.svg#allerbolditalic', unquote(cdnBase))) format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Aller Light'
    src url(s('%sfonts/aller/aller-light.eot', unquote(cdnBase)))
    src url(s('%sfonts/aller/aller-light.eot?#iefix', unquote(cdnBase))) format('embedded-opentype'),
        url(s('%sfonts/aller/aller-light.woff', unquote(cdnBase))) format('woff'),
        url(s('%sfonts/aller/aller-light.ttf', unquote(cdnBase))) format('truetype'),
        url(s('%sfonts/aller/aller-light.svg#aller_lightregular', unquote(cdnBase))) format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Aller Regular'
    src url(s('%sfonts/aller/aller-regular.eot', unquote(cdnBase)))
    src url(s('%sfonts/aller/aller-regular.eot?#iefix', unquote(cdnBase))) format('embedded-opentype'),
        url(s('%sfonts/aller/aller-regular.woff', unquote(cdnBase))) format('woff'),
        url(s('%sfonts/aller/aller-regular.ttf', unquote(cdnBase))) format('truetype'),
        url(s('%sfonts/aller/aller-regular.svg#aller_regular', unquote(cdnBase))) format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Aller Light Italic'
    src url(s('%sfonts/aller/aller-light-italic.eot', unquote(cdnBase)))
    src url(s('%sfonts/aller/aller-light-italic.eot?#iefix', unquote(cdnBase))) format('embedded-opentype'),
        url(s('%sfonts/aller/aller-light-italic.woff', unquote(cdnBase))) format('woff'),
        url(s('%sfonts/aller/aller-light-italic.ttf', unquote(cdnBase))) format('truetype'),
        url(s('%sfonts/aller/aller-light-italic.svg#aller_lightitalic', unquote(cdnBase))) format('svg')
    font-weight normal
    font-style italic

@font-face
    font-family 'Museo 700'
    src url(s('%sfonts/museo/Museo_700.eot', unquote(cdnBase)))
    src url(s('%sfonts/museo/Museo_700.eot?#iefix', unquote(cdnBase))) format('embedded-opentype'),
        url(s('%sfonts/museo/Museo_700.woff', unquote(cdnBase))) format('woff'),
        url(s('%sfonts/museo/Museo_700.ttf', unquote(cdnBase))) format('truetype'),
        url(s('%sfonts/museo/Museo_700.svg#aller_lightregular', unquote(cdnBase))) format('svg')
    font-weight normal
    font-style normal