// Define the cache and the aliases
$media_cache = {}
$media_aliases = {
    iphone-xs:  '(max-height: 480px)' // iphone 4/5
    xs:         '(max-width: 480px)' // default
    grey-zone:  '(min-width: 481px) and (max-width: 767px)'
    grey:       '(max-width: 767px)'
    remove:     '(min-width: 481px)'
    sm:         '(min-width: 768px)'
    sm-only:    '(min-width: 768px) and (max-width: 991px)'
    md:         '(min-width: 992px)'
    lg:         '(min-width: 1200px)'
}

rupture.scale = 0 480px 768px 992px 1200px

$below-xs = 1
$below-sm = 2
$below-md = 3
$below-lg = 4

$above-xs = 2
$above-sm = 3
$above-md = 4
$above-lg = 5

// I don't get why 1 !== 480px (or index 1) but the following is what works
$xs = 2
$sm = 3
$md = 4
$lg = 5

// Mixin for caching the blocks with the given conditions
media($condition)
    helper($condition)
        unless $media_cache[$condition]
            $media_cache[$condition] = ()
        push($media_cache[$condition], block)

    +helper($condition)
        {selector() + ''}
            {block}

// Function we would use to call all the cached styles
apply_media_cache()
    for $media, $blocks in $media_cache
        $media = unquote($media_aliases[$media] || $media)
        $media = '(%s)' % $media unless match('\(', $media)
        $media = 'only screen and %s' % $media
        @media $media
            for $block in $blocks
                {$block}

/* USAGE

    .foo
        width: 10px
  
        +media('sm')
            width: 20px
  
        +media('md')
            width: 30px
  
        +media('min-width: 200px')
            width: 60px

    .bar
        height: 10px
  
        +media('sm')
            height: 20px
  
        +media('md')
            height: 30px
  
        +media('min-width: 200px')
            height: 50px
  
        +media('(min-width: 500px) and (max-width: 700px)')
            height: 50px
*/