/************************/
/*****    !FONTS    *****/
/************************/
$font-light-val         = 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, sans-serif
$font-italic-val        = 'Open Sans', $font-light-val
$font-regular-val       = 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif
$font-bold-val          = 'Open Sans', 'Helvetica Neue Bold', Helvetica, sans-serif
$font-title-val         = 'Museo 700', 'Helvetica Neue Bold', sans-serif

$font-light(size = null, base = null, lineheight = null)
    font-mixin($font-light-val, 300, size, base, lineheight)

$font-regular(size = null, base = null, lineheight = null)
    font-mixin($font-regular-val, 400, size, base, lineheight)

$font-italic(size = null, base = null, lineheight = null)
    font-mixin($font-italic-val, 400, size, base, lineheight, italic)

$font-bold(size = null, base = null, lineheight = null)
    font-mixin($font-bold-val, 700, size, base, lineheight)

$font-title(size = null, base = null, lineheight = null)
    font-mixin($font-title-val, 700, size, base, lineheight)

/************************/
/***** !EXTENSIONS  *****/
/************************/
_full-size
    width 100%
    min-height 100%

_full-fit
    width 100%
    height 100%

_overlay
    background rgba(0, 0, 0, .8)
    color $white
    padding .2em

_clearfix
    clearfix()

_modal-shadow
    box-shadow 0 2px 9px 0px rgba($blue-2, .2)

_vertical-top
    display inline-block
    vertical-align top

// Extend :before elements of icons to fit in inputs
_icon-input
    position absolute
    left .5em
    z-index 2
    top 50%
    transform translateY(-50%)

_autocompletLangPadding
    padding 12px
