.time-picker.default-form.styled
    .css-select
        select(
            ng-model="source"
            name="time"
            ng-required="required"
            ng-options="time.value as time.display for time in vars.times"
        )

        .icon-clock