.Activity
    height 100%

    &.Map
        overflow-y hidden
    
    .List
        .active
            background $light-blue-2 !important

@import 'directives/back2Search/Style'
@import 'directives/search/Style'
@import 'search/Style'