.explain-modal.host
    /*header */.oj-banner
        background url('/images/landing/event/host/banner.svg') no-repeat
        width em(515)
        height em(92)
        margin .75em auto 1em

        .no-svg
            background url('/images/landing/event/host/fallback/banner.png') no-repeat