blank-modal.explain-modal-lay(
    abs-center="true"
    box-class="default-modal host explain-modal"
    deactivate="modal.deactivate('eventHost')"
    padding="true"
)
    header
        .oj-banner

    .content-wrapper
        h3.subline(i18n="events.HOSTING-SUBLINE_1")

        p.copy(i18n="events.HOSTING-COPY_1")

        h3.subline(i18n="events.HOSTING-SUBLINE_2")

        p.copy(i18n="events.HOSTING-COPY_2")

        .fluffy.center
            .btn-yellow(
                ng-click="modal.callToAction()"
                i18n="events.CREATE_EVENT"
                analytics-on="click"
                analytics-category="standalone"
                analytics-event="click"
                analytics-label="event host modal: become a host"
            )