.google-location
    input[type="text"]
        margin-bottom 0
        width 100%

        &:focus
            box-shadow none
    
    &[class*="icon-"]
        padding-left 2em
        position relative

        &:before
            @extends _icon-input

    /*a*/.get-cur-location
        absolute top right

    .icon-location
        &:before
            font-size 18px
            padding em(13, 18) em(8, 18)
            margin 0
            absolute top left
            @extends .icon-location:before

        .input-location
            padding-left 2.5em
        
    /*tooltip*/.loc-target
        padding em(12) em(8)

        &:before
            font-size em(18)
            cursor pointer
            margin 0
            width auto
            background white
        
        .no-touch &:hover
            &:before
                color $blue-3