ng-form.google-location.default-form
    .loc-wrap.popover-msg.nom(ng-class="::{'cur-location': vars.curLocation, 'icon-location': !!showIcon}")
        .popover.error(
            data-pos="top"
            ng-messages="Form.loc.$error"
            ng-if="Form.loc.$touched && Form.loc.$invalid"
        )
            span.form-error(ng-message="required")
                span(i18n="auth.ERROR-REQUIRED")
            span.form-error(ng-message="invalidate")
                span(i18n-bo-variable="invalidError")
            span.form-error(ng-message="googleLocation")
                span(i18n-variable="vars.googleError")

        input.input-location.field(
            type="text"
            id="{{::vars.inputID}}"
            ng-required="required"
            ng-model="vars.defaultValue"
            google-location-validator="source"
            placeholder="{{vars.placeholder}}"
            name="loc"
        )

        a.get-cur-location(
            ng-if="::vars.curLocation"
            ng-click="vars.getCurrentLocation()"
        )
            tooltip.icon-target.loc-target(
                text="activities.TT-CUR_LOC_SEARCH"
                data-attach="true"
                data-pos="bottom"
            )