ng-form.basicInfo(name="basicInfo")
    .form-group(ng-init="Create.setStepForm(basicInfo)")
        //- EVENT !TITLE
        .line
            .subject.required
                span.text(i18n="events.NAME")
            .ffield.popover-msg
                .popover.error(
                    data-pos="top"
                    ng-messages="basicInfo.name.$error"
                    ng-if="(basicInfo.$submitted || basicInfo.name.$touched) && basicInfo.name.$invalid"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")

                input.full.field(
                    ng-model="Create.newEvent.name"
                    name="name"
                    maxlength="80"
                    required=""
                    data-i18n-attr="{ placeholder: 'events.PLACEHOLDER-NAME' }"
                    type="text"
                )

        //- !DATE/TIME PICKERS
        .line(ng-class="{'hanging': Create.data.showDateEnd != true && Create.data.event.date}")
            span.subject.required
                .text(i18n="events.DATE")
            .ffield
                .popover-msg.nom.inline-block
                    .popover.error(
                        data-pos="top"
                        ng-messages="basicInfo.date.$error"
                        ng-if="basicInfo.$submitted"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-REQUIRED")

                    date-picker.date-shtuff(
                        data-source="Create.data.event.date"
                        data-disable-past="true"
                        data-required="true"
                        data-format="fullDate"
                    )

                span.inline-subject
                    strong.inline-text(i18n="events.START_TIME")

                time-picker(
                    data-source="Create.data.event.time"
                    data-start-from="6"
                    data-end-at="23"
                    data-required="true"
                    data-watch-min-time="Create.data.event.minTime"
                    data-conditional="Create.data.event.date.getTime() == Create.data.event.minDate"
                )

        .line.hanging(ng-if="Create.data.showDateEnd")
            span.subject
                .text(i18n="events.END_DATE")
            .ffield
                .inline-block
                    date-picker.date-shtuff(
                        data-source="Create.data.event.endDate"
                        data-disable-past="true"
                        data-min-date="Create.data.event.date"
                        data-format="fullDate"
                    )

                span.inline-subject
                    strong.inline-text(i18n="events.END_TIME")

                time-picker(
                    data-source="Create.data.event.endTime"
                    data-disable-default="true"
                    data-watch-min-time="Create.data.event.time"
                    data-conditional="Create.data.event.date.getTime() == Create.data.event.endDate.getTime()"
                )

        .line(ng-show="Create.data.event.date")
            span.subject
            .ffield
                label.set-line-height(for="showDateEnd")
                    input(
                        type="checkbox"
                        id="showDateEnd"
                        ng-model="Create.data.showDateEnd"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="events.ADD_END_DATE")
        
        //- !LOCATION
        .line
            .subject
                span.text(i18n="events.LOCATION_DISPLAY_NAME")
            .ffield
                input.full(
                    ng-model="Create.newEvent.locationDisplayName"
                    name="locationDisplayName"
                    maxlength="20"
                    data-i18n-attr="{ placeholder: 'events.PLACEHOLDER-LOCATION_NAME' }"
                    type="text"
                )

        .line.hanging
            .subject.required
                span.text(i18n="events.LOCATION_ADDRESS")
            .ffield.popover-msg
                .popover.error(
                    data-pos="top"
                    ng-messages="basicInfo.location.$error"
                    ng-if="(basicInfo.$submitted || basicInfo.location.$touched) && basicInfo.location.$touched"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")
                google-location.location(
                    data-source="Create.data.locationClone"
                    data-on-select="Create.locationSelect(location, 'google')"
                    data-required="true"
                    data-placeholder="events.PLACEHOLDER-EVENT_LOCATION"
                    data-name="location"
                    data-update="misc.updateLocField"
                )

        .line
            .subject
            .ffield
                label.set-line-height(
                    for="rsvpOnlyRadius"
                )
                    input(
                        type="checkbox"
                        id="rsvpOnlyRadius"
                        ng-model="Create.data.rsvpOnlyRadius"
                        ng-change="Create.triggerRadius()"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="events.HIDE_ADDRESS")
                    =' '
                    tooltip.small-tip(text="events.TT-HIDE_ADDRESS")

    .right-align.fluffy
        a.btn-cancel(
            i18n="common.CANCEL"
            ng-click="Create.cancelEvent()"
        )

        button.btn-blue(
            ng-disabled="basicInfo.$invalid || misc.processing"
            i18n="common.CONTINUE"
            ng-click="Create.continue()"
            ng-if="::!misc.edit"
        )

        button.btn-blue(
            ng-disabled="basicInfo.$invalid"
            i18n="events.UPDATE"
            ng-click="Create.updateEvent()"
            ng-if="::misc.edit"
        )
