.sub-menu-bar
    ul
        li: a.menu-link(
                ui-sref="admin.misc.feature"
                ng-class="{active:$state.includes('admin.misc.feature')}"
            ) Feature
        li: a.menu-link(
                ui-sref="admin.misc.siteMsg"
                ng-class="{active:$state.includes('admin.misc.siteMsg')}"
            ) Site Message

.adm-misc.content
    .inner-content(ui-view='')