.req-listing
    font-family $font-light-val
    color $blue-2-50op

    /////////////////
    //  $GENERAL
    ////////////////
    strong
        $font-bold(15)

    .styled-link
        font-family inherit
        text-decoration none

    .left-haf,
    .right-haf
        width 50%

    /////////////////
    //  $STRUCTURE
    ////////////////
    .activity-name
        margin-bottom .5em

    /*.activity-name a*/.view-link
        color inherit

    .icon-haf
        font-size em(23)
        text-align center
        margin-top .25em

    &.deny,
    &.cancel
        .status-buttons
            display none

    .status-bar
        position relative
        padding em($default-padding, 15)
        color $white
        $font-bold(15)
        background $blue-2-50op

        &:after
            content ' '
            position absolute
            width 0
            height 0
            border solid transparent
            pointer-events none
            border-width em($carrot-height - 1)
            margin-left - em($carrot-height - 1)
            bottom 100%
            left 50%
            border-bottom-color $blue-2-50op

    &.pending
        .status-bar
            background $orange

            &:after
                border-bottom-color $orange

        &.my-req
            .status-bar
                background $cyan

                &:after
                    border-bottom-color $cyan

        &:not(.my-req)
            .status-bar .accept-link
                display inline-block

    &.accept
        .status-bar
            background $green

            &:after
                border-bottom-color $green

    /*span*/.status-txt:after
        content ': '

    .status-buttons
        text-align right

    .deny-link
        color $white
        text-decoration underline

    .accept-link
        display none
        margin-left .5em

