article(class="req-listing {{Activity.status}} {{::Activity.isMine && 'my-req'}}")
    .inner-wrap
        header.head.pane-layout-photo
            .inner-head(ng-init="Interaction.otherParticipants(Activity)")
                a.photo-sec(ui-sref="dashboard.profile.user({ userID: Activity.otherUser.userID })")
                    avatar.photo(data-user="Activity.otherUser")
                        .photo-hangers
                            .hanger.when
                                strong.date(ng-bind="::Activity.date")
                                =' '
                                strong.time(
                                    ng-bind="::Activity.time"
                                    ng-if="::Activity.indexType != 'listing'"
                                )

                .detail-wrap.content-sec
                    .activity-name
                        h2.activity-title(ng-bind-html="::Interaction.requestWith(Activity, Activity.otherUser)")

                    .setting
                        .left-haf.top-align.pw-50
                            .icon-haf.pw-15.top-align
                                .icon-location
                            .details.pw-80.top-align
                                div(ng-if="::cache.venues[Activity.venue.vID].venue.name")
                                    strong(ng-bind="::cache.venues[Activity.venue.vID].venue.name")
                                span(ng-bind="::Interaction.formatLocation(cache.venues[Activity.venue.vID].venue)")

                        .right-haf.top-align.pw-50
                            .icon-haf.pw-15.top-align
                                .icon-clock
                            .details.pw-80.top-align
                                strong(ng-bind="::Activity.date")
                                strong.space(i18n="common.AT_TIME")
                                strong.space(ng-bind="::Activity.time")

                    .bottom-right.fat
                        a.btn-white.edit-button.hover-show.icon-pencil(
                            ng-if="::!Activity.expired"
                            i18n="profile.EDIT_DETAILS"
                            href="{{::Interaction.generateLink(Activity, 'edit')}}"
                        )

                        a.btn-blue.edit-button.hover-show(
                            ng-if="::Activity.expired"
                            i18n="activities.REQ_ANOTHER"
                            href="{{::Interaction.generateLink(Activity, 'duplicate')}}"
                        )

                    //- here to absorb a css class which removes margin-bottom from last-child
                    .last-child

        .status-bar(ng-if="::!Activity.expired")
            .left-haf.middle-align
                span.status-txt(i18n="activities.REQUEST_STATUS")
                span.status-type(i18n-variable="Interaction.getStatus(Activity)")

            .status-buttons.right-haf.middle-align.fat
                a.deny-link.middle-align(
                    i18n="activities.CANT_ATTEND"
                    href="{{Interaction.generateLink(Activity, Interaction.getDenyType(Activity))}}"
                )

                a.btn-blue.accept-link.middle-align(
                    i18n="activities.ACCEPT_REQUEST"
                    href="{{::Interaction.generateLink(Activity, 'accept')}}"
                )