.password-update
    .label,
    .input
        @extends .list-section .subject
    
    .list:last-child
        margin 0
    
    .password-reset
        .line
            margin-bottom em(15)

/*.line*/.submit-row
    text-align right

    /*input*/.submit[type="submit"]
        @extends .btn-red