.inner.default-form.styled
    
    ul.listed.default-form.styled
        li.list(ng-show="vars.disableOldPassword")
            span.whole-row
                h4.text(i18n="settings.ADD_PASSWORD")
        li.list(ng-hide="vars.disableOldPassword")
            div
                span.subject
                    .text(i18n="settings.OLD_PASSWORD")
                .input
                    form.popover-msg(
                        popover-msg
                        name="passwordUpdate"
                    )
                        .popover.error(
                            data-pos="right"
                            ng-messages="passwordUpdate.oldPassword.$error"
                            ng-if="(passwordUpdate.$submitted || passwordUpdate.oldPassword.$touched) && passwordUpdate.oldPassword.$invalid"
                        )
                            span.form-error(ng-message="required")
                                span(i18n="auth.ERROR-PASSWORD_REQUIRED")
                            span.form-error(ng-message="passwordMatches")
                                span(i18n="settings.ERROR-INCORRECT_PASSWORD")
                                    
                        .popover.info(
                            data-pos="right"
                            ng-if="passwordUpdate.oldPassword.$viewValue && passwordUpdate.oldPassword.$touched && passwordUpdate.oldPassword.$valid && passwordUpdate.oldPassword.$pending"
                        )
                            span.form-update(
                                i18n="settings.VERIFYING_PASSWORD"
                            )
                        input.edit-input.field(
                            type="password"
                            ng-model="vars.oldPassword"
                            name="oldPassword"
                            passwords-match-validator="vars.oldPasswordValid"
                            data-i18n-attr="{ placeholder: 'settings.OLD_PASSWORD' }"
                        )

        li.list
            password-reset(
                data-on-condition="vars.oldPasswordValid || vars.disableOldPassword"
                data-on-submit="vars.save({ password: password })"
                data-forgot-password="true"
                data-popover-dir="right"
            )