/*cp-ad*/.add-self-speaker-list
    padding em(10)
    background $cyan

    +media('sm')
        background none
        height em(183)

    .img-box
        float right
        margin 2.25em 0
        width 35%

        +media('sm')
            width auto
            float left
            margin 0 em(10) 0 0

    .image
        +media('sm')
            width em(163)
            height em(163)

    .cta-wrap
        width 60%
        width calc('100% - ' + em(185))

        +media('xs')
            width 100%

        +media('sm')
            float right
            position relative

    .cta-sec
        text-align center
        margin 1em auto 0
        width em(375)
        max-width 100%

        +media('sm')
            margin 0 auto

    /*h3*/.cta-head
        $font-bold(18)
        color $blue-2
        margin-bottom 1em

    /*p*/.cta-body
        $font-light(15, 14, 18)

        +media('sm')
            margin-bottom 2em

    /*img*/.arrow
        position absolute
        left 15%
        bottom 1.25em