.rating-bar
    @extends .middle-align

    .rating,
    .stars
        @extends .middle-align

    .rating
        margin-right .25em
        vertical-align baseline

    .star-cont
        position relative

        &:before
            opacity 0
            position relative
            z-index 1

        &:after
            @extends [class^="icon-"]:before
            @extends .icon-star:before
            color lighten($blue-2-50op, 40%)
            absolute top left
            z-index 0

    /*.stap-cont*/.filled
        &:before
            color $orange-light
            opacity 1