.languages-container
    @extends .top-align
    position relative

    .lang
        position relative
        margin-bottom .25em

        &:last-child
            margin 0

        +media('sm')
            display inline-block
            vertical-align middle
            margin 0 1em 0 0

    .name
        @extends .middle-align
        padding-right 1.25em
        font-size 1em
        width 100%

    .marker
        z-index 1
        position relative

        +media('sm')
            display inline-block

    /*.marker */.no
        .name
            padding-right .1em

            &:before,
            &:after
                width 0
                overflow hidden
                display inline-block

        .lang
            margin-right .35em

            &:not(:last-child) .txt:after
                content ','

        .ttip
            right 45%

        .txt
            display inline

    /*tooltip*/.ttip
        absolute top right

    .all-langs
        width em(250)
        absolute top left
        padding em($default-padding)
        border-radius em(2)
        @extends _modal-shadow
        border 1px solid $cyan
        background $white
        z-index 4

    /*.all-langs */th,
    td
        width 50%

    /*.all-langs th*/.head
        $font-bold(15, 14, 18)

    /*all-langs tr*/.all-row
        padding .35em 0

    /*.all-langs */.is-learn
        color $blue-2-50op
        text-align right

        :before
            margin 0 0 0 .35em
