.Notifs
    position relative

    &.button
        display inline-block

    .btn-toggle
        @extends _blue-gradient
        color $white
        $font-title(15)
        padding em(10, 15)

        &.new
            @extends _red-gradient

    &.unviewed
        .btn-toggle
            @extends _red-gradient

    &.open
        .notes-window
            display block

    .note-link
        padding 0 !important
        margin 0 !important

        +media('remove')
            width em(400)

    .notes-window
        display none
        position absolute
        top 100%
        margin-top em(15)

    &.pos-
        .notes-window
            left 100%
            transform translateX(- em(100))

            &:before,
            &:after
                +media('remove')
                    left 20.5%

    &.pos-right
        .notes-window
            right 0

            &:before,
            &:after
                +media('remove')
                    right 0.5%
                    left auto

    .zero-notifs
        padding .75em !important
        line-height 1.5 !important
        background $white !important
        cursor auto !important

    .see-all
        border-top 1px solid $blue-2-50op
        font em(15) \/ em($notification-toggle-height, 15) $font-bold-val !important
        color $blue-3
        display block
        text-align center
        cursor pointer