div(
    class="Notifs button logged-in-only pos-{{::pos}}"
    ng-class="{'open': vars.visible, 'unviewed': vars.user.unreadNotification}"
)
    #notifToggle.btn-toggle(
        ng-bind="vars.unread.length"
    )

    dd-layout-1.dd-box.carrot-top.notes-window(
        data-show-variable="vars.visible"
        data-trigger-id="notifToggle"
    )
        //- Zero Data
        span.zero-notifs(
            i18n="notifications.ZERO_NOTIFS"
            ng-if="!vars.sorted[0]"
        )

        notification.note-link(
            ng-repeat="note in vars.sorted track by note.nID"
            data-data="note"
        )

        a.see-all(
            ng-if="vars.seeAll"
            ng-click="vars.notificationsModal()"
            i18n="common.SEE_ALL"
        )