blank-modal.blank-detail-modal.sa-modal(
    data-abs-center="true"
    data-box-class="cont default-modal"
    data-deactivate="modal.deactivate('feedback')"
    data-disable-bg-close="true"
    data-padding="true"
)
    .center
        h1.h2(i18n="standalone.FEEDBACK-TITLE")

    form.content-wrapper.default-form(
        name="feedback"
        ng-controller="FeedbackCtrl"
    )
        ul.list-section.layout-A
            li.line
                .subject
                    span.text(i18n="standalone.CONTACT-SUBJECT")

                .stuff.popover-msg.nom
                    .popover.error(
                        data-pos="top"
                        ng-messages="subject.$error"
                        ng-if="(feedback.$submitted || feedback.subject.$touched) && (feedback.subject.$invalid || feedback.subject.$invalid == undefined)"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-CONF_EMAIL_REQUIRED")
                    input.full(
                        ng-model="message.subject"
                        data-i18n-attr="{placeholder: 'standalone.PLACEHOLDER-FEEDBACK_SUBJECT'}"
                        name="subject"
                        required
                    )

            li.line
                .subject
                    span.text(i18n="standalone.CONTACT-CATEGORY")

                .stuff
                    .css-select
                        select.full(
                            ng-model="message.category"
                            name="category"
                            required
                        )
                            option(
                                i18n="common.SELECT"
                                disabled
                                value=""
                                style="display:none"
                            )
                            option(
                                ng-repeat="(index, what) in ::categoryOptions"
                                i18n="standalone.{{::what.key}}"
                                value="{{::what.value}}"
                            )

                        .icon

            li.line
                .subject
                    span.text(i18n="standalone.CONTACT-DETAILS")

                .stuff.popover-msg.nom
                    .popover.error(
                        data-pos="top"
                        ng-messages="feedback.details.$error"
                        ng-if="(feedback.$submitted || feedback.details.$touched) && (feedback.details.$invalid || feedback.details.$invalid == undefined)"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-CONF_EMAIL_REQUIRED")
                        span.form-error(ng-message="min-length")
                            span(i18n="updates.ERROR-ATLEAST_10")
                    textarea.tall.full(
                        ng-model="message.details"
                        data-i18n-attr="{placeholder: 'standalone.PLACEHOLDER-FEEDBACK_DETAILS'}"
                        name="details"
                        min-length="10"
                        required
                    )

            li.line
                .subject
                    span.text(i18n="standalone.CONTACT-NAME")

                .stuff
                    input.inline-field(
                        ng-model="message.name"
                        name="name"
                    )

                    .pull-right
                        span.inline-subject(i18n="auth.YOUR_EMAIL")

                        .popover-msg.nom.inline-field
                            .popover.error(
                                data-pos="top"
                                ng-messages="feedback.email.$error"
                                ng-if="(feedback.$submitted || feedback.email.$touched) && feedback.email.$invalid"
                            )
                                span.form-error(ng-message="required")
                                    span(i18n="auth.ERROR-EMAIL_REQUIRED")
                                span.form-error(ng-message="pattern")
                                    span(i18n="auth.ERROR-INVALID_EMAIL")

                            .popover.info(
                                data-pos="top"
                                ng-if="(register.email.$viewValue && register.email.$touched) && register.email.$pending"
                            )
                                span.form-update(
                                    i18n="auth.VERIFYING_EMAIL_UNUSED"
                                )

                            input.field(
                                type="text"
                                data-i18n-attr="{placeholder: 'auth.YOUR_EMAIL'}"
                                name="email"
                                ng-model="message.email"
                                ng-disabled="::userSet"
                                ng-min="7"
                                required=""
                                ng-pattern="$root.global.regex.email"
                            )

            li.line.submit-row.center.plump
                .btn-cancel(
                    i18n="common.CANCEL"
                    ng-click="modal.deactivate('feedback')"
                )
                input.btn-yellow(
                    type="submit"
                    data-i18n-attr="{value: 'standalone.SEND_FEEDBACK'}"
                    ng-disabled="contact.$invalid || vars.sent"
                    ng-click="send()"
                )
