form.FR-date-time(
    ng-controller="FlowReqWhenCtrl as VM"
    name="When"
)
    .whole-row.subject
        label.middle-align(i18n="activities.CHOOSE_SETTING")

        tooltip.small-tip.middle-align(text="events.TT-LOC_MATCH_TZ")

    .whole-row
        .popover-msg.nom.inline-block.pw-40
            .popover.error(
                data-pos="top"
                ng-messages="When.date.$error"
                ng-if="basicInfo.$submitted"
            )
                span.form-error(ng-message="required")
                    span(i18n="auth.ERROR-REQUIRED")

            date-picker.pw-100(
                data-source="VM.shared.when.date"
                data-disable-past="true"
                data-required="true"
                data-format="fullDate"
            )

        span.inline-subject
            strong.inline-text(i18n="common.AT_TIME")

        time-picker.pw-20(
            data-source="VM.shared.when.time"
            data-required="true"
        )