color-mixin(color, direction)
    background color

    if lightness(color) >= 55%
        color $blue-3
    else
        color $white

    &:before
        border em(40/2, 18) solid color

        if direction is 'right'
            left 100%
            border-right em(40/2, 18) solid transparent

        if direction is 'left'
            border-left em(40/2, 18) solid transparent
            right 100%

colors = 'red' $red, 'cyan' $cyan, 'green' $green, 'blue' $blue-2

.banner
    $font-title(18, null, 22)
    padding em(9, 18)
    position relative
    display inline-block
    margin 1em 0

    &:before,
    &:after
        content ''
        top 0
        position absolute

    for pair in colors
        &.{pair[0]}[class*="-right"],
        .{pair[0]}[class*="-right"]
            color-mixin(pair[1], 'right')

        &.{pair[0]}[class*="-left"],
        .{pair[0]}[class*="-left"]
            color-mixin(pair[1], 'left')

    // &[class*="close-"],
    // [class*="close-"]
    //     &:before
    //         top 0

    //     &:after
    //         bottom 0

    // &[class*="open-"],
    // [class*="open-"]
    //     &:before
    //         bottom 0

    //     &:after
    //         top 0