.list-section
    position relative

    /*ul.listed li*/.list
        margin 0 0 em($default-padding)
        
        &:lasti-child
            margin 0

    &:last-child
        margin 0
        
    .subject,
    .stuff,
    .whole-row,
    .inline-field,
    .inline-subject
        display inline-block
        vertical-align middle
        font 1em \/ 1em $font-bold-val

    .whole-row
        display block
    
    .subject,
    .whole-row
        color $blue-3

    &.layout-A
        .line
            margin-bottom 1em
        
        .inline-subject
            margin 0 1em
        
        .inline-field
            width em(190)
            max-width 100%
        
        .subject
            text-align right
            width em(110)
            max-width 100%
            margin-right em(10)

        .stuff
            width em(700 - 120 - ($default-padding * 2))
            max-width 100%

        .full
            &,
            input,
            select
                width 100%
        
        .submit-row
            margin-top 1.5em
            
            input,
            div
                margin 0 1em 0 0