[class*="menu-bar"]
	width 100%
	margin .2em 0
	padding .5em
	color $white

	li
		display inline-block

	a
		display inline-block
		padding .25em 1em
		color $light-blue-1

		&.active
			cursor display
			color $green !important

		.no-touch &:hover
			color $cyan

.menu-bar
	background $blue-3
	font 1em $font-title-val

.sub-menu-bar
	background $blue-2
	font 0.9em $font-bold-val
