.modal-lay
    background rgba($blue-3, .85)
    fixed top left
    z-index 8
    width 100%
    height 100%
    overflow-y scroll
    overflow-x hidden
    text-align center

    > *
        text-align left

    .scroll-container
        position relative
        height 100%
        overflow scroll
    
    .map-pane &
        position absolute

    &.confirm
        /*h3*/.confirm-title
            text-align center

    .close-modal
        position absolute
        cursor pointer
        z-index 1
        font-size em(20)
        padding .25em
        border-radius em(3, 20)
        color $white
        top em(15, 20)
        right 2.5%

        +media('sm')
            right 0
            top -2em

        .no-touch &:hover
            color $cyan

        &:before
            font-size 1em
            margin 0


.modal-animation
    &.ng-enter,
    &.ng-leave
        &,
        .modal-lay
            transition .3s ease-out opacity

    &.ng-leave.ng-leave-active,
    &.ng-enter
        .modal-lay
            opacity 0

    &.ng-leave
    &.ng-enter.ng-enter-active
        .modal-lay
            opacity 1



.modal-style
    border-radius .25em
    border 1px solid $cyan
    background $modal-bg

/************************/
/***  !CONTENT MODAL   ***
/************************/
.content-modal
    max-width 100%
    margin em(60) 2.5%
    @extends .modal-style

    +media('xs')
        display inline-block
        width 95%

    +media('sm')
        margin em(100) auto em(25)
        absolute top
        left 50%
        transform translateX(-50%)

.content-modal-inner
    position relative

/************************/
/*****    !TITLE   *****/
/************************/
.title-modal
    $title-padding-top = 14
    $font-adjust = 2 // Font is not full height so we need to make the container shorter & the text taller
    $title-height = 16 - $font-adjust // will adjust the height of title header

    border 1px solid $cyan
    background $modal-bg
    border-radius 2px

    .title-inner
        padding-top em(($title-padding-top * 2) + $title-height)

    /*header*/.head-bar
        // Do this hack so that .title-modal's border doesn't apply to this field
        position absolute
        top -1px
        left -1px
        border 1px solid $cyan
        background $cyan
        color $white
        box-sizing content-box
        padding em($title-padding-top) 0
        height em($title-height)
        border-radius 2px
        width 100%

    /*header.head-bar */.modal-title
        margin 0 em(16, $title-height + 2)// give margin-left
        $font-title($title-height + $font-adjust, null, ($title-height + $font-adjust) * 1.2)// bigger font to fill out the height
        text-transform capitalize
        color $white

    /*header.head-bar */.close-modal
        $font-size = 18
        font-size em($font-size)
        background none
        top em(15, 18)
        right 2.5%

        +media('sm')
            top -2.75em



/************************/
/*****    !INLINE   *****/
/************************/
.inline-modal
    border 1px solid $cyan
    background $modal-bg
    background rgba($modal-bg, .9)
    border-radius 3px
    margin 0 auto
    
    // @extends _modal-shadow
    
    /*header*/.title
        padding em(12) em($default-padding)
        border-bottom 1px solid $cyan
        background $blue-2
        
        h3
            $font-title(15)
            color $white

/*************************
***  MODAL !DEFAULTS  ****
*************************/
.content-modal,
.title-modal,
.inline-modal,
.blank-modal
    text-align left

    +media('xs')
        display inline-block

    .mid-width
        width em(600)

    &.abs-center
        margin 4em auto 8em
    
    .x-out
        position absolute
        top 5px
        right 5px
        font-size 2em
        cursor pointer
        color $blue-2-50op
        transition color 250ms linear
        
        .no-touch &:hover
            color $blue-2
        
        &:before
            @extends [class^="icon-"]:before
            @extends .icon-cancel:before
            margin 0

///////////////////////////////////////////////////////////////////////////////////////
////////////// New Modal layout to replace absolute position //////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
.modal-size
    margin-left auto
    margin-right auto

    .margin-bot
        margin-bottom em($default-padding)

    .close-modal
        position static
        text-align right

.blank-modal
    display inline-block

.default-modal
    h1,
    h2,
    h3,
    h4
        color $blue-3
        margin-bottom 1em
        line-height 1.1em

    h1
        $font-title(22)

    h2
        $font-title(18)

    h3
        $font-bold(16, 14, 36)

.default-modal.small
    .content-modal-inner,
    .modal-inner
        width em(325)

/*************************
******    !MISC    *******
*************************/
.modal-padding
    padding em($default-padding)

.modal-divider
    width 100%
    height em(25)
    position relative
    text-align center
    margin 1em 0

    &:before
        width 100%
        height 3px
        background $cyan
        background url("/misc/blue-border-image-horz.svg") repeat-x
        absolute left
        top 48%
        content ''
        z-index 0

        .no-svg &
            background url("/misc/fallback/blue-border-image-horz.png") repeat-x

    .text
        background $modal-bg
        padding 0 .5em
        $font-italic(18)
        color $blue-2
        display inline-block
        position relative
        z-index 1

//////////////////////////
///   !Confirm Modal   ///
//////////////////////////
.default-modal.confirm
    .message
        margin-bottom .5em

    [class*="btn-"]
        margin-bottom 0

.explain-modal-lay
    z-index 6
    
.explain-modal
    width 100%
    max-width em(625)
    position relative
    background $white
    border 1px solid $cyan
    border-radius em(2)
    box-shadow 0 0 3px 3px rgba($cyan, .75)
    margin-top 6em !important

    .modal-inner
        padding-bottom em(140)
        position relative
        z-index 1
    
    .inner-wrap
        height 100%
        
        &:after
            content ''
            absolute bottom left
            width 100%
            padding-bottom 67.8%
            background url('/images/landing/event/host/skyline.svg')

            .no-svg
                backgronud url('/images/landing/event/host/skyline.svg')
    
    header
        position relative
        margin-bottom em(30)
    
    .content-wrapper
        padding-left em(95)
        margin-right em(45)

    /*h1*/.head
        $font-title(29)

    /*h3*/.subline,
        $font-title(15)
        color $blue-3
        margin-bottom em(15, 15)
    
    /*p*/.copy
        $font-light(15, 14, 18)
        color $blue-3
        margin-bottom em(15, 15)
    
    p a
        @extends .styled-link

    h2,
    h3
        a
            @extends .inherit-link
    
    .cta-link
        text-decoration none !important
        font em(15) $font-title-val !important
        .no-touch &:hover
            color $cyan !important

// So far only Contact & Feedback modals
.blank-detail-modal
    .inner-wrap
        position static

    .cont
        position relative
        background rgba($white, .95)

    .h1
        margin .75em 0 1em .75em
        font-size em(29)

    .h2
        margin 1em 0 1.5em .75em
        font-size em(22)

    .modal-space
        // use pixels because it might be used by elements
        // with different font sizes
        margin-bottom 25px

    /*p*/.copy
        $font-light(15, 14, 22.5)
