select
    font-size 1em
    -moz-appearance window
    padding-right em(30)
    background $white
    border none
    width 100%

    &:focus
        box-shadow none !important

    &.button-styles
        line-height 1.5em
    
    option // needed for IE
        color $black
        background $white

.css-select
    position relative
    padding-right em(10)
    overflow-x hidden // hide arrow in IE and FF

    > select
        background none
        z-index 3
        position relative
        width 130% // hide arrow in IE and FF

    &:not(.unstyled)
        border 1px solid $light-blue-3
        border-radius em(2)

        > select
            padding-right 0
            border none
            margin s('0 -%s 0 0', em(30))
            font normal 1em $font-regular-val
        
        .icon:before,
        [class^="icon-"]:not([class*="icon-skill-"]):before
            color $blue-3
    
        &:after
            content ''
            absolute top left
            background $white
            z-index 0
            width 100%
            height 100%
    
    [class*="icon-skill-"]
        position static

    .icon:before
        @extends [class^="icon-"]:before

    .icon:before,
    [class*="icon-"]:before
        margin 0
        position absolute
        top 50%
        transform translateY(-50%)
    
    .icon:before
        @extends .icon-down-open:before

    .icon,
    [class*="icon-"]
        &:before,
        &:after
            right em(8.5)
            z-index 2

        &:after
            z-index 1

    select[class*="btn-"]
        box-shadow -1px 1px 3px .05px rgba($blue-3, .5) !important
        padding-right em(30)


