[class*="icon-skill-"]
    @extends .relative
    
    &:before,
    &:after,
    .ic-skill:before,
    .ic-skill:after
        margin 0
        position absolute
        top 50%
        transform translateY(-50%)
        right 0
        z-index 1
    
    &.left
        &:before,
        &:after,
        .ic-skill:before,
        .ic-skill:after
            right auto
            left 0

    &:before
        z-index 2
        opacity 1

    &:after
        @extends [class^="icon-"]:before
        @extends .icon-hex-1-thru-6:before
        color $light-blue-1

    .ic-skill:before,
    .ic-skill:after
        @extends [class^="icon-"]:before
        z-index 4

    .ic-skill:after
        z-index 3
    

.icon-skill-1:before,
.icon-skill-:before
    @extends .icon-hex-1-of-6:before
    color $blue-2-50op

.icon-skill-2:before
    @extends .icon-hex-1-thru-2:before
    color $red

.icon-skill-3:before
    @extends .icon-hex-1-thru-3:before
    color $orange

.icon-skill-4:before
    @extends .icon-hex-1-thru-4:before
    color $orange-light

.icon-skill-5:before
    @extends .icon-hex-1-thru-5:before
    color $lime

.icon-skill-6:after
    color $cyan

.icon-skill-7:before
    color $cyan
    @extends .icon-star:before

///////
/*          Unfortunately due to Stylus' @extend not applying classes in predictable                            */
/*          cascading order, we have to be explicit with the split icons and set a `split` class                */
//////

// skill-range
.s-range
    @extends .relative
    
    &:before
        @extends .icon-hex-1-thru-6:before
        color $light-blue-1

    &:before,
    .p1:before,
    .p1:after,
    .p2:before,
    .p2:after,
    .p3:before,
    .p3:after
        @extends [class^="icon-"]:before
        margin 0
        position absolute
        top 50%
        transform translateY(-50%)
        right 0
        z-index 1

    &[class*="1"]
        .p1:before
            @extends .icon-hex-1-of-6:before
            color $blue-2-50op

    &:not([class*="1e"]),
    &[class*="2"],
    &:not([class*="s3"]),
    &:not([class*="s4"]),
    &:not([class*="s5"]),
    &:not([class*="s6"])
        .p1:after
            @extends .icon-hex-2-of-6:before
            color $red
    
    &:not([class*="1e"]),
    &:not([class*="2e"]),
    &[class*="3"],
    &:not([class*="s4"]),
    &:not([class*="s5"]),
    &:not([class*="s6"])
        .p2:before
            @extends .icon-hex-3-of-6:before
            color $orange

    &:not([class*="1e"]),
    &:not([class*="2e"]),
    &:not([class*="3e"]),
    &[class*="4"],
    &:not([class*="s5"]),
    &:not([class*="s6"])
        .p2:after
            @extends .icon-hex-4-of-6:before
            color $orange-light

    &:not([class*="1e"]),
    &:not([class*="2e"]),
    &:not([class*="3e"]),
    &:not([class*="4e"]),
    &[class*="5"],
    &:not([class*="s6"])
        .p3:before
            @extends .icon-hex-5-of-6:before
            color $lime
    
    &[class*="6"]
        .p3:after
            @extends .icon-hex-6-of-6:before
            color $cyan
            

