.word-bank
    text-align center

    .word
        margin 0 em(10) em(10) 0

        &:first-child
            margin-left 0

    .display
        opacity .8

        .no-touch &:hover
            opacity 1

    :checked + .display
        opacity 1