.Flow-Req.modal-animation.deny
    blank-modal(
        data-abs-center="true"
        data-box-class="pane-edit"
        data-deactivate="modal.deactivate()"
        data-disable-bg-close="true"
    )
        ng-form.req-form.default-form.styled.fluffy(name="Flow")
            legend.flow-title.center.head-19.pw-100(i18n-bo-variable="modal.title")

            label.block.line.pw-100(
                for="denyRequestText"
            )
                span(i18n="misc.INCLUDE_MESSAGE")
                =' ('
                span(i18n="common.OPTIONAL")
                =')'

            textarea.pw-100(
                id="denyRequestText"
                ng-model="modal.reqObj.message"
            )

            .submit-row
                button.btn-cancel(
                    i18n="common.CANCEL"
                    ng-click="modal.deactivate()"
                )

                button.btn-blue(
                    i18n-bo-variable="modal.sendText"
                    ng-disable="modal.processing"
                    ng-click="modal.onSubmit(this)"
                )
