.Flow-Req
    counter-reset flow-req-counter

    // Structure
    .modal-lay
        padding 2em 0

    .req-listing
        width em(700)

        .view-link
            cursor default

        +media('sm')
            .content-sec
                min-height em(165)

    /*legend*/.flow-title
        margin-bottom 1em

    /*section*/.sec
        padding-left em($default-padding * 3)
        margin-bottom 2em
        position relative

        &:last-child
            margin 0

        &:before
            content counter(flow-req-counter, decimal)
            counter-increment flow-req-counter
            color $white
            background $blue-2
            border-radius 50%
            $font-title(18, null, 31.5)
            width 1.5em
            height 1.5em
            absolute top left
            text-align center

    /*.faint-note*/.explain-txt
        margin-bottom .5em

    /*.Listing */.hover-show
        visibility visible

@require 'sections/venue/Style'
@require 'sections/message/Style'