.Flow-Req.modal-animation
    blank-modal(
        data-abs-center="true"
        data-box-class="pane-edit"
        data-deactivate="modal.deactivate()"
        data-disable-bg-close="true"
    )
        ng-form.req-form.default-form.styled.fluffy.list-section(name="Flow")
            legend.flow-title.head-19(i18n-bo-variable="modal.title")

            section.sec(
                ng-repeat="section in ::modal.sections"
                ng-init="shared = modal.shared"
                ng-include="::modal.ngIncludify('views/modals/FlowRequest/sections/', section)"
            )

            .submit-row
                p.faint-note.explain-txt(
                    i18n="activities.REQ_EXPLN"
                    data-name="{{::modal.shared.reqUser.firstName}}"
                )

                button.btn-cancel(
                    i18n="common.CANCEL"
                    ng-click="modal.deactivate()"
                )
                button.btn-yellow(
                    i18n="common.SEND"
                    ng-disabled="Flow.$invalid || modal.processing"
                    ng-click="modal.onSubmit(this)"
                )