.Flow-Req.modal-animation.deny
    blank-modal(
        data-abs-center="true"
        data-box-class="pane-edit"
        data-deactivate="modal.deactivate()"
    )
        request-view.Listing(
            data-activity="modal.Activity"
        )
