.Settings
    $label-offset = 170

    padding-top em(30)
    background $white
    max-width $max-width
    margin 0 auto !important

    /*.center*/.inline-wrap
        padding-bottom 2.5em
    
    .inline-modal
        max-width em(775)
        width 100%
        margin 0 auto em($default-padding * 2)
        
        &:last-child
            margin-bottom 0
    
    .modal-divider
        height em(4)
    
    .settings-email
        margin .75em
        font-family $font-light-val
    
    .Display-Settings
        .select
            &,
            select
                width em(190)
                margin 0
    
    .password-update,
    .Display-Settings
        .label,
        .subject
            width 100%
            max-width em($label-offset)
        
        .input
            width em(260)
            max-width 100%
        
            input
                width 100%
        
        .stuff
            font 1em \/ 1em $font-regular-val !important
            width em(260)
            max-width 100%
    
    .settings-time-zone
        &,
        select
            width em(500) !important
    
    .whole-row
        margin-bottom .75em
    
    .submit-row
        margin 0 !important
    
    /*label*/.left-space
        margin-left 1.15em
    
    .location
        font-family $font-light-val
        margin-left 1.75em
        display inline-block
        width 80%
        
        .edit-mode
            display block

        .google-location
            width em(300)
            @extends .middle-align

    

    @import 'directives/preferences/Style'