.outer
    .cont.Settings.list-section
        view-title meta.SETTINGS_TITLE

        meta(
            view-head
            name="description"
            content="{{::'meta.SETTINGS_DESC' | i18n}}"
        )

        .center.inline-wrap
            inline-modal(
                title="settings.ACCOUNT_EMAIL"
                padding="true"
            )
                p.whole-row
                    span(i18n="settings.CURRENT_EMAIL_TEXT")
                    =' '
                    span.settings-email(ng-bind="::Settings.my.email")

            inline-modal(
                title="notifications.NOTIFICATIONS"
                padding="true"
            )
                settings-email-preferences(
                    data-source="Settings.setting.notifs"
                    data-on-save="Settings.saveSettings('emailPref', updates)"
                )

            inline-modal(
                title="activities.REQUESTS"
                padding="true"
            )
                settings-request-preferences(
                    data-source="Settings.setting.requests"
                    data-on-save="Settings.saveSettings('requests', updates)"
                )

            inline-modal.password-update(
                title="settings.PASSWORD_CHANGE"
                padding="true"
            )
                settings-password-update(
                    data-on-save="Settings.savePassword(password)"
                    data-disable-old-password="obj.passwordNotSet"
                )

            inline-modal(
                title="settings.DISPLAY_SETTINGS"
                padding="true"
            )
                settings-display-settings(
                    data-source="Settings.setting"
                    data-on-save="Settings.saveSettings('settings', updates)"
                )

            inline-modal(
                title="settings.DELETE_ACCOUNT"
                padding="true"
            )
                .fluffy.btn-red(
                    ng-click="Settings.deleteAccount()"
                    i18n="settings.DELETE_ACCOUNT"
                )

    site-footer