.Favorite
    // Extend the styles of the dashboard headers
    /*header*/.sec-head
        @extends .map-pane.fave-tab .dash-head-holder

    /*h3*/.modal-title
        @extends .Dashboard .dashboard-head-text

    .ppl-wrap
        padding-bottom em(150) !important

    .person
        width 25%

        &:nth-child(4n - 3)
            .hover-details
                left auto
                right -77%

                &:before,
                &:after
                    left 27%

        &:nth-child(4n)
            .hover-details
                left 0

                &:before,
                &:after
                    left 77%

@require 'directives/userFavorite/Style'