.Favorite.pane-content
    .pane-wrapper-scroll
        view-title Favorites - Chatterplot

        .dashboard-head(data-dash-head="user")
            h1.dashboard-head-text(i18n="common.FAVORITES")
            .float-btn
                a.btn-white.fluffy.fave-dash-cta(
                    i18n="activities.FIND_TANDEMPARTNERS"
                    ui-sref="activity.search.default({type:'tandems'})"
                    analytics-on="click"
                    analytics-category="Favoriting"
                    analytics-event="click"
                    analytics-label="dashboard header: Find Tandem Partners"
                )

        people-display(
            data-sections="Favorite.sections"
            data-on-update="Favorite.onUpdate"
            data-transclude="true"
            data-on-build="Favorite.onBuild(sections)"
            data-link-class="{{::Favorite.linkClass}}"
            data-category="Favoriting"
        )
            zero-data(data-what="tandems")
