blank-modal.explain-modal-lay(
    abs-center="true"
    box-class="default-modal tandem explain-modal"
    deactivate="modal.deactivate('tandem')"
    padding="true"
)
    header
        .oj-banner

    .content-wrapper
        h1.hidden.head(i18n="activities.FIND_TANDEMPARTNERS")

        p.copy(i18n="tandem.TANDEM-INTRO_COPY")

        h2.subline(i18n="tandem.TANDEM-SUBLINE_1")

        p.copy(i18n="tandem.TANDEM-COPY_1")

        h2.subline(i18n="tandem.TANDEM-SUBLINE_2")

        p.copy(i18n="tandem.TANDEM-COPY_2")

        .center
            a.btn-yellow.fluffy(
                ui-sref="activity.search.default"
                i18n="activities.FIND_TANDEMPARTNERS"
            )