.auth-wrap
    position relative

    .background
        background url(/images/email/map-background-blur.jpg) no-repeat
        background-size full
        absolute top left
        z-index 0
        width 100%
        height 100%

.auth-page
    background none
    margin-top em($nav-height)

    .close-modal
        display none

    .content-modal
        margin-top 2.5em