.Convo
    height 100%

    .msg-wrap
        padding em($reduced-padding) 0 em($reduced-padding) em(7)
        height 70%
        height calc('100% - ' + em(150)) // - textarea section height
        overflow-y scroll

    .message
        margin-bottom em($reduced-padding)
        padding em(8)

        &:last-child
            margin 0

        &.me
            background $light-blue-1

    /*.message avatar*/.photo
        margin-right em($default-padding)
        @extends .top-align

    /*.message */.copy
        @extends .top-align

        width 90%
        width calc('100% - ' + em($img-sq-thumb + $default-padding))

    /*.copy */.name-strip
        margin-bottom 1em

    /*.copy p*/.text
        font-family $font-light-val

    /*form*/.write-box
        padding em($default-padding)

    /*.write-box textarea*/.write
        margin-bottom em($default-padding)
        width 100%

    [for="msgEnterSubmit"]
        margin-right 1em

    .msg-options
        float right

    /*.msg-options */.toggle-dd
        cursor pointer
        position relative

        &:after
            content '…'
            font em(30) \/ .25em 'monospace'
            font-size em(30)
            color $blue-2-50op

    /*.msg-options ul*/.dd-box
        position absolute
        right 0
        top 100%
        display none
        min-width em(200)

        &:before,
        &:after
            left auto
            right 5%

        &:after
            margin-left 0
            margin-right .1em

    .dropdown
        .dd-box
            display block