.Convo
    header.sec-head(ng-class="{'dropdown': vars.ddVisible}")
        strong.bld(
            i18n="notifications.CONVO_WITH"
            data-person="{{people[convo.participants[0]].fullName}}"
        )

        .msg-options
            #msgOptions.toggle-dd(ng-click="vars.ddVisible = !vars.ddVisible")
            dd-layout-1.dd-box.carrot-top(
                data-show-cancel="true"
                data-show-variable="vars.ddVisible"
                data-trigger-id="msgOptions"
            )
                a(
                    ng-repeat="(key, action) in ::Single.vars.ddOptions"
                    ng-click="action.fn(Single)"
                    i18n="{{::action.key}}"
                )


    .msgs
        .msg-wrap.scroller
            .scroll-container(scroll-bottom="Single.scrollTrigger")
                article(
                    ng-repeat="message in messages track by message.timestamp"
                    class="message {{::Single.isMe(message.from)}}"
                )
                    a(ui-sref="dashboard.profile.user({ userID: message.from })")
                        avatar.photo(
                            data-user="people[message.from]"
                            data-size="thumb"
                        )

                    .copy
                        .name-strip
                            a.styled-link(ui-sref="dashboard.profile.user({ userID: message.from })")
                                h5.user-name(ng-bind="::people[message.from].fullName")

                            span.when.larger(ng-bind="Single.whenFrom(message.timestamp)")
                        p.text(ng-bind-html="::message.parsed")

        form.default-form.write-box.clear.fluffy(
            name="message"
            ng-submit="Single.sendMsg($event)"
        )
            textarea.write(
                cmd-enter
                ng-model="Single.vars.message"
                ng-keypress="Single.enterCheck($event)"
                name="write"
                autofocus
                required
                data-i18n-attr="{placeholder: 'activities.TT-CHAT_WINDOW'}"
            )

            .submit-row
                label.middle-align.styled(for="msgEnterSubmit")
                    input(
                        type="checkbox"
                        id="msgEnterSubmit"
                        ng-model="Single.vars.autoEnter"
                        ng-change="Single.autoEnterChange()"
                        value="0"
                    )
                    span.checkbox
                    span.text(i18n="activities.ENTER_SUBMIT")

                button.middle-align.write-submit.btn-blue(
                    i18n="common.SEND"
                    ng-disabled="message.$invalid"
                )