form.default-form.styled.password-reset(
    ng-submit="vars.onSubmit(vars.password)"
    name="reset"
)
    .line(ng-class="vars.passwordStrength")
        div
            .label
                label(
                    for="passResetInput"
                    i18n="auth.NEW_PASSWORD"
                )
            .input.popover-msg(popover-msg)
                .popover.error(
                    data-pos="{{::vars.popoverDir}}"
                    ng-messages="reset.password.$error"
                    ng-if="(reset.$submitted || reset.password.$touched) && reset.password.$invalid"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")
                    span.form-error(ng-message="passwordStrength")
                        span(i18n="auth.ERROR-PASSWORD_TOO_SHORT")
                            
                .popover.on-focus(
                    data-pos="{{::vars.popoverDir}}"
                )
                    span(i18n="auth.PASSWORD_STRENGTH")
                    .password-meter(
                        ng-class="vars.passwordStrength"
                        password-meter="vars.passwordComplexity"
                    )

                input#passResetInput.field(
                    type="password"
                    data-i18n-attr="{placeholder: 'auth.NEW_PASSWORD'}"
                    name="password"
                    ng-model="vars.password"
                    password-strength-validator="vars.passwordStrength"
                    password-complexity="vars.passwordComplexity"
                    required=""
                )

    .line
        div
            .label
                label(
                    for="passResetConfirm"
                    i18n="auth.CONFIRM_PASSWORD"
                )
            .input.popover-msg(popover-msg)
                .popover.error(
                    data-pos="{{::vars.popoverDir}}"
                    ng-messages="reset.confirmPassword.$error"
                    ng-if="(reset.$submitted || reset.confirmPassword.$touched) && reset.confirmPassword.$invalid"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")
                    span.form-error(ng-message="mustMatch")
                        span(i18n="auth.ERROR-PASSWORD_MUST_MATCH")

                input#passResetConfirm.field(
                    type="password"
                    data-i18n-attr="{placeholder: 'auth.CONFIRM_PASSWORD'}"
                    name="confirmPassword"
                    ng-model="vars.confirmPassword"
                    must-match-validator="vars.password"
                    must-match-strict="true"
                    required=""
                )

    .line.forgot-password-row(ng-if="::vars.forgotPassword")
        .label
            a.forgot-password(
                i18n="auth.FORGOT_PASSWORD"
                ng-click="vars.callForgotPassword()"
            )

    .modal-divider

    .line.submit-row
        input.submit(
            type="submit"
            ng-disabled="reset.$invalid || !onCondition"
            data-i18n-attr="{value: 'common.SAVE'}"
        )

    .line(ng-if="::vars.showCancel")
        .btn-cancel.cancel(
            i18n="common.CANCEL"
            ng-click="vars.onCancel()"
        )