.v-listing
    $photo-size = 125
    $padding = 10

    text-align left
    background $white

    .photo-wrap
        @extends .middle-align
        width em($photo-size)
        height em($photo-size)
        overflow hidden

        +media('xs')
            float right
            max-width 30%

    /*photo-wrap*/.v-photo
        height 100%

    /*.photo-wrap */.img
        background-size cover
        padding-bottom 100%

        +media('xs')
            height 100% !important

    .content
        @extends .middle-align
        width 70%
        height em($photo-size)
        position relative

        +media('sm')
            width calc('100% - ' + em($photo-size))

    /*.content */.inner-content
        padding em($padding)

    /*a.loc-center*/.link-styles
        color $blue-2
        cursor pointer

        .no-touch &:hover
            color $cyan

    /*h3*/.v-name
        $font-bold(15)
        margin-bottom .25em
        color inherit

    /*h5*/.v-address
        $font-light(14)
        color inherit

    /*a*/.remove
        font-size em(18)
        cursor pointer
        color $blue-2-50op
        absolute top right
        padding em($padding, 18)

        .no-touch &:hover
            color $cyan

    /*footer*/.venue-foot
        absolute bottom right
        width 100%
        padding 0 em($padding) em($padding)
        z-index 3

    /*.venue-foot */.info-link
        float right
        position relative

    .directions,
    .reviews,
    .info-link
        +media('xs')
            display none

    /*.more-info */.popup-box
        @extends _modal-shadow
        border-radius 2px
        border 1px solid $cyan
        absolute right
        bottom 100%
        width em(385)
        margin-bottom 1.5em

        &:before,
        &:after
            left auto
            right 5%
