article.v-listing
    .photo-wrap
        .v-photo.responsive-image
            span.img

    .content
        .inner-content(ng-if="vars.isLoaded")
            header.venue-head
                a.loc-center(ng-class="::{'link-styles': !noMap}")
                    h3.v-name(ng-bind="::vars.venue.name")
                    h5.v-address(ng-bind-html="::vars.venue.adr_address")

            a.remove.icon-cancel-big(
                ng-if="::vars.showRemove"
                ng-click="::remove({venue: vars.venue})"
            )

            footer.venue-foot
                a.reverse-link.directions(
                    ng-if="::vars.isHome"
                    href="{{::vars.gmapUrl}}"
                    target="_blank"
                    i18n="common.GET_DIRECTIONS"
                )

                div.rating-bar(
                    ng-if="::vars.venue.rating"
                    rating-bar="vars.venue.rating"
                )

                a.reviews.reverse-link(
                    href="{{::vars.venue.url}})"
                    ng-if="::vars.venue.reviews && vars.venue.reviews[0]"
                    i18n="misc.REVIEWS_NOM"
                    target="_blank"
                )

                .middle-align.info-link(ng-if="::!vars.isHome")
                    a.more-info.reverse-link(i18n="events.MORE_INFO")
                    .popup-box.carrot-bot(ng-show="vars.showInfo")
                        venue-info(data-venue="vars.venue")

