.Full-Share-Bar
    fixed left
    top 35%
    border-top-right-radius em(5)
    border-bottom-right-radius em(5)
    background rgba($white, .9)
    box-shadow 0 0 1px 1px rgba($blue-3, .35)

    /*.bar li */a
        font-size em(18)
        color $cyan
        display inline-block
        padding em(12, 18)

        .no-touch &:hover
            color $blue-2