.Full-Share-Bar
    ul
        li(
            ng-repeat="source in ::vars.sources"
            class="button-{{::source.name}}"
        )
            a(
                class="icon-{{::source.name}}"
                href="{{::source.data.link}}"
                target="_blank"
                analytics-on="click"
                analytics-category="social media"
                analytics-event="landing social bar click"
                analytics-label="{{::source.name}}"
            )