ng-form(name="details").details
    .form-group(ng-init="Create.setStepForm(details)")
        //- EVENT !DESCRIPTION
        .line
            .subject.top.required
                span.text(i18n="events.DESCRIPTION")
            .ffield.popover-msg
                .popover.error(
                    data-pos="top"
                    ng-messages="details.description.$error"
                    ng-if="(details.$submitted || details.description.$touched) && details.description.$invalid"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")

                textarea.full.field.tall(
                    ng-model="Create.newEvent.description"
                    ckeditor="$root.ckEditorOptions"
                    name="description"
                    required=""
                    data-i18n-attr="{ placeholder: 'events.PLACEHOLDER-DESCRIPTION' }"
                )

        //- !LIMIT
        .line(
            ng-class="{'hanging': Create.data.maxGoing == true}"
            ng-show="!Create.data.eventAsListing"
        )
            .subject(ng-class="{'required': Create.data.maxGoing}")
                span.text(i18n="events.ATTENDANCE")
            .ffield.set-row-height.popover-msg
                .popover.error(
                    data-pos="top"
                    ng-messages="details.maxGoing.$error"
                    ng-if="(details.$submitted || details.maxGoing.$touched) && details.maxGoing.$invalid"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")
                    span.form-error(ng-message="number")
                        span(i18n="updates.ERROR-NUMBER")

                input.field(
                    type="number"
                    name="maxGoing"
                    ng-required="Create.data.maxGoing && !Create.data.eventAsListing"
                    ng-model="Create.newEvent.maxGoing"
                    ng-show="Create.data.maxGoing"
                    placeholder="25"
                )

                label.set-line-height(
                    for="limitAttendeesClone"
                    ng-hide="Create.data.maxGoing"
                )
                    input(
                        type="checkbox"
                        id="limitAttendeesClone"
                        ng-model="Create.data.maxGoing"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="events.LIMIT_ATTENDEES")

        .line(ng-show="Create.data.maxGoing && !Create.data.eventAsListing")
            .subject
            .ffield
                label(for="limitAttendees")
                    input(
                        type="checkbox"
                        id="limitAttendees"
                        ng-model="Create.data.maxGoing"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="events.LIMIT_ATTENDEES")

        //- !ABOUT HOST
        .line.hanging(ng-hide="Create.data.eventAsListing")
            .subject.required
                span.text(i18n="events.ABOUT_HOST")
            .ffield.popover-msg
                .popover.error(
                    data-pos="top"
                    ng-messages="details.aboutHost.$error"
                    ng-if="(details.$submitted || details.aboutHost.$touched) && details.aboutHost.$invalid"
                )
                    span.form-error(ng-message="required")
                        span(i18n="auth.ERROR-REQUIRED")

                textarea.full.field(
                    ng-model="Create.newEvent.aboutHost"
                    name="aboutHost"
                    ng-required="!Create.data.eventAsListing"
                    data-i18n-attr="{ placeholder: 'events.PLACEHOLDER-ABOUT_HOST' }"
                )

        .line(ng-if="::!misc.edit")
            .subject
            .ffield
                label(for="postAnonymous")
                    input(
                        type="checkbox"
                        id="postAnonymous"
                        ng-model="Create.data.eventAsListing"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="events.POST_ANONYMOUS")
                    tooltip.small-tip(data-text="events.TT-POST_ANONYMOUS")

        //- !REGISTRATION
        div(ng-if="Create.data.eventAsListing")
            .line(ng-class="{'hanging': Create.data.regRequired == true}")
                .subject.required
                    span.text(i18n="common.REGISTRATION")
                .ffield.popover-msg
                    .popover.error(
                        data-pos="top"
                        ng-messages="details.regRequired.$error"
                        ng-if="(details.$submitted || details.regRequired.$touched) && details.regRequired.$invalid"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="auth.ERROR-REQUIRED")
                        span.form-error(ng-message="url")
                            span(i18n="updates.ERROR-INVALID_URL")

                    input.full.field(
                        type="url"
                        name="regRequired"
                        ng-required="Create.data.regRequired"
                        ng-model="Create.newEvent.registrationURL"
                        ng-show="Create.data.regRequired"
                        placeholder="http://www.example.com"
                    )

                    label.set-line-height(
                        ng-hide="Create.data.regRequired"
                        for="regRequiredClone"
                    )
                        input(
                            type="checkbox"
                            id="regRequiredClone"
                            ng-model="Create.data.regRequired"
                        )
                        span.checkbox
                        span.faint-note.text(i18n="events.OL_REG_REQUIRED")

            .line(ng-show="Create.data.regRequired")
                .subject
                .ffield
                    label.set-line-height(for="regRequired")
                        input(
                            type="checkbox"
                            id="regRequired"
                            ng-model="Create.data.regRequired"
                        )
                        span.checkbox
                        span.faint-note.text(i18n="events.OL_REG_REQUIRED")

        //- !PAYMENT INFO
        .line.hanging
            .subject.required
                span.text(i18n="common.PRICE")
            .ffield.set-row-height
                .popover-msg.nom(ng-hide="Create.data.priceFree")
                    .popover.error(
                        data-pos="top"
                        ng-messages="details.priceString.$error"
                        ng-if="(details.$submitted || details.priceString.$touched) && details.priceString.$invalid"
                    )
                        span.form-error(ng-message="required")
                            span(i18n="activities.ERROR-PRICE_REQUIRED")

                    input.full.field(
                        type="text"
                        ng-model="Create.newEvent.priceString"
                        maxlength="15"
                        name="priceString"
                        ng-required="!Create.data.priceFree"
                        data-i18n-attr="{ placeholder: 'activities.PLACEHOLDER-EXAMPLE_PRICE' }"
                    )

                label.set-line-height(
                    for="priceFreeClone"
                    ng-show="Create.data.priceFree"
                )
                    input(
                        type="checkbox"
                        id="priceFreeClone"
                        ng-model="Create.data.priceFree"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="events.IS_FREE")

        .line(ng-hide="Create.data.priceFree")
            .subject
            .ffield
                label(for="priceFree")
                    input(
                        type="checkbox"
                        id="priceFree"
                        ng-model="Create.data.priceFree"
                    )
                    span.checkbox
                    span.faint-note.text(i18n="events.IS_FREE")

        .line(ng-hide="Create.data.priceFree")
            .subject.top
                .center.inline-block
                    span.text(i18n="activities.PAYMENT_INFO")
                    br
                    span.text (<span i18n="common.OPTIONAL"></span>)
                    br
                    tooltip(
                        data-text="activities.TT-PAYMENT_INFO"
                        data-pos="right"
                    )
            .ffield.popover-msg
                textarea.full.med(
                    ng-model="Create.newEvent.paymentInfo"
                    name="paymentInfo"
                    data-i18n-attr="{ placeholder: 'activities.PLACEHOLDER-PAYMENT_INFO' }"
                )

    .right-align.fluffy
        a.btn-cancel(
            i18n="common.CANCEL"
            ng-click="Create.cancelEvent()"
        )

        .inline-block
            button.btn-blue(
                ng-disabled="details.$invalid || misc.processing"
                i18n="events.CREATE"
                ng-click="Create.createEvent()"
                ng-if="::!misc.edit"
            )

            button.btn-blue(
                ng-disabled="details.$invalid || misc.processing"
                i18n="events.UPDATE"
                ng-click="Create.updateEvent()"
                ng-if="::misc.edit"
            )