article.Person.Display.pane-layout-photo(ng-class="::{'accept-msg': Activity.settings.notifs.messaging.acceptAll }")
    .photo-sec
        a.photo(
            ui-sref="dashboard.profile.user({ userID: Activity.userID })"
            title=""
            analytics-on="click"
            analytics-category="search"
            analytics-event="click"
            analytics-label="{{::subType}} results: picture: click into profile"
            analytics-value="{{::Activity.userID}}"
        )
            .photo-hangers
                avatar(data-user="Activity")
                .hanger.dist-from

    .detail-wrap.content-sec
        header
            a.title-link(
                ui-sref="dashboard.profile.user({ userID: Activity.userID })"
                title=""
                analytics-on="click"
                analytics-category="search"
                analytics-event="click"
                analytics-label="{{::subType}} results: title: click into profile"
                analytics-value="{{::Activity.userID}}"
            )
                h2.tandem-title
                    span.tandem-name(ng-bind="::Activity.fullName")
                    user-location.middle-align.light-text(data-source="Activity.locations")

        .line.languages
            languages.all-langs(
                data-source="Activity.languages"
                data-overflow-limit="4"
            )

            div.im-learning
                languages(
                    data-source="Activity.languages"
                    data-which="{{::subType == 'teachers' ? 'teaching' : 'learning'}}"
                    data-overflow-limit="4"
                )
                    span.text.cap.middle-align(i18n="profile.{{::subType == 'teachers' ? 'TEACHING' : 'LEARNING'}}")

        p.description.hidden-xs(
            ng-bind="::$root.trim($root.stripHtml(Activity.personal), 112, true)"
            data-after=".more"
        )
            a.more(
                i18n="common.LEARN_MORE"
                ui-sref="dashboard.profile.user({ userID: Activity.userID })"
            )

        user-favorite.fave-button.top-right.hover-show.inherit-even.hidden-xs(
            data-target="{{::Activity.userID}}"
            data-category="Search"
        )

        .visitor.message.icon-mail.hover-show.inherit-even.hidden-xs(
            i18n="activities.MESSAGE_ACTN"
            ng-click="Profile.messageUser()"
            analytics-on="click"
            analytics-category="search"
            analytics-event="click"
            analytics-label="{{::subType}} results: message user"
            analytics-value="{{::Activity.userID}}"
        )