view-title meta.LOG_IN_TITLE

div.buttons
    .quick.button-section.login
        span.plain.space-right(i18n="auth.LOG_IN_WITH")

        a.btn-facebook(
            ng-click="Authenticate.action('verify', 'facebook')"
            analytics-on="click"
            analytics-category="authentication"
            analytics-event="click"
            analytics-label="login attempt: Facebook"
        )

        a.btn-linkedin(
            ng-click="Authenticate.action('verify', 'linkedin')"
            analytics-on="click"
            analytics-category="authentication"
            analytics-event="click"
            analytics-label="login attempt: Linkedin"
        )

        a.btn-google(
            ng-click="Authenticate.action('verify', 'google')"
            analytics-on="click"
            analytics-category="authentication"
            analytics-event="click"
            analytics-label="login attempt: Google"
        )

.modal-divider
    .text(i18n="common.OR")

div.default-form.auth-form
    form.login.styled(
        name="login"
        ng-submit="Authenticate.login(vars.email, vars.password)"
    )
        span.faint-note.bot-space(i18n="auth.LOGIN_USING")

        .popover-msg(popover-msg)
            .popover.error(
                data-pos="top"
                ng-messages="login.email.$error"
                ng-if="(login.$submitted || login.email.$touched) && login.email.$invalid"
            )
                span.form-error(ng-message="required")
                    span(i18n="auth.ERROR-EMAIL_REQUIRED")
                span.form-error(ng-message="email")
                    span(i18n="auth.ERROR-INVALID_EMAIL")
            input.field(
                type="email"
                ng-model="vars.email"
                name="email"
                data-i18n-attr="{placeholder: 'common.EMAIL'}"
                ng-pattern="vars.EMAIL_REGEXP"
                required=""
            )

        .popover-msg(popover-msg)
            .popover.error(
                data-pos="top"
                ng-messages="login.password.$error"
                ng-if="(login.$submitted || login.password.$touched) && login.password.$invalid"
            )
                span.form-error(ng-message="required")
                    span(i18n="auth.ERROR-PASSWORD_REQUIRED")
            input.field(
                type="password"
                name="password"
                ng-model="vars.password"
                required=""
                data-i18n-attr="{placeholder: 'common.PASSWORD'}"
            )

        a.reverse-link(
            i18n="auth.FORGOT_PASSWORD"
            ng-click="Authenticate.changeView('password-reset')"
            analytics-on="click"
            analytics-category="authentication"
            analytics-event="click"
            analytics-label="forgot password"
        )

        .mid-space-chunk

        input(
            type="submit"
            ng-disabled="login.$invalid"
            analytics-on="click"
            analytics-category="authentication"
            analytics-event="click"
            analytics-label="login attempt: Email"
            data-i18n-attr="{value: 'common.LOGIN_VERB'}"
        )

    .modal-divider

    .line
        span.space-right.plain(i18n="auth.NO_ACCOUNT")
        a.reverse-link(
            i18n="common.SIGNUP_VERB"
            ui-sref="standalone.addYourself"
            analytics-on="click"
            analytics-category="acquisition"
            analytics-event="click"
            analytics-label="login page: already have an account"
        )
