view-title Signup

div.buttons
    .button-section.signup.full-btn
        a.btn-facebook(
            ng-click="Authenticate.action('connect', 'facebook')"
            analytics-on="click"
            analytics-category="acquisition"
            analytics-event="click"
            analytics-label="signup attempt: Facebook"
        )
            span.text(i18n="common.SIGNUP_VERB")
            =' '
            span.text(i18n="auth.WITH_FB")

        a.btn-linkedin(
            ng-click="Authenticate.action('connect', 'linkedin')"
            analytics-on="click"
            analytics-category="acquisition"
            analytics-event="click"
            analytics-label="signup attempt: Linkedin"
        )
            span.text(i18n="common.SIGNUP_VERB")
            =' '
            span.text(i18n="auth.WITH_LI")

        a.btn-google(
            ng-click="Authenticate.action('connect', 'google')"
            analytics-on="click"
            analytics-category="acquisition"
            analytics-event="click"
            analytics-label="signup attempt: Google"
        )
            span.text(i18n="common.SIGNUP_VERB")
            =' '
            span.text(i18n="auth.WITH_GOOG")

        span.faint-note(i18n="auth.SIGNUP-PRECAUTION_MSG")

.modal-divider
    .text(i18n="common.OR")

div.default-form.auth-form
    a.email-signup-link.icon-mail.reverse-link(
        ng-click="Authenticate.changeView('email-signup')"
        i18n="auth.SIGNUP_EMAIL"
    )

    p.agreement-text.plain(ng-bind-html="::Authenticate.buildAgreement()")

    .modal-divider

    .line
        span.space-right.plain(i18n="auth.ALREADY_ACCOUNT")
        a.reverse-link(
            i18n="common.LOGIN_VERB"
            ng-click="Authenticate.changeView('login')"
            analytics-on="click"
            analytics-category="acquisition"
            analytics-event="click"
            analytics-label="signup page: already have an account"
        )
