/*.auth-wrap */.auth-modal
    position fixed
    padding-bottom .1em // needed for Chrome render bug
    width 100%
    height 100%
    overflow hidden
    z-index 6

    $width = 360
    $padding = 30

    .space-right
        margin-right 1em

    .plain
        color $blue-2-50op
        font-size em(14)

    .modal-size
        padding em(10)

        +media('sm')
            padding 0
            margin em(70) auto
            width em($width)

    .content-inner
        position relative
        padding em($default-padding)

        +media('sm')
            padding em($padding)

    .auth-message
        background $orange
        color $white
        padding em($default-padding)
        margin-bottom em($default-padding)

        a
            color inherit
            text-decoration underline

    .buttons
        text-align center

    /*span*/.text
        line-height em(20, 16)
        vertical-align super

    .full-btn
        [class^="btn-"]
            margin-left auto
            margin-right auto
            display block
            padding em(9, 16) em(9, 16) em(6, 16)

            &:first-child
                margin-top 0

            &:before
                margin-right .75em
                vertical-align  top

    .quick
        [class^="btn-"]
            display inline-block
            margin 0 0 0 .75em
            padding .5em

            &:before
                margin 0

    .auth-form
        text-align center
        margin 1em auto 0

    input:not([type="submit"])
        width 100%

    .faint-note
        margin-bottom .5em

    .bot-space
        display inline-block
        margin-bottom 1em

    .email-signup-link
        &:before
            text-decoration none !important

.auth-page
    height 93%
    height calc('100% - ' + em($nav-height))
    margin-top em($nav-height)

.email-pass-reset
    text-align center

    .head,
    .copy
        text-align center

    .copy
        margin-bottom 1em

    .line
        text-align center

    .label
        display none

    .input
        margin 0 auto
        width 90%

    /*img*/.illst
        margin 0 auto

    .password-meter
        margin-left auto
        margin-right auto
        width 90%
