#authModal.auth-modal.modal-animation
    footer-modal(
        ng-class="::vars.modalClass"
        data-disable-bg-close="true"
        data-deactivate="modal.deactivate()"
    )
        .auth-message(
            ng-if="::vars.message"
            ng-hide="vars.hideMsg"
        )
            p(ng-bind-html="::vars.authMessage")

        .content-inner.modal-style
            .default-modal.small
                .cont(ng-if="vars.view == 'signup'")
                    include ./signupTemplate.jade

                .cont(ng-if="vars.view == 'email-signup'")
                    include ./emailSignupTemplate.jade

                .cont(ng-if="vars.view == 'login'")
                    include ./loginTemplate.jade

                .cont(ng-if="vars.view == 'password-reset'")
                    include ./passwordResetTemplate
