.ppl-dsplay.is-empty.is-loading
    .loading
        div(inline-loader="true")

    .transclude

    section.sec-wrap(
        ng-repeat="section in vars.sections"
        ng-show="!section.empty || !section.hideEmpty"
    )
        //- this markup is copied from .title-modal to inherit the styles
        header.sec-head.head-bar(ng-if="::section.title || section.translatedTitle")
            .inner-wrap
                h3.modal-title(
                    i18n-bo-variable="section.title"
                    ng-bind="::section.translatedTitle"
                    title=""
                )

        //- this offsets the height of the abs: position header
        .title-inner
            //- this is our element with our own padding
            .ppl-wrap
                article.person.top-align.can-hilite(
                    ng-repeat="user in section.users track by user.userID"
                    class="person top-align {{::linkClass + '-' + user.userID}}"
                )
                    a.profile-link(ui-sref="dashboard.profile.user({userID:user.userID})")
                        avatar.picture(
                            data-user="user"
                            data-size="default"
                        )

                    h4.name-display(ng-bind="::user.fullName")

                    .hover-details.carrot-top
                        person-details(
                            data-user="user"
                            data-category="{{::category}}"
                        )