.NF-locs01
    text-align center

    .modal-inner
        padding 2em 1em

    .cont
        width em(600)
        background $white

    /*p*/.copy
        max-width 80%
        margin 0 auto em(25, 15)

    .example-box
        background $very-light-gray
        border 1px solid $blue-2
        text-align left
        padding em($default-padding)
        margin 0 4em em(20)

    /*.example-box */.ex-img
        width 100%

    .bot-space
        margin-bottom 15px
