blank-modal.NF-locs01.blank-detail-modal(
    data-abs-center="true"
    data-box-class="cont"
    data-deactivate="modal.deactivate()"
)

    a.close-modal.icon-cancel-big
    .center

        h3.head.modal-space(i18n="profile.NEW_LOCATIONS_HEAD")

        p.copy(i18n="profile.NEW_LOCATIONS_COPY")

        .example-box
            h5.bot-space(i18n="profile.MEETING_LOCATIONS")

            img.ex-img.bot-space(src="/images/misc/locations/example-locs-1.svg")

            img.ex-img(src="/images/misc/locations/example-locs-2.svg")

        button.btn-blue.fluffy(
            i18n="common.TAKE_ME_THERE"
            ng-click="onSuccess()"
        )
