$margin = 7
$size = $nav-height - ($margin * 2)
$search-height = 29

$font-size = 15

_nav-text
    text-align center
    padding 0 em(14, $font-size)
    display inline-block
    vertical-align middle
    color rgba($white, .75)
    cursor pointer
    max-height em($nav-height, $font-size)
    $font-bold($font-size, null, $nav-height)

    &:before
        line-height unit($nav-height, px)

.nav-header
    height em($nav-height)
    background $blue-3
    border-bottom 1px solid $cyan
    z-index 7
    position relative

    .mobile-center
        +media('xs')
            text-align center

    [class*='mob-link']
        display inline-block
        absolute top
        color $white
        font-size em(17)
        padding em(16, 17) em(10, 17)
        background $blue-2


        +media('sm')
            display none

        &.left
            left 0

        &.right
            right 0

    .nav-search
        margin-right 1em
        height 100%
        padding em(7) 0
    
    .dropdown-parent
        position relative
        
        .no-touch &:hover
            .dropdown
                display block

    /*.dropdown-parent */.dropdown
        display none
        position absolute
        top 3.5em
        right 0
        border 2px solid $cyan
        width em(115)
        border-radius 2px
        z-index 1
        
        @extends _modal-shadow

    /*.dropdown ul*/.dropdown-wrap
        background $white
        border-radius 2px

        &:before,
        &:after
            content ''
            position absolute
            height 0
            width 0
            pointer-events none
            border solid transparent
            bottom 100%
        
        &:before
            border-color rgba($white, 0)
            border-bottom-color $white
            border-width em(9, $font-size)
            margin-left - em(9, $font-size)
            z-index 2
            right em(16, $font-size)
        
        &:after
            border-color rgba($cyan, 0)
            border-bottom-color $cyan
            border-width em(12, $font-size)
            margin-left - em(12, $font-size)
            right em(13, $font-size)

    /*.dropdown-wrap li*/.li
        &:nth-child(even)
            background $light-blue-1

    /*.dropdown-wrap li*/.li-divide
        height em(2)
        background $cyan

    // used to keep alternate styles
    /*.dropdown-wrap li*/.li-hide
        visibility hidden

    /*.li a*/.dd-link
        text-transform capitalize
        display block
        padding .75em
        cursor pointer
        $font-title(14)
        color $blue-3
        
        .no-touch &:hover
            background $light-blue-2
    
    .select-locale
        margin-top em(6)

    /*avatar*/.navatar
        @extends .middle-align
        border-radius 50%
        overflow hidden
        margin-left .5em
        width em(28, 15)
        height em(28, 15)

    .nav-notifs
        margin em(($nav-height - $notification-toggle-height) / 2) 0
        

/*.nav-notifications*/ .btn-notification
    margin em($margin, 14) em($margin/2, 14)
    padding .5em

/*ul*/.nav-links
    absolute top right
    margin-right .5em

/*.nav-links a*/.nav-link
    margin-top em(4)
    
    +media('remove')
        float left
        margin-top 0

    .a-link
        @extends _nav-text

        .no-touch &:hover
            color $light-blue-2

        &.active
            color $cyan
    
    .login
        +media('xs')
            display none
    
    /*a*/.btn
        line-height .6em
        margin-top .5em
        padding em(12, $font-size) em(12, $font-size) em(13, $font-size) // to vertically center
    
    /*a*/.icon
        &:before
            line-height 3.75em

.nav-logo
    $height = 25
    $margin-top = ($nav-height - $height) / 2
    width em(155)
    height em($height)
    background url('/images/logotype.svg') no-repeat
    cursor pointer
    margin em($margin-top) em(55) em($margin-top) em(13)
    position relative

    &:after
        content: 'beta';
        left 104%
        position absolute
        color $cyan
        text-transform uppercase
        bottom 0
        font .9em $font-bold-val

    .no-svg &
        background url('/images/fallback/logotype.png')

.site-subhead
    position relative
    z-index 6

// Applies to the Footer as well
.nav-locale
    &.select-locale
        display inline-block
        width em(170)

        .css-select,
        select,
        .icon:before
            background none
            color $cyan

    .css-select:after
        background $blue-3

@require 'directives/quickSearch/Style'