nav#navigation.nav-header
    .wrapper
        .left-wrap.mobile-center
            a.mob-link-profile.left.icon-person.logged-in-only(data-ui-sref="dashboard.profile.user({ user: 'me' })")
            a.mob-link-search.right.icon-search(data-ui-sref="activity.search.default")

            .nav-logo.top-align#siteLogo(ng-click="vars.goHome()")
                a.logo
                    span.hidden(ng-bind='::vars.site')

            quick-search.nav-search.middle-align.hidden-xs

        ul.nav-links.hidden-xs
            li.nav-link
                a#searchLink.a-link(
                    i18n="common.SEARCH_MAP"
                    ui-sref="activity.search.default"
                    analytics-on="click"
                    analytics-category="navigation"
                    analytics-event="click"
                    analytics-label="map search"
                )

            .clear.nav-link(ng-if="!$root.userID")
                li.nav-link
                    a.login.a-link(
                        ui-sref="account.auth({ page: 'login' })"
                        i18n="common.LOGIN_VERB"
                    )
                
                li.nav-link
                    a.btn-yellow.btn(
                        ui-sref="standalone.addYourself"
                        i18n="campaign.AD-ADD_SPK_CTA"
                    )

            .clear.nav-link(ng-if="$root.userID")
                li.nav-link
                    #userNavDD.dropdown-parent
                        a.a-link(
                            ui-sref="dashboard.profile.user({ userID: $root.userID })"
                            analytics-on="click"
                            analytics-category="navigation"
                            analytics-event="click"
                            analytics-label="username"
                        )
                            span#navMenuText.text

                            avatar.navatar(
                                data-do-watch="true"
                                data-opts="{width:28, height:28, thumb:true}"
                            )

                        .dropdown
                            ul.dropdown-wrap
                                li.li
                                    a.dd-link(
                                        ui-sref="dashboard.profile.user({ userID: $root.userID })"
                                        ui-sref-active="active"
                                        i18n="common.PROFILE"
                                        analytics-on="click"
                                        analytics-category="navigation"
                                        analytics-event="click"
                                        analytics-label="profile"
                                    )
                                li.li
                                    a.dd-link(
                                        ui-sref="{{::routes.favorites}}"
                                        ui-sref-active="active"
                                        i18n="common.FAVORITES"
                                        analytics-on="click"
                                        analytics-category="navigation"
                                        analytics-event="click"
                                        analytics-label="favorites"
                                    )
                                li.li
                                    a.dd-link(
                                        ui-sref="{{::routes.myActivities}}"
                                        ui-sref-active="active"
                                        i18n="activities.MY_ACTIVITIES"
                                        analytics-on="click"
                                        analytics-category="navigation"
                                        analytics-event="click"
                                        analytics-label="my activities"
                                    )
                                li.li(if-user-permissions="CREATE_EVENT")
                                    a.dd-link(
                                        ui-sref="{{::routes.eventCreate}}"
                                        ui-sref-active="active"
                                        i18n="common.CREATE"
                                        analytics-on="click"
                                        analytics-category="navigation"
                                        analytics-event="click"
                                        analytics-label="create event"
                                    )
                                li.li
                                    a.dd-link(
                                        ui-sref="{{::routes.messages}}"
                                        ui-sref-active="active"
                                        i18n="common.MESSAGES"
                                        analytics-on="click"
                                        analytics-category="navigation"
                                        analytics-event="click"
                                        analytics-label="messages"
                                    )
                                li.li-divide

                                //- hidden li to keep the consistent alternating backgrounds
                                li.li-hide
                                li.li
                                    a.dd-link(
                                        ui-sref="{{::routes.settings}}"
                                        ui-sref-active="active"
                                        i18n="common.SETTINGS"
                                        analytics-on="click"
                                        analytics-category="navigation"
                                        analytics-event="click"
                                        analytics-label="settings"
                                    )
                                li.li
                                    a.dd-link(
                                        ng-click="vars.Auth.deauthenticate(null, 'user')"
                                        i18n="common.LOGOUT_VERB"
                                        analytics-on="click"
                                        analytics-category="navigation"
                                        analytics-event="click"
                                        analytics-label="log out"
                                    )

            notification-toggle-box.nav-notifs.middle-align(
                data-fetch-size="6"
                data-pos="right"
            )

    #siteLoader.site-loader(data-progress-loader='#siteLoader')
