.going-strip
    width em($users-going-width)

    /////////////////////
    ////// $CLASSES /////
    /////////////////////
    .hide-flow
        height 100%
        width 100%
        overflow hidden

    /////////////////////
    ///// $STRUCTURE ////
    /////////////////////
    .g-wrap
        absolute top right
        background $blue-3
        width 100%
        height auto
        min-height em(250)
        padding em(7)
        
        .no-touch.windows-os &
            right em(20)
    
    /*.g-wrap header*/.header
        margin em(4) 0 em(12)
    
    /*.header a*/.going-count
        color $white
        display block
        text-align center
        cursor pointer

        .no-touch &:hover
            color $cyan
    
    /*.g-wrap*/.max-going
        .going-count
            color $red

    .avatar
        margin-bottom em(8)
        display block
        cursor pointer
        position relative
    
    /*tooltip-transclude*/.hover
        absolute top left
        width 100%
        height 100%

    /*a*/.view-all
        position relative
        text-align center
        width em(40)
        height em(40)
        cursor pointer
        display block
        border 1px solid transparent

        /*span*/.txt
            font em(50) \/ em(5, 50) "Comic Sans MS", cursive, sans-serif
            color $gray

        .no-touch &:hover
            border-color $cyan

            .txt
                color $cyan