.Class-Learn
    $container-width = 600
    $copy-width = 300
    $illo-width = 250

    /////////// Class
    .above
        position relative
        z-index 1

    .space-right
        margin-right s('%s%', ($container-width - ($copy-width + $illo-width)) / $container-width * 100)

    /////////// Structure
    /*header*/.splash
        background $blue-1
        position relative
        padding 5em 0 6em
        text-align center
        margin-bottom em(70)

    /*.splash */.bg
        absolute top left
        background url('/images/misc/globe_rays.svg') no-repeat
        background-position center bottom
        width 100%
        height 100%
        z-index 0

    /*.splash h1*/.title
        color $blue-2
        text-shadow 1px 1px 1px $white
        font-size em(30)
        margin-bottom .8em

    /*.splash */.intro-p
        $font-size = 18
        $font-regular($font-size, null, $font-size * 1.2)
        text-align left
        padding em($default-padding, $font-size)
        max-width em(500, $font-size)
        color $white
        text-shadow 1px 1px $blue-2
        border-radius em(4, $font-size)
        background rgba($blue-2, .35)

    /*.splash */.button-hold
        position absolute
        bottom -2.5em
        left 50%
        transform translateX(-50%)
        background $cyan-gradient-dark-post
        border-radius em(10)
        padding 1.25em

    .hiw
        position relative
        width 100%
        max-width em($container-width)
        margin 0 auto 4em
        padding-top 1.5em

    /*.hiw h2*/.hiw-title
        absolute top left
        color $orange-dark
        font-size em(24)

    /*.hiw article*/.section
        margin-bottom em(45)

    .copy,
    .illo
        @extends .middle-align

    /*.section */.copy
        width s('%s%', $copy-width / $container-width * 100)

    /*.copy h3*/.sec-head
        $font-bold(16)
        color $blue-2
        margin-bottom .75em

    /*.copy p*/.sec-copy
        color $blue-3
        $font-light()

    /*.section */.illo
        width s('%s%', $illo-width / $container-width * 100)

        img
            width 100%

    /*footer*/.continue
        background rgba($orange-light, .8)
        padding em(35) 0
        text-align center
