.Class-Learn
    header.splash.taper-attach
        .taper-bar
            .taper-display(i18n="misc.JOIN_WHILE_FREE")

        .bg

        h1.title.above(i18n="teacher.TEACH_CLASS")

        p.intro-p.top-align.above(i18n="teacher.INTRO_LINE")

        .button-hold.above(ng-if="::!disableButtons")
            button.btn-white.continue-action.fat(
                i18n="common.GOT_IT"
                analytics-on="click"
                analytics-category="navigation: dashboard"
                analytics-event="click"
                analytics-label="create: intro: top button"
            )

    .hiw
        h2.hiw-title(i18n="landing.ROOT-SLIDE_HEAD_1")

        article.section
            .copy.space-right
                h3.sec-head(i18n="teacher.TEACH_SUBLINE3")
                p.sec-copy(i18n="teacher.TEACH_LOCATION")

            .illo
                img(src="/images/landing/event/_Top-3.svg")

        article.section
            .illo.space-right
                img(src="/images/landing/tandem/_Intro.svg")

            .copy
                h3.sec-head(i18n="teacher.TEACH_SUBLINE4")
                p.sec-copy(i18n="teacher.TEACH_CLASSES")

        article.section
            .copy.space-right
                h3.sec-head(i18n="teacher.TEACH_SUBLINE5")
                p.sec-copy(i18n="teacher.TEACH_MONEY")

            .illo
                img(src="/images/landing/root/_Top-1.svg")

        article.section
            .illo.space-right
                img(src="/images/landing/teacher/_Slide-2.svg")

            .copy
                h3.sec-head(i18n="teacher.TEACHER-SUBLINE_2")
                p.sec-copy(i18n="teacher.TEACH_MARKETING")

    footer.continue(ng-if="::!disableButtons")
        button.btn-blue.continue-action.fat(
            i18n="common.CONTINUE"
            analytics-on="click"
            analytics-category="navigation: dashboard"
            analytics-event="click"
            analytics-label="create: intro: bottom button"
        )
