// Bug that prepends duplicate class if attributes & imports are together
.Email
    @import 'verified/Style'

.Email
    .background
        background url(/images/email/map-background-blur.jpg) no-repeat
        background-size full
        height 100%

    .content
        width em(550)
        padding em(35) em($default-padding) em($default-padding)
        text-align center
        background $light-blue-1
        border 1px solid $cyan

    /*.content */.divider
        width 50%
        opacity .5

    /*p*/.message
        margin-bottom 1em

    .label,
    .input
        display inline-block

    .label
        font-family $font-bold-val
        width 40%
        padding-right 1em
        text-align left

    .subrow .input
        display block

    .submit-row
        text-align center

    .emblem
        margin-top em($default-padding)