.inner-wrap
    form.default-form
        button.btn-yellow.fluffy(ng-click="uAdmin.addUser()") One time users add

        button.btn-red.fluffy(ng-click="uAdmin.deleteUsers()") Delete those fake ass bitches