.v-listing.dummy
    .v-name,
    .v-address,
    .rating-bar,
    .rating-bar .filled:before,
    .reverse-link
        color $blue-2-50op

    .v-photo
        text-align center
        background rgba($blue-2-50op, .4)

    .gray-block
        $font-title(19, null, 125)
        color $gray
