.person-details
    position relative

    $padding = $default-padding * .8

    ////////////////////////
    ////    $Classes   /////
    ////////////////////////

    .grey
        color $blue-2-50op

    [class^="display-"]
        color $white
        $font-regular(15, 14, 18)

    [class*="half-"]
        width 50%
        @extends .middle-align

    .half-right
        text-align right

    .fave-button
        vertical-align middle

    .bold
        font-family $font-bold-val

    .space-bot
        margin-bottom em($padding)

    /////////////////////////
    ////   $Structure   /////
    /////////////////////////

    /*header*/.top-tails
        padding em($padding)
        background $green

    /*h3*/.display-name
        margin-bottom .5em

    .lang-tails
        padding em($padding)

    .learning:after
        content ':'
        margin-right .5em