.back-2-search
    @extends .map-back-pos

    .map-back-button
        display none

    &.from-search
        .to-search-button
            display none

        .map-back-button
            display inline-block

    .to-search-button
        display inline-block
        padding em($default-padding)
        border 1px solid $cyan
        background $blue-2
        color $white

        .no-touch &:hover
            background $cyan
