.back-2-search(ng-class="{'from-search': vars.fromSearch}")
    a.map-back-button.icon-back(
        i18n="common.GO_BACK"
        ng-click="$root.goBack()"
        analytics-on="click"
        analytics-category="map"
        analytics-event="click"
        analytics-label="map button: go back"
    )

    a.to-search-button.no-default.icon-search(
        i18n="common.GO_TO_SEARCH"
        ui-sref="activity.search.default({type:'tandems'})"
        analytics-on="click"
        analytics-category="map"
        analytics-event="click"
        analytics-label="map button: go to search"
    )