/*.LS-defaults.container*/.LS-hiw
    // inherits padding right/left from .container
    padding-top 3em
    padding-bottom 3em

    .titles
        margin-bottom .5em
        color $cyan
        
    .sec-header
        color $gray
    
    .auto
        margin auto

    .description
        @extends .top-align
        position relative
        margin-bottom 1em
        width 100%

        &:last-child
            margin 0

        +above($above-sm)
            width 33.33%

            &:nth-child(2)
                // indent the middle section downwards
                padding-top 3em

    .text
        margin 0 1em

        +above($above-sm)
            margin 0 1.5em

    .arrow
        width em(50)
        transform rotate(85deg)
        position absolute
        right 0
        top 65%

    /*.arrow*/.arrow2
        transform rotate(55deg)
        top 58% /*weird numbers but it looks better*/
        left 95%