.LS-hiw.LS-defaults.container.center
    .row
        h2.sec-header.col-xs-12(i18n-bo-variable="AB.text.hiwHead")
    .row
        .description
            img.auto(src='/images/landing/how-it-works/HowItWorks-03.svg')
            .text
                h3.titles(i18n-bo-variable="AB.text.hiw1Actn")
                p.body-copy(i18n-bo-variable="AB.text.hiw1Copy")

            img.arrow.hidden-xs.hidden-sm.auto(src='/images/landing/how-it-works/arrow.svg')

        .description
            img.auto(src='/images/landing/how-it-works/HowItWorks-02.svg')
            .text
                h3.titles(i18n-bo-variable="AB.text.hiw2Actn")
                p.body-copy(i18n-bo-variable="AB.text.hiw2Copy")

            img.arrow.arrow2.hidden-xs.hidden-sm.auto(src='/images/landing/how-it-works/arrow.svg')

        .description
            img.auto(src='/images/landing/how-it-works/HowItWorks-01.svg')
            .text
                h3.titles(i18n-bo-variable="AB.text.hiw3Actn")
                p.body-copy(i18n-bo-variable="AB.text.hiw3Copy")