.adm-site-msg.fluffy
    h1.h1 Site message

    br

    .no-msg(ng-if="!Admin.has")
        form.default-form.list-section
            .list
                label.subject.middle-align(for="admSiteSetMsg") Set a set message
                input.stuff.middle-align(
                    type="text"
                    ng-model="Admin.message.text"
                )

            .list.submit-row
                button.btn-blue(ng-click="Admin.toggleSetMsg(true)") Set Message

    .has-msg(ng-if="Admin.has")
        form.default-form.list-section
            .list
                label.subject.middle-align(for="admSiteSetMsg") Currently set message
                input.stuff.middle-align(
                    type="text"
                    ng-model="Admin.message.text"
                    disabled
                )

            .list.submit-row
                button.btn-red(ng-click="Admin.toggleSetMsg()") Remove Message