.pfComplete
    $cta-color = $orange

    display none
    position absolute
    z-index 1
    top em(15)
    left em(50)

    .content-modal
        background rgba($very-light-gray, .8)

    +media('(min-width: 1130px)')
        display block

    /*> */.cont
        width em(310)
        margin 0
        padding em($default-padding)
        transform inherit
        max-width none
        position static

    .close-modal
        position absolute
        top em(10)
        right em(10)
        color $blue-2-50op
        cursor pointer

        &:before
            margin 0
            font-size 1.25em

    /*h3*/.title
        $font-title(19)
        margin-bottom em(15, 19)


    /*> */.completion
        margin-bottom em(5)

    /*.completion */.completion-box
        border 1px solid $cyan
        padding em(3)
        background $white
        width 80%

    /*.completion-bar */.bar
        background $cta-color
        height em(22)
        transition width 250ms ease-in

    .percent-box
        width 20%
        text-align right

    /*.percent-box */.percent-txt
        color $cta-color
        $font-title(19, null, 22)

    /*ul.task-list li*/.task-li
        padding-left em(22)
        position relative

    $task-height = 30
    /*li.task-li a*/.task
        cursor pointer
        padding em(10) 0
        display block
        font 1em \/ 1em $font-light-val
        transition padding 500ms ease-out, font-size 500ms ease-out

        &:before
            @extends [class^="icon-"]:before
            @extends .icon-plus:before
            absolute top left
            color $cta-color
            margin-right em(5)
            font-size em(17)
            line-height em($task-height, 17)

        .no-touch &:hover
            /*span*/.text
                color $cyan

    /*.task-li*/.completed
        color $blue-2-50op !important

        /*span*/.text
            text-decoration line-through

        .task
            font-size em(13, 14)
            padding em(4, 13) 0

            &:before
                @extends .icon-check:before
                color $cyan

    /*a.task span*/.text
        text-decoration underline
        margin-right em(8)

    /*a.task span*/.weight
        color $blue-2