article.pfComplete.modal-animation
    .inner-wrap.content-modal.cont
        a.close-modal.icon-cancel-big(ng-click="modal.deactivate()")
        .body
            h3.title(i18n="profile.PROFILE_COMPLETENESS")

            .completion
                .completion-box.middle-align
                    .wrapper
                        .bar(ng-style="{ width: vars.percentComplete(vars.taskList) }")

                .percent-box.middle-align
                    span.percent-txt(ng-bind="vars.percentComplete(vars.taskList)")

            ul.task-list(delegate=".task | vars.doTask(task)")
                li.task-li(
                    ng-repeat="task in vars.taskList.tasks track by task.name"
                    ng-class="{'completed': task.completed}"
                )
                    a.task
                        span.text(data-i18n-bo-variable="task.key")
                        span.weight(ng-bind="::vars.getWeight(vars.taskList, $index)")