.popover-msg
    position relative
    margin-bottom 1.5em
    clearfix()
    
    &.nom
        margin-bottom 0
    
    &:last-child
        margin-bottom 0
    
    input.field,
    textarea.field
        width 100%
        margin-bottom 0
    
    .popover
        position absolute
        width 100%
        text-align left
        padding em(10)
        border-radius 2px
        z-index 3
        background $white
        
        &:before,
        &:after
            content ''
            position absolute
    
    /*.popover*/[data-pos="top"]
        bottom 100%
        left 0
        margin-bottom .85em
        
        &:after,
        &:before
            top 100%
            left 50%
            transform translateX(-50%)

        &.info:before,
        &.on-focus:before,
        &.error:before
            border-top .55em solid $white
            border-left .55em solid transparent
            border-right .55em solid transparent
            z-index 2

        &.info:after,
        &.on-focus:after,
        &.error:after
            border-top .6em solid $green
            border-left .6em solid transparent
            border-right .6em solid transparent
            z-index 1
        
        &.error:after
            border-top .6em solid $red
    
    /*.popover*/[data-pos="right"]
        top 50%
        transform translateY(-50%)
        left 100%
        margin-left 1em
        
        &:after,
        &:before
            right 100%
            top 50%
            transform translateY(-50%)

        &.info:before,
        &.on-focus:before,
        &.error:before
            border-top .55em solid transparent
            border-bottom .55em solid transparent
            border-right .55em solid $white
            z-index 2

        &.info:after,
        &.on-focus:after,
        &.error:after
            border-top .6em solid transparent
            border-bottom .6em solid transparent
            border-right .6em solid $green
            z-index 1
        
        &.error:after
            border-right .6em solid $red
    

    
    .error
        border 1px solid $red
        display none
    
    .popover.error + .field,
    .popover.error + .popover + .field
        border 1px solid $red
        box-shadow 0 0 3px 0 $red !important
    
    .popover.error + .popover:not(.field)
        display none !important

    .info,
    .on-focus
        border 1px solid $cyan
    
    .on-focus
        display none