.Zero.default
    text-align center
    padding 1em

    +media('sm')
        padding em(30)

    /*h2/3*/.cta-head
        $font-title(18, null, 29)
        margin-bottom em(15, 18)
        text-align center

        a
            color $blue-3
            text-decoration underline
            cursor pointer

            .no-touch &:hover
                color $cyan

    .sub-head
        $font-bold(15)
        margin 0 0 em(15)

    .lheight
        line-height 1.5em

    /*ul*/.options-list
        margin 0 auto em(40)


    /*.choices */.choice
        width 50%

    /*.choice img*/.illo
        margin 0 auto em(15)
        width em(230)

.Zero.split
    .copy
        margin 0 auto 1.5em

        +media('sm')
            max-width 70%

    .choices
        margin 0 auto 2em

        +media('sm')
            width 75%

    /*.choices */.choice
        text-align center
        @extends .middle-align

        img
            @extends .middle-align

            +media('sm')
                width 80%

    /* one item */
    .choice:first-child:nth-last-child(1)
        width: 60%

    /* two items */
    .choice:first-child:nth-last-child(2),
    .choice:first-child:nth-last-child(2) ~ .choice
        width: 50%

        &:first-child
            +media('xs')
                padding-right em(5)

    .choice:nth-child(2)
        img
            width 52%
            margin 15px auto 20px

            +media('sm')
                width 60%

    .cta-button
        margin 0

.Zero
    /*a*/.aff-link
        display inline-block
        $font-title(18)

        .no-touch &:hover
            /*span*/.txt
                text-decoration underline

    /*.img*/.italki-logo
        width em(100)