.Zero.default.split.fluffy
    h2.cta-head

    //- This is a temp hot fix adding .logged-out-only
    p.copy.logged-out-only

    .choices
        .choice.opt(
            ng-repeat="option in vars.options"
            ng-if="!option.notLoggedIn || (option.notLoggedIn && !vars.loggedIn())"
        )
            img.illo(src="{{::option.illo}}")
            a(
                class="{{::option.btn.className}} cta-button"
                ui-sref="{{::option.btn.link}}"
                ng-bind="::option.btn.text"
            )

    .aff-partner.italki
        a.aff-link.color-italki(
            href="{{vars.affLink}}"
            target="_blank"
        )
            span.txt.bot-align(i18n="activities.ZERO-PRTNR_TEACH")
            img.middle-align.italki-logo(
                src="/images/AdSlot/affiliates/iTalki_full.png"
                data-i18n-attr="{alt: 'activities.ZERO-PRTNR_TEACH'}"
            )
