.edit-lang
    &.lang-len-1
        /*a*/.remove
            display none !important

    .langs
        color $blue-2

        tr
            margin-bottom .75em

            &:last-child
                margin-bottom 0

        td
            padding-right em(15)
            vertical-align middle

            &:last-child
                padding 0

        th:nth-child(1),
        td:nth-child(1)
            width 30%

        th:nth-child(2),
        td:nth-child(2)
            width 35%

        th:nth-child(3),
        td:nth-child(3),
        th:nth-child(4),
        td:nth-child(4)
            width 16%

        th:nth-child(5),
        td:nth-child(5)
            width 3%
            padding 0
            text-align center

        /*th */.head
            $font-bold(15)
            display inline-block
            vertical-align middle
            text-transform capitalize

        /*td */select
            width 100%

        /*td .default-form.styled*/form
            text-align center

        .d-row td,
        .save-row
            width 100% !important
            display block

    select
        font 1em \/ 1em $font-regular-val

    /*.langs a*/.remove
        opacity .5
        cursor pointer

        &:before
            margin 0

        .no-touch &:hover
            opacity 1

    /*input*/.lang-name
        border none !important
        font-family $font-bold-val
        text-transform capitalize
        padding-left 0 !important
        margin 0

    .twitter-typeahead .active-term
        @extends _autocompletLangPadding

    .term
        display none

    tr.add-row
        margin 1em 0

    .save-button-row
        text-align right

        div
            font-family $font-bold-val
            margin 0 0 0 1em