.LS-video
    &.active
        .content
            background rgba(0, 0, 0, .6)

    /*.row.visible-xs */.mobile-title
        padding 2.25em 1em 1em
        text-align center

    .background
        background url('/images/landing/video/xs/background.jpg') no-repeat bottom center
        background-size cover
        padding-bottom 100%

        +media('sm')
            background url('/images/landing/video/sm/background.jpg') no-repeat bottom center
            background-size cover
            height em(431)
            padding-bottom 0

        +media('md')
            background url('/images/landing/video/md/background.jpg') no-repeat bottom center
            background-size cover
            height em(550)

    .content
        absolute top left
        width 100%
        height 100%
        padding 5em
        text-align center
        cursor pointer
        transition background-color 750ms ease-in

        &:hover
            .play-btn
                color $cyan

    .play-btn
        color $light-gray
        display inline-block

    /*a.h3*/.head
        text-decoration underline

    /*img*/.play-img
        width em(550)
        max-width 100%
        margin 3em auto 1em

    .video-cont
        position absolute
        top 0
        left 50%
        transform translateX(-50%)
        width 100%

        +media('sm')
            max-width em(734)

    .video-inner
        position relative
        width 100%
        padding-bottom 100%

        +media('sm')
            padding-bottom 75%

    /*iframe*/.video
        absolute top left