.LS-video.LS-defaults.container-fluid(
    ng-init="_video = { visible: false }"
    ng-class="{'active': _video.visible}"
)
    .row.visible-xs
        .mobile-title
            h2.sec-header(i18n-bo-variable="AB.text.videoHead")

    .row.relative.play(
        ng-click="_video.visible = !_video.visible"
        analytics-on="click"
        analytics-category="landing"
        analytics-event="click"
        analytics-label="play video"
    )
        .background
        .content
            .row.hidden-xs
                a.h2.play-btn.head(i18n="landing.SEARCHABLE_SKILLS")
            .row
                .cp-video
                    img.play-img(src="/images/landing/video/youtube_shot.jpg", alt="Play Video")

        .video-cont(ng-if="_video.visible")
            .video-inner
                iframe.video(
                    width="100%"
                    height="100%"
                    src="https://www.youtube.com/embed/BHJXq1jSKIY?rel=0"
                    frameborder="0"
                    allowfullscreen
                )
