- var slideLength = 2
- var metaTop = { 1: "chatterplot search", 2: "find fluent speakers", 3: "practice with internationals" }
- var metaBottom = { 1: "Who's your neighbor?", 2: "Find a Tandem", 3: "Supplement online learning" }

.Splash-Content
    view-title meta.TCLP_TITLE

    meta(
        view-head
        name="keywords"
        content="{{::meta.TCLP_KEY | i18n}}"
    )

    meta(
        view-head
        name="description"
        content="{{::meta.TCLP_DESC | i18n}}"
    )

    .intro.out-container
        .in-container
            .illst.fluid
                img(
                    src="/images/landing/teacher/_Intro.svg"
                    alt="Teach or learn a language near home"
                )

            .copy.fluid
                h2.h3.display(i18n="landing.TEACHER-INTRO_HEAD")
                p.text(i18n-html="landing.TEACHER-INTRO_TEXT")

    .top-sec.out-container
        .in-container
            - for (var i = 1; i < 4; i++) {
                - var _class = i % 2 === 0 ? 'odd' : 'even';
                div(
                    data-index="#{i}"
                    class="sec #{_class}"
                )
                    h4.sm-display(i18n="landing.TEACHER-TOP_#{i}")
                    .illst
                        img(src="/images/landing/teacher/_Top-#{i}.svg", alt="#{metaTop[i]}")

                - if (i !== 3) {
                    .arrow-divide(data-index="#{i}")
                        img(src="/misc/_Illustration-arrow.svg")
                - }
            - }

    .slides.out-container
        .in-container
            .arrow-setter
                .mask-hide
                    div(class="mask-slider slide-{{ Landing.section.slide }}")
                        - for (var i = 1; i < 1 + slideLength; i++) {
                        - var _class = i % 2 === 0 ? 'odd' : 'even';
                            div(class="slide #{_class}")
                                - if (i % 2 === 0) {
                                    .illst.fluid
                                        img(src="/images/landing/teacher/_Slide-#{i}.svg", alt="#{metaBottom[i]}")
                                - }

                                .copy.fluid
                                    h3.display(i18n="landing.TEACHER-SLIDE_HEAD_#{i}")
                                    p.text(i18n="landing.TEACHER-SLIDE_TEXT_#{i}")

                                - if (i % 2 !== 0) {
                                    .illst.fluid
                                        img(src="/images/landing/teacher/_Slide-#{i}.svg", alt="#{metaBottom[i]}")
                                - }

                        - }