blank-modal.ppl-dsplay.modal(
    data-abs-center="true"
    data-box-class="box modal-style title-modal"
    data-deactivate="modal.deactivate()"
)
    people-display(
        data-sections="modal.sections"
        data-category="{{::modal.category}}"
    )