section.Profile-sec.inner-wrap.section-location(ng-class="{'is-self': isMe}")
    .body-type
        h3.sec-title
            span(i18n="profile.MEETING_LOCATIONS")

        .cont.default-form.styled(
            ng-class="{'edit-mode': vars.activeEdit}"
            delegate=".set-primary | vars.setPrimary(location)"
        )
            .all-locations
                venues-listing-dummy.venue(ng-if="!vars.gotLocations.length && !vars.stillLoading")

                .v-wrap.edit(
                    ng-repeat="location in vars.gotLocations track by location.service.id"
                    ng-class="{'primary': location.user.primary}"
                )
                    .set-primary.icon-ok
                        tooltip.tt(
                            data-watch-var="vars.getMainLocTT(location.user.primary)"
                            data-pos="right"
                            data-attach="true"
                        )

                    venues-listing.venue(
                        data-venue-src="location.service"
                        data-remove="vars.removeVenue(location)"
                    )

            .add-button.center.fluffy(ng-show="isMe")
                button.btn-blue.icon-plus(
                    i18n="profile.ADD_LOCATION"
                    ng-click="vars.activeEdit = true"
                )

            .add-location.input-wrap
                google-location.input(
                    data-on-select="vars.locationSet(location, type)"
                    data-placeholder="profile.PLACEHOLDER-DESIRED_LOCATION"
                    data-do-empty="vars.doEmpty"
                    data-no-general="true"
                )
