doctype html

html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        base(href='/')
        title Unsubscribed | Chatterplot
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')

        link(rel='stylesheet', href='styles/main.css')

    body.standalone
        .inner-background
            .space-chunk
            .floating-box.liquid-container
                case action
                    when 'unsubscribe'
                        .btm-room-box
                            h1.banner.red.close-right Unsubscribe
                            .padded-content
                                h3 #{email} has been successfully unsubscribed. Sorry to see you go.


                    when 'remove'
                        .btm-room-box
                            h1.banner.red.close-right Group Preferences
                            .padded-content
                                h3 #{email} has been removed from the group <strong>#{groupName}</strong>

                .btm-room-box
                    unless action == 'unsubscribe'
                        h1.banner.red.close-right
                            | Manage your email preferences

                        .padded-content
                            h3 #{email}: I want to receive emails about

                            br

                            form.default-form.styled(
                                method="POST"
                                action="#{selfUrl}"
                            )
                                each group in groups.emailGroups.groups
                                    .line
                                        .set.single
                                            input.neben-input(
                                                type="checkbox"
                                                id="#{group.id}"
                                                name="#{group.name}"
                                                value="#{groups.emailGroups.id}"
                                                checked=(group.interested ? "checked" : undefined)
                                            )
                                            label(for="#{group.id}") #{group.name}
                                
                                each group in groups.interests.groups
                                    .line
                                        .set.single
                                            input.neben-input(
                                                type="checkbox"
                                                id="#{group.id}"
                                                name="#{group.name}"
                                                value="#{groups.interests.id}"
                                                checked=(group.interested ? "checked" : undefined)
                                            )
                                            label(for="#{group.id}") #{group.name} Tips

                                br

                                input(
                                    type="submit"
                                    value="Update Preferences"
                                )

                                .space-chunk
                                h3 Or unsubscribe from all emails
                                br
                                a.btn-green.fluffy(
                                    href="#{unsubURL}"
                                ) Unsubscribe








