doctype html

html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        base(href='/')
        title Email Verified | Chatterplot
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width')

        link(rel='stylesheet', href='styles/main.css')

    body.standalone
        .inner-background
            .space-chunk
            .floating-box.liquid-container
                h1 Your account has been verified!

                p
                    | Woo Hoo!!!!