doctype html
html
    head
        title Authenticate | Chatterplot
        script.
            var service = !{JSON.stringify(service)},
                callback = 'on' + service.name + 'Auth';

            window.onload = function () {
                try {
                    window.opener[callback](service.error, service);
                    window.close();
                } catch (e) {
                    window.location = window.location.href.replace(/(\.com)(:\d{3,4})?/, '$1');
                }
            }
    body
        | Closing in 1...