doctype html
html
    head
        title #{title} | Chatterplot
        script.
            window.onload = function () {
                var timeout = #{timeout} || 3000
                setTimeout(window.close, timeout)
            }
    body
        h1 #{header}
        p #{message}