doctype html
| <!--[if lte IE 9]> <html lang="#{lang}" class="no-js lte-ie9" ng-app="Chatterplot"> <![endif]-->
| <!--[if gt IE 9]><!--> <html lang="#{lang}" ng-app="Chatterplot" class="no-js"> <!--<![endif]-->
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    base(href='/')
    title(ng-bind-template="{{viewTitle}}") Chatterplot
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(name='fragment', content='!')
    meta(name="theme-color", content="#0D1728")
    link(rel="icon", sizes="192x192", href="/images/misc/logo_192x192.png")
    link(rel="schema.DC", href="http://purl.org/dc/elements/1.1/")
    link(rel="schema.DCTERMS", href="http://purl.org/dc/terms/")
    link(rel="shortcut icon", href="https://#{prefix}.chatterplot.com/favicon.ico")

    meta(name="DC.Format", schema="DCterms:IMT" content="text/html")
    meta(name="DC.Title" xml:lang="EN" content="Meet Language Learners Nearby")
    meta(name="DC.Creator", content="Chatterplot")
    meta(name="DC.Subject", xml:lang="EN" content="In person language learning network")
    meta(name="DC.Publisher", content="Chatterplot LLC")
    meta(name="DC.Publisher.Address", content="info@chatterplot.com")
    meta(name="DC.Date", scheme="ISO8601" content="2014-06-06")
    meta(name="DC.Type", content="text/html")
    meta(name="DC.Description", xml:lang="EN" content="Use Google Maps and GPS to find Language Partners near you.")
    meta(name="DC.Identifier", content="https://#{prefix}.chatterplot.com")
    meta(name="DC.Rights", content="Copyright 2014, Chatterplot LLC. All rights reserved.")
    meta(name="DC.Date.,X-MetadataLastModified" scheme="ISO8601" content="2014-06-06")
    meta(name="DC.Language", scheme="dcterms:RFC1766" content="#{lang.toUpperCase()}")

    meta(property='fb:app_id', content='407597439382292')

    meta(name="p:domain_verify", content="4be2cfcd969f28626b2e9f105bd53e41")

    link(rel='stylesheet', href="@@cdnUrlstyles/main.css")

    if env === 'development' || env === 'staging'
        //- <!-- build:js dist/public/scripts/preload.min.js -->
        script(src='third_party/Modernizr-2.7.2.min.js')
        //- <!-- endbuild -->
    else
        script(src="@@cdnUrlscripts/preload.min.js")

    script.
        window.CP = !{JSON.stringify(dataFerry)};
        CP.locale = '#{locale}';
        CP.forceLocale = #{forceLocale};
        CP.deployVersion = '#{deployVersion}';
        CP.production = #{env === 'production'};
        CP.releases = '!{releases}';
        CP.site = {
            name: "https://#{prefix}.@@hostname",
            host: "@@hostname",
            prefix: "#{prefix}",
            defaultPrefix: "@@prefix",
            subdomains: '#{localeDomains}'.split(','),
            views: 'views/',
            routes: null
        };
        window.CKEDITOR_BASEPATH = "@@cdnUrlbower_components/ng-ckeditor/libs/ckeditor/";
        window.prerenderReady = false;

        //- Determine whether to load a non latin family subset
        var family = '#{configVars.googleFontFamily[lang]}' || 'latin';

        WebFontConfig = {
            google: {families: ['Open+Sans:400,300,400italic,700:' + family]}
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                    '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();

    if session
        script.
            CP.session = !{JSON.stringify(session)}

body(ng-class="$root.pageClasses")
    | <!--[if lte IE 9]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    #fb-root

    .cont.site-wrap(ng-class="{'true': 'logged-in', 'false': 'logged-out'}[!!$root.userID]")
        site-nav

        .site-subhead(cp-page-subheader, data-visible-class="has-subheader")

        section#content.content-main
            .site-wrapper(ui-view='site')

        chat-windows

    yap-bar

    site-message

    if env === 'production' || forceAnalytics
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50179365-1', 'chatterplot.com');

            //- No longer needed as angulartics handles this
            //- ga('send', 'pageview');

        //- Load locale
        script(src='//code.jquery.com/jquery-2.1.4@@min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.2.0/socket.io@@min.js', async="")
    if env === 'development' || env === 'staging'
        script(src='third_party/jquery-2.1.4.js')
        script(src='third_party/socket.io-1.2.0.js')
        script(src='third_party/google_maps_markerclusterer.min.js')

        //- <!-- build:js dist/.tmp/scripts/scripts.min.js -->
        //- bower:js
        script(src="bower_components/angular/angular@@min.js")
        script(src="bower_components/angular-animate/angular-animate@@min.js")
        script(src="bower_components/angular-messages/angular-messages@@min.js")
        script(src='bower_components/lodash/dist/lodash@@min.js')
        script(src='bower_components/angulartics/dist/angulartics.min.js')
        script(src='bower_components/angulartics/dist/angulartics-ga.min.js')
        script(src='bower_components/angular-local-storage/angular-local-storage@@min.js')
        script(src='bower_components/angular-cookie/angular-cookie@@min.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router@@min.js')
        script(src='bower_components/angular-ui-router.stateHelper/statehelper@@min.js')
        script(src='bower_components/angular-modal-modified/modal@@min.js')
        script(src='bower_components/ng-flow/dist/ng-flow-standalone@@min.js')
        script(src='bower_components/angular-socket-io/socket@@min.js')
        script(src='bower_components/angular-localization-modified/angular-localization@@min.js')
        script(src="bower_components/headroom.js/dist/headroom@@min.js")
        script(src="bower_components/headroom.js/dist/angular.headroom@@min.js")
        script(src="bower_components/ng-ckeditor/libs/ckeditor/ckeditor.min.js")
        script(src="bower_components/ng-ckeditor/ng-ckeditor.min.js")
        script(src="bower_components/MProgress/mprogress@@min.js")
        script(src="bower_components/jQuery.dotdotdot/src/js/jquery.dotdotdot@@min.js")
        script(src="bower_components/jcrop/js/jquery.Jcrop@@min.js")
        script(src="bower_components/ng-jcrop/ng-jcrop@@min.js")

        script(src='bower_components/angular-sanitize/angular-sanitize@@min.js')
        script(src='bower_components/angular-google-maps/dist/angular-google-maps@@min.js')
        script(src="third_party/typeahead@@min.js")
        //- endbower

        //- <!-- endbuild -->
        script(src='scripts/bundle.#{lang}.js')
    else
        script(src="@@cdnUrlscripts/main.#{lang}.min@@jsHashVar.js")
