.search-options
    a.btn-green.fluffy(
        ng-click="source.go(0)",
        ng-show="source.current.from"
    ) previous {{source.current.size}}

    span Showing {{source.current.from}} to {{source.current.to}}

    a.btn-green.fluffy(
        ng-click="source.go(1)",
        ng-hide="source.current.to == source.current.total"
    ) next {{source.current.size}}

    a.btn-green.show-empty.fluffy(
        ng-click="source.filterEmpty()",
    )
        span(ng-hide="source.current.filterEmpty") Filter Empty Fields
        span(ng-show="source.current.filterEmpty") Reset Empty Fields