mixin editFormLayout(ctrl, fields, data, trackBy)
    table.display-table.ls-table(
        delegate=".delete | #{ctrl}.delete(row); .edit-on, .edit-off | #{ctrl}.toggleEdit(row); .edit-confirm | #{ctrl}.confirmEdit(row); .full-description | #{ctrl}.fullDescription(row); .toggle-single | #{ctrl}.toggleSingle(row)",
    )
        tr
            td
                admin-search-options.bob(
                    data-source="#{ctrl}"
                )
        tr
            th
                form.default-form.styled
                    input(
                          type="checkbox",
                          ng-click="#{ctrl}.toggleAll()",
                    )
            th(i18n="profile.EDIT")

            each field, key in fields
                th(ng-click="#{ctrl}.sort('#{key}')") #{field.display}

            th(i18n="common.DELETE")
            th(i18n="common.DETAILS")

        tr(
            ng-repeat="row in #{data} track by row.#{trackBy}"
            ng-animate="{enter: 'yap-enter', leave: 'yap-leave', move: 'yap-move'}"
            ng-id="::row.#{trackBy}"
        )
            td(colsize="10", width="100%")
                form.default-form.edit-form.styled
                    table.default-table.ls-inner-table
                        tr
                            td
                                input.toggle-single(
                                    type="checkbox",
                                    ng-checked="row.selected",
                                )
                            td.edit
                                switch
                                    .edit-on
                                        a.icon-pencil.edit-btn
                                    .edit-off
                                        a.icon-cancel.half.cancel
                                        a.icon-check.half.edit-confirm

                            each field, key in fields
                                td
                                    if field.readonly
                                        a.field.center(
                                            ng-bind="::row._source.#{key}"
                                            ui-sref="dashboard.profile.user({userID: row._source.#{key} })"
                                        )
                                    else
                                        input(
                                            ng-model="row._source.#{key}"
                                            type="text"
                                            ng-disabled="!row.edit"
                                        )

                            td
                                span.delete.btn-red.fluffy(i18n="common.DELETE")

                            td
                                span.full-description.btn-green.fluffy(i18n="common.ALL_FIELDS")

        tr
            td
                admin-search-options(
                    data-source="#{ctrl}"
                )




