.Admin
    .menu-bar
        ul
            li
                a.menu-link(
                    ui-sref="admin.users"
                    ng-class="{active:$state.includes('admin.users')}"
                ) Users
            li
                a.menue-link(
                    ui-sref="admin.abuse"
                    ng-class="{active:$state.includes('admin.abuse')}"
                ) Abuse
            li
                a.menue-link(
                    ui-sref="admin.event"
                    ng-class="{active:$state.includes('admin.event')}"
                ) Event/Listing
            li
                a.menue-link(
                    ui-sref="admin.misc"
                    ng-class="{active:$state.includes('admin.misc')}"
                ) Miscellaneous

    .content-admin(ui-view='')