////////////////////////////////////
//////////  ADMIN TABLES  //////////
////////////////////////////////////
.Admin
    tr
        &.ng-move,
        &.ng-leave
            transition .5s ease-in max-height

        &.ng-leave.ng-leave-active,
        &.ng-enter
            max-height 0

        &.ng-leave
        &.ng-enter.ng-enter-active
            max-height 5em

    th[ng-click]
        cursor pointer

    td
        word-wrap break-word

    // Check Box
    th:nth-child(1),
    .ls-inner-table td:nth-child(1)
        width 32px !important

    /*table*/.ls-table
        width 100%
        min-width em(1000)

    tr
        border-bottom 1px solid $light-blue-3

        &:first-child
            border none

    td
        width 100%

    [class*="btn-"]
        margin 0
        vertical-align baseline

    /*a*/.edit
        padding 0

        a
            display inline-block
            height 100%
            padding:.5em
            text-align center
            cursor pointer
            width 100%
            box-sizing border-box

            &.half
                width 50%

    .field
        display block

    .search-options
        padding 1em
        text-align center

@import 'users/Style'
@import 'abuse/Style'
@import 'event/Style'
@import 'misc/Style'