.sub-menu-bar
    ul
        li: a.menu-link(
                ui-sref="admin.abuse.messages"
                ng-class="{active:$state.includes('admin.abuse.messages')}"
            ) Messages

.adm-abuse.content
    .inner-content(ui-view='')