$pane-layout-photo-width = 180
$pane-layout-photo-content-width = $map-pane-width - $pane-layout-photo-width
$pane-padding = 15
.pane-layout-photo
    .photo-sec,
    .content-sec
        @extends .middle-align
        box-sizing border-box
        width 50%


    .photo-sec
        padding em($pane-padding)

        +media('sm')
            vertical-align top
            width unit(($pane-layout-photo-width / $map-pane-width) * 100, '%')

        .photo
            width 100%
            height 100%

    .content-sec
        padding 1em 1em 1em 0

        +media('sm')
            vertical-align top
            width unit(($pane-layout-photo-content-width / $map-pane-width) * 100, '%')
            min-height em($pane-layout-photo-width)
            padding em($pane-padding) em($pane-padding) em($pane-padding) 0

        > :last-child
            margin-bottom 0

@require 'List'
@require 'Listing'
@require 'SortList'
@require 'RegularList'