.List
    position relative

    +media('xs')
        min-height em(400)

    .loader
        @extends .il-loader-wrapper
        height 85vh
        z-index 3

    .il-loader
        top 24%

        +media('sm')
            top 40%