.Listing
    @extends .top-align
    position relative
    width 50%
    transition background 500ms linear

    +media('sm')
        width 100%

    &.notify
        background $yellow-light

    .top-right
        absolute top right
        margin 1em 1em 0 0

    .bottom-right
        absolute bottom right
        margin 0 em($default-padding) em($default-padding) 0

    .no-touch &:hover
        .hover-show
            visibility visible

    .hover-show
        visibility hidden

    .pane-layout-photo
        .photo-sec,
        .content-sec
            +media('xs')
                width 100%

        .content-sec
            +below($sm)
                padding 1em
