.Footer
    text-align left
    background $blue-3
    color $white
    position relative
    z-index 3

    /////////////////////
    ////// $CLASSES /////
    /////////////////////
    a
        color $cyan

    .left-side,
    .right-side
        @extends .top-align
        width 100%

    .left-side
        +media('sm')
            width 60%

    .right-side
        +media('sm')
            width 40%

    .w-padding
        padding-top 2em

    /////////////////////
    ///// $STRUCTURE ////
    /////////////////////
    .nav-logo
        margin .75em 0 2em

    .mobile-lang
        height em(50 + $default-padding)
        width 100%

    /*ul*/.links
        margin-bottom 1em
        text-align center

        +media('sm')
            margin-bottom 2em 
            text-align left

    /*.links li*/.link
        @extends .middle-align
    
    /*.links a*/.page-url
        cursor pointer
        color $cyan
        font 1em \/ 1em $font-bold-val
        display inline-block
        vertical-align middle
        margin-right 1.25em
        padding em(8) em(4)

        .no-touch &:hover
            color $white

        &.active,
        .no-touch &.active
            text-decoration underline

    /*a.page-url*/.special
        color $green

        .no-touch &:hover
            color $orange
    
    /*h4*/.find-us
        font-family $font-bold-val
        margin .75em 0 1.5em
        color $light-blue-2

    .social-buns
        +media('xs')
            text-align center
    
    /*social-media-bar */.share-btn
        padding em(8)
        border 1px solid $blue-2
        border-radius .25em
        margin .5em
        transition color 200ms ease-in

        +media('sm')
            margin 0 0 0 em(15)

        &:before
            margin 0

        .no-touch &:hover
            color $white
            border-color $white

    .lang-select
        +media('xs')
            absolute top left
            padding em($default-padding) em($default-padding) 0
            width 100%

        .select-locale
            +media('xs')
                width 100%
        
    .copyright
        margin 1em
        $font-bold(15, 14, 30)
        color lighten($blue-2, 15%)

    /////////////////////
    /////// $MISC ///////
    /////////////////////
    .splash-signup
        margin-bottom 2em

    .landing-cta
        font-family $font-bold-val !important

@require 'directives/seo-links/Style'
@require 'directives/blog/Style'
