- var curYear = (new Date()).getFullYear();

.Footer
    .container(ng-transclude)

    //- wrap the non changing content in a relative positioned container
    .container.relative.w-padding
        .line
            .hidden-xs
                .left-side
                    .nav-logo

                .right-side.right-align
                    h4.find-us(i18n="standalone.FIND_US_SOCIAL_MEDIA")

            //- the language select drop down will live here on mobile
            .visible-xs.mobile-lang

        .line
            .left-side
                ul.links
                    li.link
                        a.page-url(
                            ui-sref="standalone.about"
                            ui-sref-active="active"
                            i18n="standalone.PAGES-ABOUT"
                            analytics-on="click"
                            analytics-category="footer"
                            analytics-event="click"
                            analytics-label="about page"
                        )

                    li.link
                        a#contactUsBtn.page-url(
                            ng-click="vars.modal('contact')"
                            i18n="standalone.PAGES-CONTACT"
                            analytics-on="click"
                            analytics-category="footer"
                            analytics-event="click"
                            analytics-label="contact form"
                        )

                    li.link
                        a#sendFeedbackBtn.page-url(
                            ng-click="vars.modal('feedback')"
                            i18n="standalone.SEND_FEEDBACK"
                            analytics-on="click"
                            analytics-category="footer"
                            analytics-event="click"
                            analytics-label="send feedback"
                        )

                    li.link
                        a.page-url(
                            ui-sref="standalone.privacyPolicy"
                            ui-sref-active="active"
                            i18n="standalone.PAGES-PRIVACY_POLICY"
                            analytics-on="click"
                            analytics-category="footer"
                            analytics-event="click"
                            analytics-label="privacy policy page"
                        )

                    li.link
                        a.page-url(
                            ui-sref="standalone.termsService"
                            ui-sref-active="active"
                            i18n="standalone.PAGES-TERMS_SERVICE"
                            analytics-on="click"
                            analytics-category="footer"
                            analytics-event="click"
                            analytics-label="tos page"
                        )

                    li.link
                        a.page-url.special(
                            ui-sref="standalone.donate"
                            ui-sref-active="active"
                            i18n="standalone.PAGES-DONATE"
                            analytics-on="click"
                            analytics-category="footer"
                            analytics-event="click"
                            analytics-label="donate page"
                        )

                    li.link.logged-in-only.visible-xs
                        a.page-url(
                            ng-click="vars.logout()"
                            i18n="common.LOGOUT_VERB"
                            analytics-on="click"
                            analytics-category="footer"
                            analytics-event="click"
                            analytics-label="log out (mobile)"
                        )

                    li.link.logged-out-only.visible-xs
                        a.page-url(
                            ui-sref="account.auth({ page: 'login' })"
                            i18n="common.LOGIN_VERB"
                            analytics-on="click"
                            analytics-category="footer"
                            analytics-event="click"
                            analytics-label="log IN (mobile)"
                        )

            .right-side.right-align.social-buns
                social-media-bar

        .line.lang-select
            settings-display-languages.select-locale.nav-locale.default-form

        footer-seo-links

        .row.center
            p.copyright
                | &#169; Chatterplot #{curYear}