section.Activity.List
    event-list(
        ng-if="type == 'events'"
        data-size="10"
        data-options="options.events"
        data-sub-type="events"
        data-stack="stack"
        data-on-refresh="onRefresh"
        data-zero-data-directive="search-zero-data"
        data-id="activityEvents"
        data-group="group"
    )

    people-list(
        ng-if="type == 'tandems'"
        data-size="15"
        data-options="options.tandems"
        data-sub-type="tandems"
        data-stack="stack"
        data-on-refresh="onRefresh"
        data-zero-data-directive="search-zero-data"
        data-id="activityTandems"
        data-group="group"
    )

    people-list(
        ng-if="type == 'teachers'"
        data-size="15"
        data-options="options.teachers"
        data-sub-type="teachers"
        data-stack="stack"
        data-on-refresh="onRefresh"
        data-zero-data-directive="search-zero-data"
        data-id="activityTeachers"
        data-group="group"
    )
