form.FR-message(
    name="Message"
)
    label.whole-row.subject(
        i18n="misc.INCLUDE_MESSAGE"
        for="FlowReqMessageField"
    )

    textarea.pw-100(
        ng-model="shared.message"
        id="FlowReqMessageField"
    )
