.v-select
    $photo-size = 65
    $padding = 20
    $background = $white
    $background-alt = $light-blue-1

    text-align left

    &.edit-mode
        .options-list
            border 1px solid $cyan

        .v-option,
        .v-input
            max-height em($photo-size)

        .edit-button
            max-height 0

    /*a*/.edit-button
        cursor pointer
        display block
        text-align right
        color $blue-2-50op
        line-height em($photo-size - ($padding * 2), 15)
        max-height em($photo-size - ($padding * 2), 15)
        transition-delay 500ms

        .no-touch &:hover
            color $blue-2

    .edit-button,
    .v-option,
    .v-input
        transition max-height 300ms ease-in
        overflow-y hidden

    .v-option,
    .v-input
        max-height 0

    /*.options-list */.v-option
        display block
        background $background
        cursor pointer

        &:nth-child(even)
            &,
            .input
                background $background-alt

            .input-square
                border-color $background-alt

        .no-touch &:hover
            .input
                border-color $cyan

    .sm-photo-wrap
        @extends .middle-align
        width em($photo-size)
        height em($photo-size)
        overflow hidden

    /*photo-wrap*/.v-photo
        height 100%

    /*.photo-wrap */.img
        background-size cover
        padding-bottom 100%

        +media('xs')
            height 100% !important

    /*.content */.inner-content
        padding em($padding)
        width calc('100% - ' + em($photo-size))

    /*span*/.v-name
        line-height unit($photo-size - ($padding * 2), 'px')

    .input
        background $background
        border 1px solid $blue-2
        width em($photo-size - ($padding * 2))
        height em($photo-size - ($padding * 2))
        float right

    /*.input */.input-square
        width 100%
        height 100%
        border 4px solid $background

    input:checked + .input-square
        @extends _blue-gradient
