.Landing
    background $white

    ////////// $CLASSES
    .border-top
        1px solid $blue-3

    ////////// $STRUCTURE
    /*.section*/.alt-bg
        background $light-blue-1

    .fb-like-container.bottom-splash
        absolute bottom
        left 50%
        transform translateX(-50%)
    
    .Activities.Search
        margin 0
        
        .content
            padding 1em 0 0
    
    .floating.fb-like-container
        text-align center
        margin 1em 0

    .splash-center
        text-align center

        .btn
            float none
            margin 0

    .footer-inline
        margin 0 auto em(35)
        
        .fb-like-container
            margin-top 2em
    
    .Footer
        .landing-cta
            color $white

    .section.primary
        .sec-title
            font-size 2em

            +media('sm')
                font-size 3em

        .sub-head
            font-size 1.5em

            +media('sm')
                font-size 2em

.LS-defaults
    /*h2*/.sec-header
        @extends .h1
        color $blue-2

        +media('xs')
            font-size em(25)

    /*h3*/.titles
        @extends .h2

    /*p*/.body-copy
        $font-italic(15, 14, 18)
        color $blue-3

/*body*/.body-landing
    .nav-search
        display none

///////////////////////////
///// $Splash-Content /////
///////////////////////////

// 3rd Tier Slides
$slideLength = 4
$slideUnit = 1 / $slideLength

_splash-body-font
    $font-italic(15, 14, 19)

.Splash-Content

    .out-container
        width 100%
        position relative
        padding 1.5em 0

        +media('sm')
            padding 2.5em 0

    .in-container
        margin 2em auto
        width 90%
        max-width em(675)

        +media('md')
            max-width em(825)
            margin 0 auto

    img
        margin 0 auto
        width 100%

    .fluid
        display block
        margin-left auto
        margin-right auto

        +media('sm')
            display inline-block
            vertical-align middle

    .display,
    .sm-display
        font-family $font-title-val
        margin-bottom .75em

    .h3
        font-size em(19)

    .intro
        background $white

        .illst
            width 85%
            margin-bottom em(20)

            +media('grey-zone')
                width 60%

            +media('sm')
                width 40%

            +media('md')
                margin 0 em(50) 0 em(20)

        .copy
            width 100%
            max-width em(405)

            +above($xs)
                width 59%

        .text
            @extends _splash-body-font

    .top-sec
        background $light-blue-1

        .in-container
            width 100%

    /*.top-sec */.sec
        $margin = 8
        $blocks = 3

        display block
        margin 3em auto
        padding-bottom 2em
        border-bottom 1px solid $light-blue-3
        width 90%
        text-align center

        &:first-child
            margin-top 0

        &:last-child
            padding-bottom 0
            border none
            margin-bottom 0

            +above($xs)
                margin 0

        +above($xs)
            border none
            width 31%
            display inline-block
            vertical-align top
            padding 0 em(6)
            margin 0 em(8) 0 0

        +media('sm')
            width 28%
            margin-right 0

        /*.sec */.text
            margin-bottom 1em

        /*.sec */img
            margin 0 auto

        .illst
            width 80%
            margin 0 auto

            +above($xs)
                width 100%

        img
            width 80%

            +above($xs)
                width 100%

    .sec-link
        display block

    /*.sec*/.odd
        +above($xs)
            margin-top 2em

    /*.top-sec */.arrow-divide
        width 8%
        text-align center
        display none

        +media('sm')
            display inline-block
            vertical-align bottom

        &[data-index="1"]
            transform rotate(10deg)

        &[data-index="2"]
            transform rotate(-30deg)

    .slides
        background $white

        /*.slide */.copy
            margin-bottom em(25, 13)

            +media('sm')
                max-width em(330)
                margin 0 em(30) 0 0

            +media('md')
                max-width em(405)
                margin-right em(60)

        .odd
            .copy
                +media('sm')
                    margin 0 0 0 em(30)

                +media('md')
                    margin 0 0 0 em(60)

        .text
            @extends _splash-body-font

        .illst
            width 85%
            margin-left auto
            margin-right auto

            +above($xs)
                margin-top em(30)
                width 65%

            +media('sm')
                margin-top 0
                width 42%


    /*.mask-slider */.slide
        @extends .middle-align
        width 100%


@import 'teacher/Style'
@import 'directives/fullShareBar/Style'
@import 'directives/addYourself/Style'

@import 'modals/eventHost/Style'
@import 'modals/tandem/Style'

@import 'sections/splash/Style'
@import 'sections/how-it-works/Style'
@import 'sections/regions/Style'
@import 'sections/video/Style'
