.Landing
    view-title meta.MLP_TITLE

    meta(view-head, property='og:title', i18n="true", content="meta.MLP_TITLE")
    meta(view-head, property='og:image', content='https://i.imgur.com/XYp08gj.png')
    meta(view-head, property='og:type', content='website')
    meta(view-head, property='og:url', content="{{::$root.CP.site.name}}")
    meta(
        view-head
        property="og:description"
        i18n="true"
        content="meta.MLP_DESC"
    )

    //- This whole container is the intro page you see when you land
    landing-section-splash.section.primary

    //- Language regions section
    ls-regions.section.alt-bg

    //- How it works section
    div.section(ng-include="'views/landing/sections/how-it-works/Template.html'")

    //- Video section
    div.section(ng-include="'views/landing/sections/video/Template.html'")

    ////- Testimonials section
    //div.section(ng-include="'views/landing/sections/testimonials/Template.html'")
    //
    ////- Add Yourself Section
    add-yourself.logged-out-only.border-top(data-form-only="true")

    //- fixed side share bar
    full-share-bar.desktop.hidden-xs(data-index="4")
        a.btn-yellow.btn.col-xs-12.visible-xs.logged-out-only(
            i18n="campaign.AD-ADD_SPK_CTA"
            ui-sref="standalone.addYourself"
            analytics-on="click"
            analytics-category="landing"
            analytics-event="click"
            analytics-label="bottom cta search events (mobile)"
        )

    div(ui-view="landing")

    site-footer
        footer-blog.section

        .border-dot


